Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher

ignore:
  - "eq-author/src/stories"

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/

comment: off

Added script to automatically build and deploy design system
  .github/workflows/deployDesignSystem.yml
Due: none

looking for why error[] is cleared
  eq-author-api/schema/resolvers/base.js
  eq-author/src/App/page/Design/Validation/AnswerValidation.js
  eq-author/src/App/page/Design/Validation/withToggleValidationRule.js
Due: author, api

Updated script to run on merge to master
  .github/workflows/deployDesignSystem.yml
  eq-author/.storybook/manager.js
  eq-author/.storybook/preview-head.html
  eq-author/.storybook/theme.js
Due: author

Removed unecessary files for this task
  eq-author/.storybook/manager.js
  eq-author/.storybook/preview-head.html
  eq-author/.storybook/theme.js
Due: author

update for validation
  eq-author-api/schema/resolvers/base.js
  eq-author-api/src/validation/createValidationError.js
  eq-author-api/src/validation/schemas/entities.json
Due: api

clean up
  eq-author-api/schema/resolvers/base.js
  eq-author/src/App/page/Design/Validation/AnswerValidation.js
Due: author, api

tidy tests and logs
  eq-author/src/App/page/Design/Validation/NumericValidation/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Design/Validation/NumericValidation/index.test.js
  eq-author/src/App/page/Design/Validation/withToggleValidationRule.js
Due: author

Tweaked template styles and content based on review feedback
  eq-author/.storybook/preview-head.html
  eq-author/src/components/Forms/Form/index.js
  eq-author/src/storybook/Components/Select.stories.mdx
Due: author

Storybook will now only show docs tab
  .github/workflows/authorPullRequest.yml
  .github/workflows/deployDesignSystem.yml
Due: none

Fixed linting issues
  eq-author/src/components/Forms/Form/index.js
Due: author

Deploying to gh-pages from @ d6967110b68ad699cc168913e03101e67b5b214c 🚀
  main.ef9f41d289a512134bae.bundle.js
  main.ef9f41d289a512134bae.bundle.js.map
  runtime~main.ef9f41d289a512134bae.bundle.js
  runtime~main.ef9f41d289a512134bae.bundle.js.map
  static/media/icon-checkbox.8a9cd420.svg
  vendors~main.ef9f41d289a512134bae.bundle.js
  vendors~main.ef9f41d289a512134bae.bundle.js.LICENSE.txt
  vendors~main.ef9f41d289a512134bae.bundle.js.map
Due: none

timeout issues on test
  eq-author-api/schema/tests/validation.test.js
Due: api

Removed blank return so Unit uses default title
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/index.js
Due: author

Simulating future change to design system
  eq-author/src/storybook/Introduction.stories.mdx
Due: author

Deploying to gh-pages from @ 06df7a11dcad703093cc86c636cd26a2196c8ddc 🚀
  iframe.html
  main.c3450a135a4054c0b343.bundle.js
  main.c3450a135a4054c0b343.bundle.js.map
  runtime~main.c3450a135a4054c0b343.bundle.js
  runtime~main.c3450a135a4054c0b343.bundle.js.map
  vendors~main.c3450a135a4054c0b343.bundle.js
  vendors~main.c3450a135a4054c0b343.bundle.js.LICENSE.txt
  vendors~main.c3450a135a4054c0b343.bundle.js.map
Due: none

Added design system to gitignore and updated scripts
  .github/workflows/deployDesignSystem.yml
  .gitignore
  eq-author/.gitignore
  eq-author/package.json
Due: author

Updated design system build script
  .github/workflows/deployDesignSystem.yml
Due: none

updated tests
  eq-author/src/App/page/Design/Validation/NumericValidation/CustomEditor.test.js
  eq-author/src/App/page/Design/Validation/NumericValidation/PreviousAnswerEditor.test.js
  eq-author/src/App/page/Design/Validation/NumericValidation/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Design/Validation/NumericValidation/index.test.js
Due: author

Updated design system introduction
  eq-author/src/storybook/Introduction.stories.mdx
Due: author

Deploying to gh-pages from @ 7f513c83c6e2953bba6e724bd2a54de4c9a77565 🚀
  iframe.html
  main.a417eced5a59c5b9e531.bundle.js
  main.a417eced5a59c5b9e531.bundle.js.map
  runtime~main.a417eced5a59c5b9e531.bundle.js
  runtime~main.a417eced5a59c5b9e531.bundle.js.map
  vendors~main.a417eced5a59c5b9e531.bundle.js
  vendors~main.a417eced5a59c5b9e531.bundle.js.LICENSE.txt
  vendors~main.a417eced5a59c5b9e531.bundle.js.map
Due: none

Updated design system nav
  eq-author/src/storybook/Introduction.stories.mdx
Due: author

Deploying to gh-pages from @ 92909086620522572318f019d6ab3186787c89b7 🚀
  iframe.html
  main.8c372b22167809b145b9.bundle.js
  main.8c372b22167809b145b9.bundle.js.map
  runtime~main.8c372b22167809b145b9.bundle.js
  runtime~main.8c372b22167809b145b9.bundle.js.map
  vendors~main.8c372b22167809b145b9.bundle.js
  vendors~main.8c372b22167809b145b9.bundle.js.LICENSE.txt
  vendors~main.8c372b22167809b145b9.bundle.js.map
Due: none

obsolete snap
  eq-author/src/App/page/Design/Validation/NumericValidation/__snapshots__/index.test.js.snap
Due: author

Correct multiline prop value
  eq-author/src/App/history/HistoryItem.js
  eq-author/src/App/history/HistoryPage.js
  eq-author/src/App/introduction/Design/IntroductionEditor/CollapsiblesEditor/CollapsibleEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/introduction/Design/IntroductionEditor/CollapsiblesEditor/CollapsibleEditor/index.js
  eq-author/src/App/introduction/Design/IntroductionEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/introduction/Design/IntroductionEditor/index.js
  eq-author/src/App/page/Design/QuestionPageEditor/AdditionalInfo.js
  eq-author/src/App/page/Design/QuestionPageEditor/MetaEditor.js
  eq-author/src/App/page/Design/QuestionPageEditor/__snapshots__/AdditionalInfo.test.js.snap
  eq-author/src/App/page/Design/QuestionPageEditor/__snapshots__/MetaEditor.test.js.snap
  eq-author/src/App/review/ReviewPage.js
  eq-author/src/App/section/Design/SectionEditor/__snapshots__/SectionEditor.test.js.snap
  eq-author/src/App/section/Design/SectionEditor/index.js
Due: author

select change and snap updates
  eq-author/src/App/page/Design/Validation/__snapshots__/MetadataContentPicker.test.js.snap
  eq-author/src/App/page/Design/Validation/__snapshots__/PreviousAnswerContentPicker.test.js.snap
  eq-author/src/App/page/Logic/BinaryExpressionEditor/__snapshots__/RoutingAnswerContentPicker.test.js.snap
  eq-author/src/components/ContentPickerSelect/index.js
Due: author

Added check for missing unit
  eq-author/src/components/preview/Answers/AnswerTrailingUnit.js
Due: author

TinyTestChange
  eq-author/src/components/ContentPickerSelect/index.js
Due: author

Restored setting title from type
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/index.js
Due: author

Updated snapshot
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/__snapshots__/index.test.js.snap
Due: author

unitTypes is no longer referenced
  eq-author-api/constants/unitTypes.js
Due: api
