Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher

ignore:
  - "eq-author/src/stories"

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/

comment: off

Fix propTypes shape
  eq-author/src/App/page/Logic/Routing/DestinationSelector/RoutingDestinationContentPicker.test.js
  eq-author/src/components/ContentPickerv2/DestinationPicker/Menu.js
  eq-author/src/components/ContentPickerv2/DestinationPicker/index.js
Due: author

Prune PropTypes
  eq-author/src/App/page/Logic/Routing/DestinationSelector/RoutingDestinationContentPicker.js
Due: author

Remove isRequired from sections propTypes
  eq-author/src/App/page/Logic/Routing/DestinationSelector/RoutingDestinationContentPicker.js
Due: author

fix for flatmap and node 10
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/PageNav.js
  eq-author/src/App/QuestionnaireDesignPage/index.js
  eq-author/src/App/page/Design/MovePageModal/index.js
  eq-author/src/App/page/Design/withDeletePage.js
  eq-author/src/App/section/Design/withDeleteSection.js
Due: author

Remove fragment
  eq-author/src/App/page/Logic/Routing/DestinationSelector/RoutingDestinationContentPicker.js
Due: author

Replace f3f3f3 with colors.lighterGrey
  eq-author/src/components/ContentPickerv2/DestinationPicker/Menu.test.js
  eq-author/src/components/ContentPickerv2/Menu.js
Due: author

Add colours to constants
  eq-author/src/components/ContentPickerv2/Menu.js
  eq-author/src/constants/theme.js
Due: author

Remove unwrapped and mock useQuery for test
  eq-author/src/App/page/Logic/Routing/DestinationSelector/RoutingDestinationContentPicker.js
  eq-author/src/App/page/Logic/Routing/DestinationSelector/RoutingDestinationContentPicker.test.js
  eq-author/src/components/BaseLayout/App/__snapshots__/index.test.js.snap
Due: author

Deploying to gh-pages from @ 5aadb5b459b67197a051057b56f01586ccf718e3 🚀
  iframe.html
  main.01ee18b7e7499c9614c4.bundle.js
  main.01ee18b7e7499c9614c4.bundle.js.map
  main.8f046b940044039638ed.bundle.js
  main.8f046b940044039638ed.bundle.js.map
  runtime~main.01ee18b7e7499c9614c4.bundle.js
  runtime~main.01ee18b7e7499c9614c4.bundle.js.map
  runtime~main.8f046b940044039638ed.bundle.js.map
  vendors~main.01ee18b7e7499c9614c4.bundle.js
  vendors~main.01ee18b7e7499c9614c4.bundle.js.LICENSE.txt
  vendors~main.01ee18b7e7499c9614c4.bundle.js.map
  vendors~main.8f046b940044039638ed.bundle.js.map
Due: none

🛠 Publisher: fix mutually exclusive checkboxes
  eq-publisher/src/eq_schema/builders/expressionGroup/basicQuestionnaireJSON.js
  eq-publisher/src/eq_schema/builders/expressionGroup/index.js
  eq-publisher/src/eq_schema/builders/expressionGroup/index.test.js
Due: publisher

🛠 Fix duplicating social questionnaires
  eq-author/src/App/QuestionnairesPage/withDuplicateQuestionnaire.js
Due: author

✅ withDuplicateQuestionnaire: fix tests
  eq-author/src/App/QuestionnairesPage/withDuplicateQuestionnaire.test.js
Due: author

✅ totalValidation: add tests for pre-existing AJV
  eq-author-api/src/validation/index.test.js
Due: api

✅ totalValidation: add tests for new AJV
  eq-author-api/src/validation/index.test.js
Due: api

♻️ Split up existing AJV schema
  eq-author-api/schema/resolvers/utils.js
  eq-author-api/src/validation/schemas/answer.json
  eq-author-api/src/validation/schemas/confirmationPage.json
  eq-author-api/src/validation/schemas/folder.json
  eq-author-api/src/validation/schemas/index.js
  eq-author-api/src/validation/schemas/logic.json
  eq-author-api/src/validation/schemas/option.json
  eq-author-api/src/validation/schemas/page.json
  eq-author-api/src/validation/schemas/questionnaire.json
  eq-author-api/src/validation/schemas/section.json
  eq-author-api/src/validation/schemas/validation.json
Due: api

♻️ answer.json: move conditionals to top level
  eq-author-api/src/validation/schemas/answer.json
Due: api

🛠 Folders: make migration consistent with API
  eq-author-api/migrations/addFolders.js
Due: api

🧹 Tidy up folders migration
  eq-author-api/migrations/addFolders.js
Due: api

🛠 MovePageModal: use context for accurate position
  eq-author/src/App/page/Design/MovePageModal/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Design/MovePageModal/index.js
  eq-author/src/App/page/Design/MovePageModal/index.test.js
  eq-author/src/components/PositionModal/index.js
  eq-author/src/components/PositionModal/index.test.js
Due: author

🛠 Fix new folder info not pulled after page move
  eq-author/src/graphql/movePage.graphql
Due: author

♻️ Remove unnecessary getQuestionnaire query
  eq-author/src/App/page/Design/MovePageModal/MovePageQuery.js
  eq-author/src/App/page/Design/PageHeader.js
  eq-author/src/App/page/Design/PageHeader.test.js
Due: author

🧹 Lint (remove debug console.logs)
  eq-author/src/App/page/Design/MovePageModal/index.js
Due: author

🛠 MovePageModal: check questionnaire exists
  eq-author/src/App/page/Design/MovePageModal/index.js
  eq-author/src/App/page/Design/MovePageModal/index.test.js
Due: author

🛠 Remove "pages" from section AJV schema
  eq-author-api/src/validation/schemas/section.json
Due: api

🛠 Allow page -> routing to be null in AJV schema
  eq-author-api/src/validation/schemas/page.json
Due: api

♻️ AJV: Remove duplication in numericAnswer rules
  eq-author-api/src/validation/schemas/answer.json
  eq-author-api/src/validation/schemas/validation.json
Due: api

⬆ Update node.js version to 14
  eq-author-api/.nvmrc
  eq-author-api/Dockerfile
Due: api

⏪ Revert temporary AJV fix
  eq-author-api/src/validation/index.js
Due: api

✅ Update GitHub PR action for tests
  .github/workflows/apiPullRequest.yml
Due: none

🛠 Update GitHub actions build to use node 14
  .github/workflows/apiPullRequest.yml
Due: none

Removed incorrect and now unused modal, files and tests
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/UpdateQuestionnaireSettingsModal/index.js
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/App/QuestionnaireSettingsModal/QuestionnaireMeta/__snapshots__/QuestionnaireMeta.test.js.snap
  eq-author/src/App/QuestionnaireSettingsModal/QuestionnaireMeta/index.js
  eq-author/src/App/QuestionnaireSettingsModal/__snapshots__/index.test.js.snap
  eq-author/src/App/QuestionnairesPage/QuestionnairesView/QuestionnairesTable/Row/index.js
  eq-author/src/App/QuestionnairesPage/withDuplicateQuestionnaire.js
  eq-author/src/components/EditorLayout/Header/UpdateQuestionnaireSettingsModal/index.js
  eq-author/src/components/EditorLayout/Header/UpdateQuestionnaireSettingsModal/withUpdateQuestionnaire.js
  eq-author/src/components/EditorLayout/Header/UpdateQuestionnaireSettingsModal/withUpdateQuestionnaire.test.js
  eq-author/src/components/EditorLayout/Header/index.js
Due: author

♻️ AJV: Factor out dateAnswer validation
  eq-author-api/src/validation/schemas/answer.json
  eq-author-api/src/validation/schemas/validation.json
Due: api

✅ Add test for generating ERR_OFFSET_NO_VALUE
  eq-author-api/src/validation/index.test.js
  eq-author-api/src/validation/schemas/validation.json
Due: api

✅ AJV: enable strict mode for keywords
  eq-author-api/src/validation/index.js
Due: api

♻️ AJV: factor out common DateRange schemas
  eq-author-api/src/validation/schemas/answer.json
  eq-author-api/src/validation/schemas/validation.json
Due: api

♻️ Unify previousAnswer validation for all types
  eq-author-api/src/validation/customKeywords/idPreceedsCurrentEntity.js
  eq-author-api/src/validation/schemas/page.json
  eq-author-api/src/validation/schemas/validation.json
Due: api

refactored to func component, tests failing
  eq-author/src/App/QuestionnairesPage/QuestionnairesView/QuestionnairesTable/Row/__snapshots__/index.test.js.snap
  eq-author/src/App/QuestionnairesPage/QuestionnairesView/QuestionnairesTable/Row/index.js
  eq-author/src/App/QuestionnairesPage/QuestionnairesView/QuestionnairesTable/Row/index.test.js
  eq-author/src/App/QuestionnairesPage/withDuplicateQuestionnaire.js
Due: author

✅ Update test for totalValidation - new error code
  eq-author-api/src/validation/index.test.js
Due: api

💥 Delete un-used keyword
  eq-author-api/src/validation/customKeywords/failValidation.js
  eq-author-api/src/validation/customKeywords/index.js
Due: api

fixed tests - needs tidy up
  eq-author/src/App/QuestionnairesPage/QuestionnairesView/QuestionnairesTable/Row/__snapshots__/index.test.js.snap
  eq-author/src/App/QuestionnairesPage/QuestionnairesView/QuestionnairesTable/Row/index.js
  eq-author/src/App/QuestionnairesPage/QuestionnairesView/QuestionnairesTable/Row/index.test.js
Due: author
