Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher

ignore:
  - "eq-author/src/stories"

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/

comment: off

Updated typdefs for folders
  0
  eq-author-api/schema/typeDefs.js
Due: api

Updated resolver to let app boot up
  eq-author-api/schema/resolvers/base.js
Due: api

basics all working - needs refinement
  eq-author-api/src/validation/schemas/entities.json
  eq-author/src/App/page/Design/Validation/AnswerValidation.js
  eq-author/src/App/page/Design/Validation/DurationValidation.js
Due: author, api

fix broken tests and tidy up
  eq-author/src/App/page/Design/Validation/AnswerValidation.js
  eq-author/src/App/page/Design/Validation/AnswerValidation.test.js
  eq-author/src/App/page/Design/Validation/DurationValidation.js
  eq-author/src/App/page/Design/Validation/DurationValidation.test.js
  eq-author/src/App/page/Design/Validation/__snapshots__/AnswerValidation.test.js.snap
  eq-author/src/App/page/Design/Validation/__snapshots__/DurationValidation.test.js.snap
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/__snapshots__/index.test.js.snap
Due: author

Add scrollpane to storybook
  eq-author/.storybook/main.js
  eq-author/src/components/ScrollPane/index.js
  eq-author/src/storybook/Components/ScrollPane.stories.mdx
Due: author

Deploying to gh-pages from @ 3822135dd8fb25113ffb86902425e0dc6a42273b 🚀
  iframe.html
  index.html
  main.32bb4acb7c8d21117de1.bundle.js
  main.630316ddeef1d5a1259a.bundle.js
  main.630316ddeef1d5a1259a.bundle.js.map
  runtime~main.630316ddeef1d5a1259a.bundle.js
  runtime~main.630316ddeef1d5a1259a.bundle.js.map
  vendors~main.630316ddeef1d5a1259a.bundle.js
  vendors~main.630316ddeef1d5a1259a.bundle.js.LICENSE.txt
  vendors~main.630316ddeef1d5a1259a.bundle.js.map
  vendors~main.c9111a0adef039f4dace.bundle.js
  vendors~main.c9111a0adef039f4dace.bundle.js.LICENSE.txt
Due: none

Introduced 'request' module to fix staging
  eq-author-api/package.json
Due: api

Refactor DateValidation in style of NumericValidation - split components/tests
  eq-author/src/App/page/Design/Validation/DateValidation.js
  eq-author/src/App/page/Design/Validation/DateValidation/CustomEditor.js
  eq-author/src/App/page/Design/Validation/DateValidation/CustomEditor.test.js
  eq-author/src/App/page/Design/Validation/DateValidation/MetadataEditor.js
  eq-author/src/App/page/Design/Validation/DateValidation/MetadataEditor.test.js
  eq-author/src/App/page/Design/Validation/DateValidation/PositionPicker.js
  eq-author/src/App/page/Design/Validation/DateValidation/PositionPicker.test.js
  eq-author/src/App/page/Design/Validation/DateValidation/PreviousAnswerEditor.js
  eq-author/src/App/page/Design/Validation/DateValidation/PreviousAnswerEditor.test.js
  eq-author/src/App/page/Design/Validation/DateValidation/__snapshots__/CustomEditor.test.js.snap
  eq-author/src/App/page/Design/Validation/DateValidation/__snapshots__/MetadataEditor.test.js.snap
  eq-author/src/App/page/Design/Validation/DateValidation/__snapshots__/PositionPicker.test.js.snap
  eq-author/src/App/page/Design/Validation/DateValidation/__snapshots__/PreviousAnswerEditor.test.js.snap
  eq-author/src/App/page/Design/Validation/DateValidation/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Design/Validation/DateValidation/components.js
  eq-author/src/App/page/Design/Validation/DateValidation/index.js
  eq-author/src/App/page/Design/Validation/DateValidation/index.test.js
  eq-author/src/App/page/Design/Validation/__snapshots__/DateValidation.test.js.snap
Due: author

linting issue
  eq-author/src/App/page/Design/Validation/DateValidation/index.test.js
Due: author

Written util functions for folders
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/resolvers/utils.js
  eq-author-api/schema/tests/folder.test.js
  eq-author-api/tests/utils/contextBuilder/questionnaire/createQuestionnaire.js
Due: api

Linting
  eq-author-api/schema/tests/folder.test.js
Due: api

Updated 'getPages' util
  eq-author-api/schema/resolvers/utils.js
Due: api

extra tests
  eq-author/src/App/page/Design/Validation/DurationValidation.test.js
  eq-author/src/App/page/Design/Validation/__snapshots__/DurationValidation.test.js.snap
Due: author

Update tests
  eq-author/src/App/QuestionnaireDesignPage/__snapshots__/index.test.js.snap
  eq-author/src/components/EditorLayout/__snapshots__/index.test.js.snap
Due: author

Updates from review feedback
  eq-author-api/src/validation/customKeywords/validateExpression.js
  eq-author-api/src/validation/customKeywords/validateMultipleChoiceCondition.js
  eq-author/src/constants/validationMessages.js
Due: author, api

Updates from review feedback
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.test.js
Due: author

Updates from review feedback
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MultipleChoiceAnswerOptionsSelector.test.js
  eq-author/src/constants/validationMessages.js
Due: author

Format changes
  eq-author/src/storybook/Components/ScrollPane.stories.mdx
Due: author

Add ajv check for question definition
  eq-author-api/src/validation/schemas/entities.json
Due: api

codacy fix
  eq-author/src/App/page/Design/Validation/DateValidation/index.js
Due: author

another codacy fix
  eq-author/src/App/page/Design/Validation/DateValidation/index.js
Due: author

Test added
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MultipleChoiceAnswerOptionsSelector.test.js
Due: author

Added validation to Unit type
  eq-author-api/src/validation/schemas/entities.json
  eq-author/src/App/page/Design/QuestionPageEditor/MetaEditor.js
  eq-author/src/constants/validationMessages.js
Due: author, api

Apply suggestions from code review
  eq-author/src/storybook/Components/ScrollPane.stories.mdx
Due: author

refactor for Matt
  eq-author/src/App/page/Design/Validation/DateValidation/index.js
  eq-author/src/App/page/Design/Validation/DurationValidation.js
Due: author

Added error messages for Def label and content
  eq-author/src/App/page/Design/QuestionPageEditor/MetaEditor.js
  eq-author/src/constants/validationMessages.js
Due: author

Deploying to gh-pages from @ f9e23decd50394b67222d5f070ec4dc8e97a89a0 🚀
  iframe.html
  index.html
  main.12f4f3375489bbb896ce.bundle.js
  main.12f4f3375489bbb896ce.bundle.js.map
  main.60f81d8339c254788835.bundle.js
  runtime~main.12f4f3375489bbb896ce.bundle.js
  runtime~main.12f4f3375489bbb896ce.bundle.js.map
  vendors~main.12f4f3375489bbb896ce.bundle.js
  vendors~main.12f4f3375489bbb896ce.bundle.js.LICENSE.txt
  vendors~main.12f4f3375489bbb896ce.bundle.js.map
  vendors~main.70b46ff0e00a5517c56f.bundle.js
  vendors~main.70b46ff0e00a5517c56f.bundle.js.LICENSE.txt
Due: none

Merge refactoring changes
  eq-author-api/src/validation/schemas/entities.json
  eq-author/src/App/page/Design/Validation/AnswerValidation.js
  eq-author/src/App/page/Design/Validation/AnswerValidation.test.js
  eq-author/src/App/page/Design/Validation/DateValidation.js
  eq-author/src/App/page/Design/Validation/DateValidation/CustomEditor.js
  eq-author/src/App/page/Design/Validation/DateValidation/CustomEditor.test.js
  eq-author/src/App/page/Design/Validation/DateValidation/MetadataEditor.js
  eq-author/src/App/page/Design/Validation/DateValidation/MetadataEditor.test.js
  eq-author/src/App/page/Design/Validation/DateValidation/PositionPicker.js
  eq-author/src/App/page/Design/Validation/DateValidation/PositionPicker.test.js
  eq-author/src/App/page/Design/Validation/DateValidation/PreviousAnswerEditor.js
  eq-author/src/App/page/Design/Validation/DateValidation/PreviousAnswerEditor.test.js
  eq-author/src/App/page/Design/Validation/DateValidation/__snapshots__/CustomEditor.test.js.snap
  eq-author/src/App/page/Design/Validation/DateValidation/__snapshots__/MetadataEditor.test.js.snap
  eq-author/src/App/page/Design/Validation/DateValidation/__snapshots__/PositionPicker.test.js.snap
  eq-author/src/App/page/Design/Validation/DateValidation/__snapshots__/PreviousAnswerEditor.test.js.snap
  eq-author/src/App/page/Design/Validation/DateValidation/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Design/Validation/DateValidation/components.js
  eq-author/src/App/page/Design/Validation/DateValidation/index.js
  eq-author/src/App/page/Design/Validation/DateValidation/index.test.js
  eq-author/src/App/page/Design/Validation/DurationValidation.js
  eq-author/src/App/page/Design/Validation/DurationValidation.test.js
  eq-author/src/App/page/Design/Validation/__snapshots__/AnswerValidation.test.js.snap
  eq-author/src/App/page/Design/Validation/__snapshots__/DateValidation.test.js.snap
  eq-author/src/App/page/Design/Validation/__snapshots__/DurationValidation.test.js.snap
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/__snapshots__/index.test.js.snap
Due: author, api

Fix linting error
  eq-author/src/App/page/Design/QuestionPageEditor/MetaEditor.js
Due: author

Add check for null or empty string
  eq-author-api/src/validation/schemas/entities.json
Due: api

Refactored error messages
  eq-author-api/src/validation/schemas/entities.json
  eq-author/src/App/page/Design/QuestionPageEditor/MetaEditor.js
  eq-author/src/constants/validationMessages.js
Due: author, api

Added null check back in
  eq-author-api/src/validation/schemas/entities.json
Due: api

Changed anyOf test to allOf for nulls and string
  eq-author-api/src/validation/schemas/entities.json
Due: api

Amend content for scroll pane
  eq-author/src/storybook/Components/ScrollPane.stories.mdx
  eq-author/src/storybook/Patterns/ScrollPane.stories.js
Due: author

Refactor errors
  eq-author/src/App/page/Design/QuestionPageEditor/MetaEditor.js
Due: author

Added tests
  eq-author/src/App/page/Design/QuestionPageEditor/MetaEditor.js
  eq-author/src/App/page/Design/QuestionPageEditor/MetaEditor.test.js
  eq-author/src/App/page/Design/QuestionPageEditor/__snapshots__/MetaEditor.test.js.snap
Due: author

Updated snapshot and removed unused loadash item
  eq-author/src/App/page/Design/QuestionPageEditor/MetaEditor.js
  eq-author/src/App/page/Design/QuestionPageEditor/__snapshots__/MetaEditor.test.js.snap
Due: author

Update Introduction.stories.mdx
  eq-author/src/storybook/Introduction.stories.mdx
Due: author

Deploying to gh-pages from @ 9bb2eb05923bcc926ffbd25992e2f6d19e0d4f60 🚀
  iframe.html
  main.102c7836440790cac848.bundle.js
  main.102c7836440790cac848.bundle.js.map
  runtime~main.102c7836440790cac848.bundle.js
  runtime~main.102c7836440790cac848.bundle.js.map
  vendors~main.102c7836440790cac848.bundle.js
  vendors~main.102c7836440790cac848.bundle.js.LICENSE.txt
  vendors~main.102c7836440790cac848.bundle.js.map
Due: none

Amend business logic for folders update
  eq-author-api/schema/resolvers/logic/routing2/routingRule2/index.js
  eq-author-api/schema/resolvers/utils.js
  eq-author-api/src/businessLogic/availableRoutingDestinations.js
  eq-author-api/src/businessLogic/createAnswer.js
  eq-author-api/src/businessLogic/createValidation.js
  eq-author-api/src/businessLogic/getNextDestination.js
  eq-author-api/src/businessLogic/getPreviousAnswersForPage.js
  eq-author-api/src/businessLogic/getPreviousAnswersForSection.js
  eq-author-api/src/businessLogic/onSectionDeleted.js
Due: api
