Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher

ignore:
  - "eq-author/src/stories"

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/

comment: off

✨ EAR 349 - Add ability to star questionnaires
  eq-author-api/db/datastore/datastore-dynamodb.js
  eq-author-api/db/datastore/datastore-mongodb.js
  eq-author-api/db/models/DynamoDB.js
  eq-author-api/middleware/identification/getUserFromHeader.js
  eq-author-api/middleware/identification/upsertUser.js
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/tests/questionnaire.test.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/tests/utils/contextBuilder/index.js
  eq-author-api/tests/utils/contextBuilder/questionnaire/index.js
  eq-author-api/tests/utils/contextBuilder/questionnaire/queryQuestionnaire.js
  eq-author-api/tests/utils/contextBuilder/questionnaire/toggleQuestionnaireStarred.js
  eq-author-api/tests/utils/mockUserPayload.js
  eq-author/src/App/QuestionnairesPage/QuestionnairesView/QuestionnairesTable/Row/index.js
  eq-author/src/App/QuestionnairesPage/QuestionnairesView/QuestionnairesTable/Row/index.test.js
  eq-author/src/App/QuestionnairesPage/QuestionnairesView/QuestionnairesTable/TableHead/index.js
  eq-author/src/App/QuestionnairesPage/QuestionnairesView/QuestionnairesTable/index.js
  eq-author/src/App/QuestionnairesPage/QuestionnairesView/reducer.js
  eq-author/src/App/QuestionnairesPage/index.test.js
  eq-author/src/assets/icon-starred.svg
  eq-author/src/assets/icon-unstarred.svg
  eq-author/src/graphql/toggleQuestionnaireStarred.graphql
  eq-author/src/hooks/useToggleQuestionnaireStarred.js
Due: author, api

Test
  eq-author/.storybook/main.js
  eq-author/.storybook/preview-head.html
  eq-author/.storybook/preview.js
  eq-author/package.json
  eq-author/yarn.lock
Due: author

Test
  eq-author/.storybook/preview-head.html
  eq-author/package.json
Due: author

Updated collapsible'
  eq-author/src/components/Collapsible/index.js
Due: author

Merge stuff
  package.json
  yarn.lock
Due: none

Fixed ability to push
  eq-author/package.json
  eq-author/yarn.lock
  package.json
  yarn.lock
Due: author

Revert "Bump husky from 5.1.3 to 5.2.0"
  eq-author-api/package.json
  eq-author-api/yarn.lock
  eq-author/package.json
  eq-author/yarn.lock
  yarn.lock
Due: author, api

Sorted comments and authors can now only edit their own comment
  eq-author/src/App/Comments/index.js
  eq-author/src/components/Comments/PureComment/index.js
Due: author

Added eslint
  eq-author/package.json
  eq-author/yarn.lock
Due: author

Merge
  yarn.lock
Due: none

Merge
  package.json
  yarn.lock
Due: none

test
  eq-author/README.md
Due: author

Untest
  eq-author/README.md
Due: author

fix package
  eq-author/package.json
  eq-author/yarn.lock
  package.json
  yarn.lock
Due: author

Updated test
  eq-author/src/components/Comments/PureComment/index.test.js
Due: author

Told codecov to ignore storybook
  .codecov.yml
Due: none

Initial commit
  eq-author/src/App/settings/GeneralSettingsPage.js
Due: author

Component made; tested; documented
  eq-author/src/components/CollapsibleToggled/index.js
  eq-author/src/components/CollapsibleToggled/index.test.js
  eq-author/src/storybook/Components/CollapsibleToggled.stories.js
Due: author

Updated starwars quotes
  eq-author/src/components/CollapsibleToggled/index.test.js
Due: author

Added themes collapsibles to settings page
  eq-author/src/App/settings/ThemesPage.js
  eq-author/src/components/CollapsibleToggled/index.js
Due: author

Added key for linter
  eq-author/src/App/settings/ThemesPage.js
Due: author

Added UKIS NI theme
  eq-author/src/App/settings/ThemesPage.js
Due: author

Update eq-author/src/components/Comments/Comment/index.js
  eq-author/src/components/Comments/Comment/index.js
Due: author

Update eq-author/src/App/Comments/index.js
  eq-author/src/App/Comments/index.js
Due: author

Update eq-author/src/components/Comments/PureComment/index.js
  eq-author/src/components/Comments/PureComment/index.js
Due: author

Add toggle functionality
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/QuestionnaireDesignPage/getQuestionnaireQuery.graphql
  eq-author/src/App/settings/GeneralSettingsPage.js
  eq-author/src/graphql/fragments/questionnaire.graphql
Due: author, api

✨ EAR 1249 - Add API for locking questionnaires
  eq-author-api/db/baseQuestionnaireSchema.js
  eq-author-api/db/datastore/datastore-mongodb.js
  eq-author-api/db/models/DynamoDB.js
  eq-author-api/migrations/addLockedStatus.js
  eq-author-api/migrations/addLockedStatus.test.js
  eq-author-api/migrations/index.js
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/resolvers/createMutation.js
  eq-author-api/schema/resolvers/withPermissions.js
  eq-author-api/schema/tests/comments.test.js
  eq-author-api/schema/tests/duplication.test.js
  eq-author-api/schema/tests/questionnaire.test.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/tests/utils/contextBuilder/questionnaire/index.js
  eq-author-api/tests/utils/contextBuilder/questionnaire/queryQuestionnaire.js
  eq-author-api/tests/utils/contextBuilder/questionnaire/setQuestionnaireLocked.js
Due: api

EAR-1004 move questions in/out of a folder
  eq-author-api/migrations/addDefaultTheme.js
  eq-author-api/migrations/addDefaultTheme.test.js
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/tests/questionnaire.test.js
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/QuestionnaireDesignPage/getQuestionnaireQuery.graphql
  eq-author/src/App/page/Design/MovePageModal/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Design/MovePageModal/index.js
  eq-author/src/App/page/Design/MovePageModal/index.test.js
  eq-author/src/App/page/Design/index.js
  eq-author/src/App/page/Design/withMovePage.js
  eq-author/src/App/page/Design/withMovePage.test.js
  eq-author/src/App/section/Design/index.test.js
  eq-author/src/components/ItemSelectModal/ItemSelect.js
  eq-author/src/components/ItemSelectModal/__snapshots__/ItemSelect.test.js.snap
  eq-author/src/components/PositionModal/__snapshots__/index.test.js.snap
  eq-author/src/components/PositionModal/index.js
  eq-author/src/components/PositionModal/index.test.js
  eq-author/src/graphql/fragments/folder.graphql
  eq-author/src/graphql/getQuestionnaire.graphql
  eq-publisher/src/constants/legalBases.js
  eq-publisher/src/eq_schema/Questionnaire.js
  eq-publisher/src/eq_schema/Questionnaire.test.js
  eq-publisher/src/getQuestionnaire/queries.js
Due: author, api, publisher

fix: remove debug from test
  eq-author/src/components/PositionModal/index.test.js
Due: author

Update eq-author-api/schema/resolvers/withPermissions.js
  eq-author-api/schema/resolvers/withPermissions.js
Due: api

fix: check section is already closed
  eq-author/src/App/page/Design/MovePageModal/index.test.js
Due: author

fix: improve folder jump readability
  eq-author/src/components/PositionModal/index.js
Due: author

✨ EAR 1252 - Add confirmation modal component
  eq-author/.storybook/main.js
  eq-author/package.json
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/__snapshots__/Option.test.js.snap
  eq-author/src/assets/icon-locked.svg
  eq-author/src/assets/icon-unlocked.svg
  eq-author/src/assets/icon-warning.svg
  eq-author/src/components/buttons/DeleteButton/__snapshots__/deletebutton.test.js.snap
  eq-author/src/components/buttons/DeleteButton/index.js
  eq-author/src/components/datatable/Controls/__snapshots__/DeleteRowButton.test.js.snap
  eq-author/src/components/modals/ConfirmationModal/ConfirmationModal.test.js
  eq-author/src/components/modals/ConfirmationModal/index.js
  eq-author/src/storybook/Components/ConfirmationModal.stories.js
Due: author
