Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher

ignore:
  - "eq-author/src/stories"

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/

comment: off

Outline additional test cases
  eq-author/src/components/Autocomplete/index.js
  eq-author/src/components/Autocomplete/index.test.js
Due: author

small tidy up
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector.js
Due: author

add toLowerCase()
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector.js
Due: author

Read error before the error message on screen reader
  eq-author/src/App/page/Design/Validation/AnswerValidation.js
  eq-author/src/components/ErrorInline/__snapshots__/index.test.js.snap
  eq-author/src/components/ErrorInline/index.js
Due: author

Add message to update PR title
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Finish tests for autocomplete
  eq-author/src/components/Autocomplete/index.test.js
Due: author

Replace hyphen with colon
  eq-author/src/App/page/Design/Validation/AnswerValidation.js
  eq-author/src/components/ErrorInline/index.js
Due: author

Update test
  eq-author/src/components/ErrorInline/__snapshots__/index.test.js.snap
Due: author

✨ Add constant for "Text (Optional)"
  eq-author-api/constants/metadataTypes.js
  eq-author-api/utils/defaultMetadata.js
  eq-author/src/App/metadata/MetadataTable/Row.js
  eq-author/src/constants/metadata-types.js
Due: author, api

♻️ Refactor defaultMetadata to use constants
  eq-author-api/utils/defaultMetadata.js
Due: api

✨ Add "Text (Optional)" to drop-down meta options
  eq-author/src/App/metadata/MetadataTable/Row.js
Due: author

✨ Update publisher v2 to support "Text (Optional)"
  eq-publisher/src/eq_schema/Questionnaire.js
Due: publisher

Remove old unit selector tests
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/index.test.js
Due: author

Add filter
  eq-author/src/components/Autocomplete/index.js
Due: author

Pause: trying to update coverage
  eq-author/src/components/Autocomplete/index.test.js
Due: author

🛠♻️ Add Text_Optional in gql enum; refactor consts
  eq-author-api/constants/metadataTypes.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/utils/defaultMetadata.js
  eq-author/src/App/metadata/MetadataTable/Controls/Select.js
  eq-author/src/App/metadata/MetadataTable/Row.js
  eq-author/src/constants/metadata-types.js
  eq-author/src/custom-prop-types/index.js
  eq-publisher/src/eq_schema/Questionnaire.js
Due: author, api, publisher

✅ Publisher v2: add tests
  eq-publisher/src/eq_schema/Questionnaire.test.js
Due: publisher

✅ Fix Author API tests
  eq-author-api/db/datastore/datastore-firestore.test.js
  eq-author-api/schema/tests/metadata.test.js
Due: api

✅ Fix front-end tests / update snapshots
  eq-author/src/App/metadata/MetadataTable/Controls/Select.test.js
  eq-author/src/App/metadata/MetadataTable/Controls/__snapshots__/Select.test.js.snap
  eq-author/src/App/metadata/MetadataTable/__snapshots__/Row.test.js.snap
Due: author

Implement radio design changes
  eq-author/src/components/Forms/Input/index.js
  eq-author/src/components/Radio/index.js
Due: author

✨ Update fragments
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/PageNav.js
  eq-author/src/graphql/createCalculatedSummaryPage.graphql
  eq-author/src/graphql/createQuestionPage.graphql
  eq-author/src/graphql/createQuestionnaire.graphql
  eq-author/src/graphql/deletePage.graphql
  eq-author/src/graphql/getQuestionnaire.graphql
  eq-author/src/graphql/sectionFragment.graphql
Due: author

🛠 Fix nav bar / page view
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/PageNav.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/SectionNavItem.js
  eq-author/src/App/page/Design/PageHeader.js
Due: author

🛠 Fix "no routing" page
  eq-author/src/App/page/Logic/Routing/RoutingPage/NoRouting.js
Due: author

💩 Temporary hack for "move page" modal
  eq-author/src/App/page/Design/MovePageModal/index.js
Due: author

Remove profiler
  eq-author/src/components/Autocomplete/index.js
Due: author

Add controls to storybook
  eq-author/src/storybook/Components/Autocomplete.stories.mdx
Due: author

Update tests and remove false positives
  eq-author/src/components/Autocomplete/index.test.js
Due: author

✨ Allow querying parent folder of questions
  eq-author-api/schema/resolvers/pages/calculatedSummaryPage.js
  eq-author-api/schema/resolvers/pages/questionPage.js
Due: api

🛠 Delete folders when all questions deleted
  eq-author-api/schema/resolvers/pages/index.js
Due: api

🛠 Update typedefs per previous commit
  eq-author-api/schema/typeDefs.js
Due: api

🛠 Fix deleting pages on front-end
  eq-author-api/src/businessLogic/deleteFirstPageSkipConditions.js
  eq-author-api/src/businessLogic/deleteLastPageRouting.js
  eq-author/src/App/page/Design/withDeletePage.js
Due: author, api

🧹 Linting
  eq-author-api/schema/resolvers/pages/index.js
Due: api

🛠 Fix adding questions from navbar menu
  eq-author/src/App/QuestionnaireDesignPage/index.js
  eq-author/src/constants/entities.js
Due: author

🛠 Fix duplicating page
  eq-author/src/graphql/duplicatePage.graphql
Due: author

🛠 Fix create section
  eq-author/src/graphql/createSection.graphql
Due: author

🛠 Fix duplicate section
  eq-author/src/graphql/createSection.graphql
  eq-author/src/graphql/duplicateSection.graphql
  eq-author/src/graphql/fragments/folder.graphql
Due: author

Implement radio label background colour
  eq-author/src/components/Radio/index.js
Due: author

🛠 Fix deleting section
  eq-author/src/App/section/Design/withDeleteSection.js
  eq-author/src/graphql/deleteSection.graphql
Due: author

Change text colour on selected radio item
  eq-author/src/App/introduction/Design/IntroductionEditor/LegalBasisField.js
  eq-author/src/components/Radio/index.js
Due: author

🛠 Fix routing logic page
  eq-author/src/App/page/Logic/Routing/DestinationSelector/getAvailableRoutingDestinations.graphql
Due: author
