Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

fixed preview without prettyness
  eq-author/src/App/introduction/Preview/index.js
Due: author

fixing some stlyes in the preview
  eq-author/src/App/introduction/Preview/index.js
Due: author

Apply suggestions from Tom B's code review
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/index.js
Due: author

added some more styles and started tests
  eq-author/src/App/introduction/Design/IntroductionEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/introduction/Design/IntroductionEditor/index.js
  eq-author/src/App/introduction/Design/IntroductionEditor/index.test.js
  eq-author/src/App/introduction/Preview/__snapshots__/index.test.js.snap
  eq-author/src/App/introduction/Preview/index.js
Due: author

⚡️ Improve validation performance (large surveys)
  eq-author-api/src/validation/customKeywords/validatePipingInTitle.js
  eq-author-api/src/validation/index.js
Due: api

🛠 Fix creating social questionnaires
  eq-author/src/App/QuestionnairesPage/withCreateQuestionnaire.js
Due: author

testing-library to 11.2.2
  eq-author/yarn.lock
Due: author

Got the panel working in runner
  eq-author/src/App/introduction/Design/IntroductionEditor/index.js
  eq-publisher/src/eq_schema/block-types/Introduction.js
  eq-publisher/src/getQuestionnaire/queries.js
Due: author, publisher

Oh yeah got the on off switch working
  eq-author/src/App/introduction/Design/IntroductionEditor/index.js
  eq-publisher/src/eq_schema/block-types/Introduction.js
Due: author, publisher

🛠 Check minimal attributes for duplication
  eq-author-api/src/validation/index.js
Due: api

removed the comment
  eq-author/src/components/buttons/ToggleSwitch/index.js
Due: author

⚡️ Further optimisations to validation
  eq-author-api/src/validation/customKeywords/validatePipingInTitle.js
  eq-author-api/src/validation/index.js
Due: api

added missing Boolean
  eq-author-api/schema/typeDefs.js
Due: api

removed daft default content from panel
  eq-author-api/utils/createQuestionnaireIntroduction.js
Due: api

✅ Add test to cover valid piped titles
  eq-author-api/src/validation/index.test.js
Due: api

✅ Fix withCreateQuestionnaire test
  eq-author/src/App/QuestionnairesPage/withCreateQuestionnaire.test.js
Due: author

fix: eq-author-api/package.json & eq-author-api/yarn.lock to reduce vulnerabilities
  eq-author-api/package.json
  eq-author-api/yarn.lock
Due: api

updated connection method
  eq-author-api/db/datastore/datastore-dynamodb.js
  eq-author-api/db/datastore/index.js
Due: api

Fix placeholder contrast
  eq-author/src/components/Autocomplete/index.style.js
Due: author

linting fixes
  eq-publisher/src/eq_schema/block-types/Introduction.js
Due: publisher

Deploying to gh-pages from @ a1b685ab0fe61a644351c02e86b5357d0883d011 🚀
  iframe.html
  main.504f76f0ad6339da903e.bundle.js
  main.504f76f0ad6339da903e.bundle.js.map
  runtime~main.504f76f0ad6339da903e.bundle.js
  runtime~main.504f76f0ad6339da903e.bundle.js.map
  vendors~main.504f76f0ad6339da903e.bundle.js
  vendors~main.504f76f0ad6339da903e.bundle.js.LICENSE.txt
  vendors~main.504f76f0ad6339da903e.bundle.js.map
Due: none

added retry for mongoDB
  eq-author-api/db/datastore/datastore-mongodb.js
  eq-author-api/db/datastore/datastore-mongodb.test.js
  eq-author-api/db/datastore/index.js
Due: api

Fix dates breaking when changing relative position
  eq-author/src/App/page/Design/Validation/DateValidation/PositionPicker.js
  eq-author/src/App/page/Design/Validation/DateValidation/__snapshots__/PositionPicker.test.js.snap
Due: author

double back slash experimen
  eq-author-api/docker-compose.yml
Due: api

switch to single quotes
  eq-publisher/src/eq_schema/block-types/Introduction.js
Due: publisher

Update eq-author-api/src/validation/index.js
  eq-author-api/src/validation/index.js
Due: api

fixed history issue and added index
  eq-author-api/db/datastore/datastore-mongodb.js
Due: api

Can add categories to lists now
  eq-author/src/components/Autocomplete/index.js
Due: author

Tidy up
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/index.js
Due: author

Fix not being able to get to bottom of list
  eq-author/src/components/Autocomplete/index.js
Due: author

Add scrollpane styling
  eq-author/src/components/Autocomplete/index.style.js
Due: author

Fix test by returning array
  eq-author/src/components/Autocomplete/index.test.js
Due: author

Add category example
  eq-author/src/storybook/Components/Autocomplete.stories.mdx
Due: author

Fix sam bug
  eq-author/src/components/Autocomplete/index.js
Due: author

Add test for categories
  eq-author/src/components/Autocomplete/index.test.js
Due: author

Deploying to gh-pages from @ 2acce056ac812a0e0e1b704b29fba25b4e554ba6 🚀
  iframe.html
  index.html
  main.1f9e21c9bb67e7a16c32.bundle.js
  main.1f9e21c9bb67e7a16c32.bundle.js.map
  main.a1a384f6f5847e3d22e2.bundle.js
  runtime~main.1f9e21c9bb67e7a16c32.bundle.js
  runtime~main.1f9e21c9bb67e7a16c32.bundle.js.map
  static/media/icon-search.e42da58b.svg
  vendors~main.1f9e21c9bb67e7a16c32.bundle.js
  vendors~main.1f9e21c9bb67e7a16c32.bundle.js.LICENSE.txt
  vendors~main.1f9e21c9bb67e7a16c32.bundle.js.map
  vendors~main.7bcb5d6314629dd0e144.bundle.js
  vendors~main.7bcb5d6314629dd0e144.bundle.js.LICENSE.txt
Due: none

Fix variant heading to capital
  eq-author/src/storybook/Components/Autocomplete.stories.mdx
Due: author

Deploying to gh-pages from @ f79ca8a9dcf869aa93b7d02a15a7f04cfb94347d 🚀
  iframe.html
  main.debfd3c4a6d72d7ff26c.bundle.js
  main.debfd3c4a6d72d7ff26c.bundle.js.map
  runtime~main.debfd3c4a6d72d7ff26c.bundle.js
  runtime~main.debfd3c4a6d72d7ff26c.bundle.js.map
  vendors~main.debfd3c4a6d72d7ff26c.bundle.js
  vendors~main.debfd3c4a6d72d7ff26c.bundle.js.LICENSE.txt
  vendors~main.debfd3c4a6d72d7ff26c.bundle.js.map
Due: none

more tests
  eq-author-api/schema/tests/questionnaireIntroduction.test.js
  eq-author/src/App/introduction/Design/IntroductionEditor/withUpdateQuestionnaireIntroduction.test.js
Due: author, api

🛠 Fix region / language metadata dropdown
  eq-author/src/App/metadata/MetadataTable/Controls/Select.js
  eq-author/src/App/metadata/MetadataTable/Row.js
  eq-author/src/constants/languages.js
  eq-author/src/constants/metadata-types.js
  eq-author/src/constants/regions.js
  eq-author/src/custom-prop-types/index.js
Due: author

Path conditions:
  author: any of: eq-author/, but not: eq-author/src/stories
  api: any of: eq-author-api/, but not: eq-author/src/stories
  publisher: any of: eq-publisher/, but not: eq-author/src/stories
