Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher

ignore:
  - "eq-author/src/stories"

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/

comment: off

🛠 Fix including empty sections in content picker
  eq-author/src/utils/getContentBeforeEntity.js
Due: author

Fixed spacing and border overlapping
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
  eq-author/src/components/CollapsibleNavItem/index.js
Due: author

Moved style out from being global
  eq-author/src/App/folder/Design/index.js
  eq-author/src/components/Panel/index.js
Due: author

Fixed onHover styles
  eq-author/src/components/CollapsibleNavItem/index.js
  eq-author/src/components/NavItem/index.js
Due: author

Fixed disabled styles
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
  eq-author/src/components/CollapsibleNavItem/index.js
  eq-author/src/components/NavItem/index.js
Due: author

Update eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
Due: author

🛠 Fix context not updating on creating answer
  eq-author/src/graphql/fragments/answer.graphql
Due: author

♻ Calculated summary: calc. prev answers on client
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector.js
Due: author

Add shortcode & title to contentPickerSelect
  eq-author/src/App/page/Design/Validation/__snapshots__/MetadataContentPicker.test.js.snap
  eq-author/src/App/page/Design/Validation/__snapshots__/PreviousAnswerContentPicker.test.js.snap
  eq-author/src/App/page/Logic/BinaryExpressionEditor/RoutingAnswerContentPicker.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/RoutingAnswerContentPicker.test.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/__snapshots__/RoutingAnswerContentPicker.test.js.snap
  eq-author/src/App/page/Logic/BinaryExpressionEditor/fragment.graphql
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.js
  eq-author/src/components/ContentPickerSelect/__snapshots__/index.test.js.snap
  eq-author/src/components/ContentPickerSelect/index.js
  eq-author/src/components/ContentPickerSelect/index.test.js
  eq-author/src/components/ContentPickerSelect/useTruncation.js
  eq-author/src/utils/stripHTML.js
Due: author

Add stripHTML test
  eq-author/src/utils/stripHTML.test.js
Due: author

♻ getContentBeforeEntity: add includesTargetPage
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector.js
  eq-author/src/App/page/Design/Validation/PreviousAnswerContentPicker.js
  eq-author/src/components/RichTextEditor/PipingMenu.js
  eq-author/src/components/RouterContext/index.js
  eq-author/src/utils/getContentBeforeEntity.js
Due: author

Fix y-axis text cut off
  eq-author/src/components/ContentPickerSelect/index.js
Due: author

🛠 Strip empty folders / sections out of prev. ans
  eq-author/src/utils/getContentBeforeEntity.js
Due: author

✨ Add PageContext
  eq-author/src/App/page/Design/index.js
  eq-author/src/components/QuestionnaireContext/index.js
  eq-author/src/constants/answer-types.js
Due: author

🛠 totalValidation: filter prev. answers by type
  eq-author/src/App/page/Design/Validation/GroupValidations/TotalValidation/TotalValidationEditor/PreviousAnswerEditor.js
  eq-author/src/App/page/Design/Validation/PreviousAnswerContentPicker.js
Due: author

🛠 min/max validation: restrict avail. answer types
  eq-author/src/App/page/Design/Validation/PreviousAnswerEditor.js
Due: author

♻ Calculate routing answers clientside
  eq-author/src/App/page/Logic/BinaryExpressionEditor/RoutingAnswerContentPicker.js
  eq-author/src/components/QuestionnaireContext/index.js
  eq-author/src/constants/answer-types.js
  eq-author/src/utils/getContentBeforeEntity.js
Due: author

❌ So long and thanks for all the tree shaping
  eq-author/src/components/ContentPicker/shapeTree.js
  eq-author/src/components/ContentPicker/shapeTree.test.js
Due: author

Collapsible navigation now supports both child and self errors
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
  eq-author/src/components/CollapsibleNavItem/index.js
  eq-author/src/storybook/Components/CollapsibleNavItem.stories.mdx
  eq-author/src/storybook/Components/NavItem.stories.mdx
Due: author

Removed inline style
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
Due: author

fix for answer error count
  eq-author/src/graphql/createAnswer.graphql
  eq-author/src/graphql/fragments/answer.graphql
  eq-author/src/graphql/updateAnswer.graphql
Due: author

Duplicating pages now update
  eq-author/src/components/CollapsibleNavItem/index.js
  eq-author/src/graphql/duplicatePage.graphql
Due: author

Section nav items now truncate
  eq-author/src/components/CollapsibleNavItem/index.js
  eq-author/src/components/NavItem/index.js
Due: author

Test fixed
  eq-author/src/components/CollapsibleNavItem/index.test.js
Due: author

♻ Move validation metadata data clientside
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/resolvers/utils.js
  eq-author/src/App/page/Design/Validation/AvailableMetadataQuery.js
  eq-author/src/App/page/Design/Validation/MetadataContentPicker.js
  eq-author/src/App/page/Design/Validation/MetadataContentPicker.test.js
Due: author, api

❌ Keep on deletin'
  eq-author-api/schema/resolvers/pages/calculatedSummaryPage.js
  eq-author-api/schema/resolvers/pages/questionPage.js
  eq-author-api/schema/resolvers/questionnaireIntroduction.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/tests/utils/contextBuilder/page/queryPage.js
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/updateCalculatedSummaryPageMutation.graphql
  eq-author/src/App/page/Design/Validation/DateValidation/MetadataEditor.js
Due: author, api

🛠 Fix piped answers on confirmationPage
  eq-author/src/utils/getContentBeforeEntity.js
Due: author

✅ Snapshots
  eq-author-api/schema/tests/getAvailableAnswers.test.js
  eq-author-api/tests/utils/contextBuilder/page/movePage.js
  eq-author/src/App/QuestionnaireDesignPage/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Design/Validation/GroupValidations/TotalValidation/TotalValidationEditor/__snapshots__/PreviousAnswerEditor.test.js.snap
  eq-author/src/App/page/Design/Validation/__snapshots__/PreviousAnswerEditor.test.js.snap
  eq-author/src/App/page/Logic/BinaryExpressionEditor/__snapshots__/index.test.js.snap
Due: author, api

🛠 getContentBeforeEntity: fix routing answers
  eq-author/src/utils/getContentBeforeEntity.js
Due: author

✅ update API tests to remove prev. answers
  eq-author-api/schema/tests/page.test.js
  eq-author-api/schema/tests/questionConfirmation.test.js
  eq-author-api/schema/tests/questionnaireIntroduction.test.js
  eq-author-api/tests/utils/contextBuilder/page/queryPage.js
  eq-author-api/tests/utils/contextBuilder/questionConfirmation/queryQuestionConfirmation.js
  eq-author-api/tests/utils/contextBuilder/questionnaireIntroduction/query.js
  eq-author-api/tests/utils/contextBuilder/section/createSection.js
  eq-author-api/tests/utils/contextBuilder/section/moveSection.js
  eq-author-api/tests/utils/contextBuilder/section/querySection.js
  eq-author-api/tests/utils/contextBuilder/section/updateSection.js
  eq-author-api/tests/utils/contextBuilder/validation/queryValidation.js
Due: api

✅ Fix API tests
  eq-author-api/schema/tests/answerGroupValidation.test.js
  eq-author-api/schema/tests/calculatedSummary.test.js
  eq-author-api/schema/tests/section.test.js
  eq-author-api/schema/tests/validation.test.js
  eq-author-api/utils/html.js
Due: api

🧹 Lint API tests
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/tests/page.test.js
  eq-author-api/schema/tests/questionConfirmation.test.js
  eq-author-api/schema/tests/section.test.js
  eq-author-api/schema/tests/validation.test.js
Due: api

♻ Move getAvailableRoutingDestinations clientside
  eq-author/src/App/page/Logic/Routing/DestinationSelector/RoutingDestinationContentPicker.js
  eq-author/src/App/page/Logic/Routing/DestinationSelector/getAvailableRoutingDestinations.graphql
  eq-author/src/App/page/Logic/Routing/index.js
  eq-author/src/constants/destinations.js
Due: author

❌ Delete refs to availableRoutingDestinations
  eq-author-api/schema/resolvers/pages/questionPage.js
  eq-author-api/schema/tests/duplication.test.js
  eq-author-api/schema/tests/page.test.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/src/validation/customKeywords/validateRoutingRules.js
  eq-author-api/tests/utils/contextBuilder/getAvailableAnswers/index.js
  eq-author-api/tests/utils/contextBuilder/page/movePage.js
  eq-author-api/tests/utils/contextBuilder/page/queryPage.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.js
  eq-author/src/App/page/Logic/Routing/AvailableRoutingDestinationsQuery.js
  eq-author/src/App/page/Logic/Routing/AvailableRoutingQuestionsQuery.js
  eq-publisher/src/getQuestionnaire/queries.js
Due: author, api, publisher

✅ Fix routing destination validation test
  eq-author-api/src/validation/index.test.js
Due: api

🧹 Linting
  eq-author-api/schema/tests/page.test.js
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector.js
  eq-author/src/App/page/Design/Validation/PreviousAnswerContentPicker.test.js
  eq-author/src/components/RichTextEditor/PipingMenu.test.js
  eq-author/src/utils/getContentBeforeEntity.test.js
Due: author, api

✅ Fix existing UI tests
  eq-author/src/App/page/Design/Validation/DateValidation/__snapshots__/MetadataEditor.test.js.snap
  eq-author/src/App/page/Design/Validation/MetadataContentPicker.js
  eq-author/src/App/page/Design/Validation/MetadataContentPicker.test.js
  eq-author/src/App/page/Design/Validation/__snapshots__/MetadataContentPicker.test.js.snap
  eq-author/src/App/page/Design/index.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/RoutingAnswerContentPicker.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Logic/Routing/__snapshots__/index.test.js.snap
  eq-author/src/components/RichTextEditor/PipingMenu.js
  eq-author/src/components/RichTextEditor/PipingMenu.test.js
  eq-author/src/components/RichTextEditor/__snapshots__/PipingMenu.test.js.snap
Due: author

✅ Fix existing UI tests & update snapshots
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector.js
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector.test.js
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/CalSumContentPicker/index.test.js
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/__snapshots__/AnswerSelector.test.js.snap
  eq-author/src/App/page/Design/Validation/PreviousAnswerContentPicker.test.js
  eq-author/src/App/page/Design/Validation/__snapshots__/PreviousAnswerContentPicker.test.js.snap
  eq-author/src/App/page/Logic/Routing/DestinationSelector/RoutingDestinationContentPicker.js
  eq-author/src/App/page/Logic/Routing/DestinationSelector/RoutingDestinationContentPicker.test.js
  eq-author/src/components/ContentPickerSelect/index.test.js
  eq-author/src/components/ContentPickerv2/AnswerPicker.test.js
  eq-author/src/components/ContentPickerv2/SectionMenu.js
  eq-author/src/components/ContentPickerv2/SectionMenu.test.js
  eq-author/src/components/ContentPickerv2/index.test.js
Due: author

Move page now updates the nav
  eq-author/src/graphql/movePage.graphql
Due: author

✅ Remaining UI tests / snapshots
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/__snapshots__/SectionNavItem.test.js.snap
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/__snapshots__/index.test.js.snap
  eq-author/src/App/QuestionnaireDesignPage/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Design/MovePageModal/__snapshots__/index.test.js.snap
  eq-author/src/App/section/Design/SectionEditor/MoveSectionModal/__snapshots__/index.test.js.snap
  eq-author/src/components/preview/Answers/__snapshots__/index.test.js.snap
  eq-author/src/components/preview/Answers/index.test.js
  eq-author/src/tests/utils/createMockQuestionnaire.js
  eq-author/src/utils/getContentBeforeEntity.test.js
Due: author
