Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher

ignore:
  - "eq-author/src/stories"

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/

comment: off

✅ Fix calculated summary tests
  eq-author-api/schema/tests/calculatedSummary.test.js
Due: api

✅ Fix & add page duplication tests
  eq-author-api/schema/tests/duplication.test.js
Due: api

✅ Fix multiple choice answer tests
  eq-author-api/schema/tests/multipleChoiceAnswer.test.js
Due: api

✅ Fix skipConditions tests
  eq-author-api/schema/tests/skipConditions.test.js
  eq-author-api/src/businessLogic/deleteLastPageRouting.js
Due: api

First commit
  eq-author-api/db/datastore/datastore-mongodb.js
  eq-author-api/docker-compose.yml
  eq-author-api/package.json
  eq-author-api/yarn.lock
Due: api

✅ Add tests for coverage
  eq-author-api/schema/tests/folder.test.js
  eq-author-api/schema/tests/page.test.js
  eq-author-api/tests/utils/contextBuilder/folder/createFolder.js
  eq-author-api/tests/utils/contextBuilder/page/queryPage.js
  eq-author/src/App/QuestionnaireDesignPage/index.js
  eq-author/src/App/QuestionnaireDesignPage/index.test.js
  eq-author/src/App/section/Design/withDeleteSection.test.js
Due: author, api

🧹Lint
  eq-author/src/App/QuestionnaireDesignPage/index.js
Due: author

♻️ Fix qCodeTable coverage; removed unused code
  eq-author/src/App/qcodes/QCodesTable/index.js
Due: author

✅ Add coverage for withDeleteSection
  eq-author/src/App/section/Design/withDeleteSection.js
  eq-author/src/App/section/Design/withDeleteSection.test.js
Due: author

🛠 Fix withDeleteSection check for new replacement
  eq-author/src/App/section/Design/withDeleteSection.js
Due: author

🛠 Fix validation error subscription not updating
  eq-author/src/App/QuestionnaireDesignPage/__snapshots__/index.test.js.snap
  eq-author/src/App/QuestionnaireDesignPage/index.js
Due: author

Fix updating empty string
  eq-author/src/components/Autocomplete/index.js
Due: author

Fix phantom error message
  eq-author/src/components/Autocomplete/index.js
Due: author

Fix save on empty string
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/index.test.js
Due: author

🛠 Fix routing destination selector
  eq-author/src/App/page/Logic/Routing/DestinationSelector/RoutingDestinationContentPicker.js
  eq-author/src/App/page/Logic/Routing/DestinationSelector/RoutingDestinationContentPicker.test.js
  eq-publisher/src/getQuestionnaire/queries.js
Due: author, publisher

🛠 Fix skip logic disabled on first section
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/fragment.graphql
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/index.js
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/index.test.js
Due: author

🛠 Fix incorrect add page position w/ button
  eq-author/src/App/page/Design/index.js
Due: author

✅ Fix question design page test
  eq-author/src/App/page/Design/index.test.js
Due: author

Added mongo memory server and first test
  .gitignore
  eq-author-api/db/datastore/datastore-dynamodb.js
  eq-author-api/db/datastore/datastore-firestore.js
  eq-author-api/db/datastore/datastore-mongodb.js
  eq-author-api/db/datastore/datastore-mongodb.test.js
  eq-author-api/db/datastore/index.js
  eq-author-api/db/datastore/mock-questionnaire.js
  eq-author-api/docker-compose.yml
  eq-author-api/jest-mongodb-config.js
  eq-author-api/package.json
  eq-author-api/yarn.lock
Due: api

🛠 Update publisher v2 to work with folders
  eq-publisher/src/eq_schema/Questionnaire.test.js
  eq-publisher/src/eq_schema/Section.js
  eq-publisher/src/eq_schema/Section.test.js
  eq-publisher/src/process/Convert.test.js
Due: publisher

♻️ entity "type" -> "name" in error message
  eq-author/src/App/QuestionnaireDesignPage/index.js
Due: author

tweaks to connections
  eq-author-api/db/datastore/datastore-firestore.js
  eq-author-api/db/datastore/datastore-firestore.test.js
  eq-author-api/db/datastore/datastore-mongodb.js
Due: api

cleaning up
  eq-author-api/db/datastore/datastore-mongodb.js
Due: api

updated docker-compose
  eq-author-api/docker-compose.yml
Due: api

linting fix
  eq-author-api/db/datastore/datastore-mongodb.test.js
  eq-author-api/db/datastore/mock-questionnaire.js
Due: api

break-word in multiple preview places
  eq-author/src/App/introduction/Preview/index.js
  eq-author/src/App/page/Preview/QuestionPagePreview.js
  eq-author/src/App/questionConfirmation/Preview/index.js
  eq-author/src/App/section/Preview/SectionIntroPreview.js
  eq-author/src/components/preview/Answers/MultipleChoiceAnswer.js
  eq-author/src/components/preview/Answers/__snapshots__/MultipleChoiceAnswer.test.js.snap
  eq-author/src/components/preview/Answers/elements/Label.js
  eq-author/src/components/preview/Answers/index.js
  eq-author/src/components/preview/elements/PageTitle.js
Due: author

updated tests
  eq-author-api/db/datastore/datastore-mongodb.js
  eq-author-api/db/datastore/datastore-mongodb.test.js
  eq-author-api/db/datastore/mock-questionnaire.js
Due: api

updated tests for comments
  eq-author-api/db/datastore/datastore-mongodb.test.js
Due: api

removed upneccersary upserts
  eq-author-api/db/datastore/datastore-mongodb.js
Due: api

added test to improve coverage
  eq-author-api/db/datastore/datastore-mongodb.js
  eq-author-api/db/datastore/datastore-mongodb.test.js
Due: api

removed console.log
  eq-author-api/db/datastore/datastore-mongodb.test.js
Due: api

updated coverage
  eq-author-api/db/datastore/datastore-mongodb.js
  eq-author-api/db/datastore/datastore-mongodb.test.js
Due: api

updated connection method and connection test
  eq-author-api/db/datastore/datastore-mongodb.js
  eq-author-api/db/datastore/datastore-mongodb.test.js
  eq-author-api/docker-compose.yml
Due: api

fix: eq-author-api/package.json & eq-author-api/yarn.lock to reduce vulnerabilities
  eq-author-api/package.json
  eq-author-api/yarn.lock
Due: api

Linter fix
  eq-author/src/App/questionConfirmation/Preview/index.js
Due: author

small styling fix
  eq-author/src/App/questionConfirmation/Preview/index.js
Due: author

Fix for calc sumary page - preview
  eq-author/src/App/page/Preview/CalculatedSummaryPreview.js
Due: author

early progress
  eq-author-api/schema/typeDefs.js
  eq-author-api/utils/createQuestionnaireIntroduction.js
  eq-author/src/App/introduction/Design/IntroductionEditor/index.js
  eq-author/src/App/introduction/Design/IntroductionEditor/withUpdateQuestionnaireIntroduction.js
  eq-author/src/components/buttons/ToggleSwitch/index.js
Due: author, api

one more
  eq-author/src/App/introduction/Design/IntroductionEditor/index.js
Due: author

got the switch working
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/introduction/Design/IntroductionEditor/index.js
Due: author, api
