Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher

ignore:
  - "eq-author/src/stories"

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/

comment: off

Fix scrolling issues for smaller screen sizes
  eq-author/src/components/Grid/Grid.js
  eq-author/src/components/Grid/__snapshots__/Grid.test.js.snap
Due: author

Lower the max-height
  eq-author/src/components/Grid/Grid.js
  eq-author/src/components/Grid/__snapshots__/Grid.test.js.snap
Due: author

Add scrollpane to the main navigation to prevent cut off
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
  eq-author/src/App/QuestionnaireDesignPage/__snapshots__/index.test.js.snap
  eq-author/src/App/QuestionnaireDesignPage/index.js
  eq-author/src/components/Grid/Grid.js
  eq-author/src/components/Grid/__snapshots__/Grid.test.js.snap
Due: author

Refactored validation in preperation for folders
  eq-author-api/constants/validationErrorCodes.js
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/resolvers/logic/binaryExpression2/index.js
  eq-author-api/schema/resolvers/logic/routing2/routingRule2/index.js
  eq-author-api/schema/resolvers/pages/calculatedSummaryPage.js
  eq-author-api/schema/resolvers/pages/questionPage.js
  eq-author-api/schema/tests/calculatedSummary.test.js
  eq-author-api/schema/tests/page.test.js
  eq-author-api/schema/tests/validation.test.js
  eq-author-api/src/validation/createValidationError.js
  eq-author-api/src/validation/customKeywords/calculatedSummaryUnitConsistency.js
  eq-author-api/src/validation/customKeywords/linkedDecimalValidation.js
  eq-author-api/src/validation/customKeywords/requiredWhenOtherFieldsPopulated.js
  eq-author-api/src/validation/customKeywords/requiredWhenQuestionnaireSetting.js
  eq-author-api/src/validation/customKeywords/textLengthInRange.js
  eq-author-api/src/validation/customKeywords/uniquePropertyValueInArrayOfObjects.js
  eq-author-api/src/validation/customKeywords/validateDuration.js
  eq-author-api/src/validation/customKeywords/validateExclusiveCheckbox.js
  eq-author-api/src/validation/customKeywords/validateLatestAfterEarliest.js
  eq-author-api/src/validation/customKeywords/validateLeftHandSide.js
  eq-author-api/src/validation/customKeywords/validatePipingInTitle.js
  eq-author-api/src/validation/customKeywords/validateRoutingRules.js
  eq-author-api/src/validation/index.js
  eq-author-api/src/validation/index.test.js
  eq-author-api/src/validation/schemas/entities.json
  eq-author-api/tests/utils/executeQuery.js
  eq-author/src/App/page/Logic/Routing/DestinationSelector/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Logic/Routing/DestinationSelector/index.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.js
  eq-author/src/constants/validationMessages.js
Due: author, api

Added brackets for Codacy
  eq-author-api/schema/resolvers/logic/binaryExpression2/index.js
  eq-author-api/schema/resolvers/logic/routing2/routingRule2/index.js
  eq-author-api/schema/resolvers/pages/calculatedSummaryPage.js
  eq-author-api/schema/resolvers/pages/questionPage.js
Due: api

Linting stuff
  eq-author-api/schema/resolvers/logic/binaryExpression2/index.js
  eq-author-api/schema/resolvers/logic/routing2/routingRule2/index.js
  eq-author-api/schema/resolvers/pages/calculatedSummaryPage.js
  eq-author-api/src/validation/createValidationError.js
Due: api

Linting stuff
  eq-author-api/schema/resolvers/logic/binaryExpression2/index.js
  eq-author-api/schema/resolvers/logic/routing2/routingRule2/index.js
  eq-author-api/schema/resolvers/pages/calculatedSummaryPage.js
Due: api

Linting stuff
  eq-author-api/schema/resolvers/logic/binaryExpression2/index.js
  eq-author-api/schema/resolvers/logic/routing2/routingRule2/index.js
Due: api

Linting stuff
  eq-author-api/src/validation/createValidationError.js
Due: api

trying to find the error msg in array
  eq-author-api/src/validation/schemas/entities.json
  eq-author/src/App/page/Design/Validation/AnswerValidation.js
  eq-author/src/App/page/Design/Validation/NumericValidation.js
  eq-author/src/App/page/Design/Validation/NumericValidation/CustomEditor.js
  eq-author/src/App/page/Design/Validation/NumericValidation/PreviousAnswerEditor.js
  eq-author/src/App/page/Design/Validation/NumericValidation/index.js
Due: author, api

Fixed refreshing error
  eq-author-api/schema/resolvers/base.js
Due: api

Fixed badges appearing in wrong place
  eq-author/src/components/EditorLayout/Tabs/index.js
Due: author

Fixed more badges appearing in the wrong place
  eq-author-api/src/validation/createValidationError.js
Due: api

Fixed more badges appearing in the wrong place
  eq-author/src/App/page/Logic/index.js
  eq-author/src/components/EditorLayout/Tabs/index.js
Due: author

Fixed linting and tests
  eq-author/src/App/page/Logic/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Logic/index.js
  eq-author/src/App/page/Logic/index.test.js
  eq-author/src/components/EditorLayout/Tabs/tabs.test.js
Due: author

allowed multiline
  eq-author/src/components/RichTextEditor/index.js
Due: author

added variable to history
  eq-author/src/App/history/HistoryPage.js
  eq-author/src/components/RichTextEditor/index.js
Due: author

Added Select to Storybook + made template
  eq-author/src/components/Forms/Select/Select.test.js
  eq-author/src/stories/Button.stories.js
  eq-author/src/stories/Introduction.stories.mdx
  eq-author/src/storybook/Components/Button.stories.mdx
  eq-author/src/storybook/Components/Select.stories.mdx
  eq-author/src/storybook/Introduction.stories.mdx
  eq-author/src/storybook/Patterns/ButtonGroup.stories.js
  eq-author/src/storybook/Patterns/ScrollPane.stories.js
  eq-author/src/storybook/assets/code-brackets.svg
  eq-author/src/storybook/assets/colors.svg
  eq-author/src/storybook/assets/comments.svg
  eq-author/src/storybook/assets/direction.svg
  eq-author/src/storybook/assets/flow.svg
  eq-author/src/storybook/assets/plugin.svg
  eq-author/src/storybook/assets/repo.svg
  eq-author/src/storybook/assets/stackalt.svg
Due: author

addred multiline plus updated snaps
  eq-author/src/App/history/HistoryItem.js
  eq-author/src/App/introduction/Design/IntroductionEditor/CollapsiblesEditor/CollapsibleEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/introduction/Design/IntroductionEditor/CollapsiblesEditor/CollapsibleEditor/index.js
  eq-author/src/App/introduction/Design/IntroductionEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/introduction/Design/IntroductionEditor/index.js
  eq-author/src/App/page/Design/QuestionPageEditor/MetaEditor.js
  eq-author/src/App/page/Design/QuestionPageEditor/__snapshots__/MetaEditor.test.js.snap
  eq-author/src/App/review/ReviewPage.js
  eq-author/src/App/section/Design/SectionEditor/__snapshots__/SectionEditor.test.js.snap
  eq-author/src/App/section/Design/SectionEditor/index.js
Due: author

Updated PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Add multilines to last two editors
  eq-author/src/App/page/Design/QuestionPageEditor/AdditionalInfo.js
  eq-author/src/App/page/Design/QuestionPageEditor/MetaEditor.js
  eq-author/src/App/page/Design/QuestionPageEditor/__snapshots__/AdditionalInfo.test.js.snap
  eq-author/src/App/page/Design/QuestionPageEditor/__snapshots__/MetaEditor.test.js.snap
Due: author

few failing tests
  eq-author-api/src/validation/schemas/entities.json
  eq-author/src/App/page/Design/Validation/AnswerValidation.js
  eq-author/src/App/page/Design/Validation/FieldWithInclude.js
  eq-author/src/App/page/Design/Validation/NumericValidation.js
  eq-author/src/App/page/Design/Validation/NumericValidation/CustomEditor.js
  eq-author/src/App/page/Design/Validation/NumericValidation/CustomEditor.test.js
  eq-author/src/App/page/Design/Validation/NumericValidation/PreviousAnswerEditor.js
  eq-author/src/App/page/Design/Validation/NumericValidation/__snapshots__/CustomEditor.test.js.snap
  eq-author/src/App/page/Design/Validation/NumericValidation/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Design/Validation/NumericValidation/index.js
  eq-author/src/App/page/Design/Validation/NumericValidation/index.test.js
  eq-author/src/App/page/Design/Validation/PreviousAnswerContentPicker.js
Due: author, api

tests fixed
  eq-author/src/App/page/Design/Validation/AnswerValidation.js
  eq-author/src/App/page/Design/Validation/AnswerValidation.test.js
  eq-author/src/App/page/Design/Validation/NumericValidation.js
  eq-author/src/App/page/Design/Validation/NumericValidation.test.js
  eq-author/src/App/page/Design/Validation/NumericValidation/CustomEditor.test.js
  eq-author/src/App/page/Design/Validation/NumericValidation/PreviousAnswerEditor.test.js
  eq-author/src/App/page/Design/Validation/NumericValidation/__snapshots__/PreviousAnswerEditor.test.js.snap
  eq-author/src/App/page/Design/Validation/NumericValidation/index.test.js
Due: author

linter issue
  eq-author/src/App/page/Design/Validation/FieldWithInclude.js
  eq-author/src/App/page/Design/Validation/NumericValidation/CustomEditor.js
  eq-author/src/App/page/Design/Validation/NumericValidation/index.js
Due: author

remove console log
  eq-author/src/App/page/Design/Validation/NumericValidation/CustomEditor.js
Due: author

Added echo to see what dependabot logs in as
  .github/workflows/authorPullRequest.yml
Due: none

obsolete snapshot
  eq-author/src/App/page/Design/Validation/NumericValidation/CustomEditor.js
  eq-author/src/App/page/Design/Validation/__snapshots__/NumericValidation.test.js.snap
Due: author

linter
  eq-author/src/App/page/Design/Validation/AnswerValidation.js
  eq-author/src/App/page/Design/Validation/NumericValidation/CustomEditor.js
Due: author

Added echo to see what dependabot logs in as
  .github/workflows/apiPullRequest.yml
  .github/workflows/authorPullRequest.yml
Due: none

Added label entry to unit types
  eq-author-api/utils/defaultAnswerProperties.js
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/index.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/Properties/UnitProperties.js
Due: author, api

Removed echo
  .github/workflows/apiPullRequest.yml
  .github/workflows/authorPullRequest.yml
Due: none

Updated snapshot
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/__snapshots__/index.test.js.snap
Due: author

Removed unused reference to unitConversion
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/index.js
Due: author

Actions prevents building for dependency PRs
  .github/workflows/apiPullRequest.yml
  .github/workflows/authorPullRequest.yml
  .github/workflows/publisherPullRequest.yml
Due: none

Added script to automatically build and deploy design system
  .github/workflows/deployDesignSystem.yml
Due: none
