Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

fix: eq-author/package.json & eq-author/yarn.lock to reduce vulnerabilities
  eq-author/package.json
  eq-author/yarn.lock
Due: author

front end additions
  eq-author/src/App/qcodes/QCodesTable/index.js
  eq-author/src/constants/validationMessages.js
Due: author

Deploying to gh-pages from @ ab67198fb8a40cff51133185afcf89654cf116a6 🚀
  iframe.html
  main.5d465f3e045053771957.bundle.js
  main.5d465f3e045053771957.bundle.js.map
  runtime~main.5d465f3e045053771957.bundle.js
  runtime~main.5d465f3e045053771957.bundle.js.map
  vendors~main.5d465f3e045053771957.bundle.js
  vendors~main.5d465f3e045053771957.bundle.js.LICENSE.txt
  vendors~main.5d465f3e045053771957.bundle.js.map
Due: none

Deploying to gh-pages from @ f23b6292cff3be6a9ccdd809003e122bab03c088 🚀
  iframe.html
  main.0ec46efc750fe9a26f61.bundle.js
  main.0ec46efc750fe9a26f61.bundle.js.map
  runtime~main.0ec46efc750fe9a26f61.bundle.js
  runtime~main.0ec46efc750fe9a26f61.bundle.js.map
  vendors~main.0ec46efc750fe9a26f61.bundle.js
  vendors~main.0ec46efc750fe9a26f61.bundle.js.LICENSE.txt
  vendors~main.0ec46efc750fe9a26f61.bundle.js.map
Due: none

working draft using minus Qcode err from total
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/resolvers/pages/questionPage.js
  eq-author-api/src/validation/index.js
  eq-author-api/src/validation/schemas/entities.json
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/PageNavItem.js
  eq-author/src/App/qcodes/QCodesTable/graphql/getAllAnswers.graphql
  eq-author/src/App/qcodes/QCodesTable/graphql/updateAnswerMutation.graphql
  eq-author/src/App/qcodes/QCodesTable/index.js
  eq-author/src/components/EditorLayout/Tabs/index.js
  eq-author/src/graphql/fragments/answer.graphql
Due: author, api

Updated mutations to work with folders
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/resolvers/logic/binaryExpression2/index.js
  eq-author-api/schema/resolvers/logic/routing2/index.js
  eq-author-api/schema/resolvers/logic/routing2/routingRule2/index.js
  eq-author-api/schema/resolvers/pages/calculatedSummaryPage.js
  eq-author-api/schema/resolvers/pages/index.js
  eq-author-api/schema/resolvers/pages/questionPage.js
  eq-author-api/schema/resolvers/utils.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/src/businessLogic/availableRoutingDestinations.js
  eq-author-api/src/businessLogic/createValidation.js
  eq-author-api/src/businessLogic/getPreviousAnswersForPage.js
  eq-author-api/src/businessLogic/getPreviousAnswersForSection.js
  eq-author-api/src/businessLogic/onSectionDeleted.js
Due: api

Deploying to gh-pages from @ 556751016e7adc92d8d2bccfe64cbbde6ba64eeb 🚀
  iframe.html
  index.html
  main.68acafd57daca5023c15.bundle.js
  main.68acafd57daca5023c15.bundle.js.map
  main.7b6065c6dd6209b18a6f.bundle.js
  runtime~main.68acafd57daca5023c15.bundle.js
  runtime~main.68acafd57daca5023c15.bundle.js.map
  vendors~main.68acafd57daca5023c15.bundle.js
  vendors~main.68acafd57daca5023c15.bundle.js.LICENSE.txt
  vendors~main.68acafd57daca5023c15.bundle.js.map
  vendors~main.8905655687976de3e577.bundle.js
  vendors~main.8905655687976de3e577.bundle.js.LICENSE.txt
Due: none

Remove folder if last questionPage is deleted
  eq-author-api/schema/resolvers/pages/index.js
Due: api

Add folders to validation error message and ajv
  eq-author-api/src/validation/createValidationError.js
  eq-author-api/src/validation/schemas/entities.json
Due: api

fix: eq-author-api/package.json & eq-author-api/yarn.lock to reduce vulnerabilities
  eq-author-api/package.json
  eq-author-api/yarn.lock
Due: api

getAllanswers in main nav
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/App/qcodes/QCodesTable/index.js
  eq-author/src/constants/validationMessages.js
Due: author

test for missing QCodes
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.test.js
  eq-author/src/App/qcodes/QCodesTable/index.test.js
Due: author

Update validation to include folders
  eq-author-api/schema/resolvers/pages/questionPage.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/src/businessLogic/availableRoutingDestinations.js
  eq-author-api/src/validation/customKeywords/linkedDecimalValidation.js
  eq-author-api/src/validation/customKeywords/validateLeftHandSide.js
  eq-author-api/src/validation/customKeywords/validatePipingInTitle.js
  eq-author-api/src/validation/customKeywords/validateRoutingRules.js
  eq-author-api/src/validation/index.test.js
  eq-author-api/src/validation/utils/index.js
Due: api

Change Add Editor heading to h4
  eq-author/src/App/sharing/styles/SharePageContent.js
Due: author

Remove comments and make updates to contextBuilder
  eq-author-api/schema/resolvers/pages/index.js
  eq-author-api/schema/resolvers/utils.js
  eq-author-api/src/businessLogic/createAnswer.js
  eq-author-api/tests/utils/contextBuilder/page/movePage.js
  eq-author-api/tests/utils/contextBuilder/section/createSection.js
  eq-author-api/tests/utils/contextBuilder/section/moveSection.js
  eq-author-api/tests/utils/contextBuilder/section/querySection.js
  eq-author-api/tests/utils/contextBuilder/section/updateSection.js
Due: api

Add folder operations
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/resolvers/utils.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/src/businessLogic/onFolderDeleted.js
Due: api

Fix context builder and update validation tests
  eq-author-api/schema/tests/validation.test.js
  eq-author-api/tests/utils/contextBuilder/folder/createFolder.js
  eq-author-api/tests/utils/contextBuilder/folder/deleteFolder.js
  eq-author-api/tests/utils/contextBuilder/folder/index.js
  eq-author-api/tests/utils/contextBuilder/index.js
  eq-author-api/tests/utils/contextBuilder/page/questionPage/createQuestionPage.js
Due: api

Fix more tests
  eq-author-api/schema/resolvers/pages/questionPage.js
  eq-author-api/schema/tests/answerGroupValidation.test.js
  eq-author-api/schema/tests/validation.test.js
Due: api

broken test
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.test.js
Due: author

Use en-gb locale for date strings in comments and their replies
  eq-author/src/components/CommentsPanel/CommentSection.js
  eq-author/src/components/CommentsPanel/Replies.js
Due: author

Migrated Footer folder to PaginationNav
  eq-author/src/App/QuestionnairesPage/QuestionnairesView/PaginationNav/PaginationNav.js
  eq-author/src/App/QuestionnairesPage/QuestionnairesView/PaginationNav/icon-arrow.svg
  eq-author/src/App/QuestionnairesPage/QuestionnairesView/PaginationNav/index.js
  eq-author/src/App/QuestionnairesPage/QuestionnairesView/index.js
Due: author

Remove forced width from Badge component - allow expansion
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/NavLink.js
Due: author

Fix more tests - some need revisiting
  eq-author-api/schema/tests/basicAnswer.test.js
  eq-author-api/schema/tests/calculatedSummary.test.js
  eq-author-api/schema/tests/comments.test.js
  eq-author-api/schema/tests/duplication.test.js
  eq-author-api/schema/tests/getAvailableAnswers.test.js
  eq-author-api/schema/tests/multipleChoiceAnswer.test.js
  eq-author-api/schema/tests/properties.test.js
  eq-author-api/schema/tests/questionConfirmation.test.js
  eq-author-api/schema/tests/questionnaire.test.js
  eq-author-api/schema/tests/routing.test.js
  eq-author-api/schema/tests/section.test.js
  eq-author-api/schema/tests/skipConditions.test.js
  eq-author-api/schema/tests/subscription.test.js
  eq-author-api/src/validation/customKeywords/calculatedSummaryUnitConsistency.js
  eq-author-api/tests/utils/contextBuilder/page/calculatedSummary/createCalculatedSummaryPage.js
Due: api

Implement temporary fix to heading design on Share Page to make headings more clear
  eq-author/src/App/sharing/SharePageContent/EditorSearch.js
  eq-author/src/App/sharing/SharePageContent/index.js
  eq-author/src/App/sharing/styles/SharePageContent.js
Due: author

refactor getAllAnswers
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.test.js
  eq-author/src/App/qcodes/QCodesTable/index.js
  eq-author/src/App/qcodes/QCodesTable/index.test.js
  eq-author/src/graphql/getAllAnswers.graphql
  eq-author/src/utils/getAllAnswersFlatMap.js
Due: author

Comments to highlight areas that need work
  eq-author-api/schema/resolvers/logic/routing2/routingRule2/index.js
  eq-author-api/schema/resolvers/pages/index.js
  eq-author-api/schema/resolvers/pages/questionPage.js
  eq-author-api/schema/resolvers/utils.js
  eq-author-api/schema/tests/page.test.js
  eq-author-api/server.test.js
  eq-author-api/src/businessLogic/availableRoutingDestinations.js
  eq-author-api/src/businessLogic/getNextDestination.js
  eq-author-api/src/businessLogic/onFolderDeleted.js
  eq-author-api/src/validation/customKeywords/validateRoutingRules.js
  eq-author-api/tests/utils/executeQuery.js
Due: api

Fixed test
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.test.js
Due: author

remove console logs
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
Due: author

extra test coverage
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.test.js
Due: author

Add validation for empty include/exclude section - add AJV schema, front-end message and new tests
  eq-author-api/src/validation/index.test.js
  eq-author-api/src/validation/schemas/definitions.json
  eq-author-api/src/validation/schemas/entities.json
  eq-author/src/App/page/Design/QuestionPageEditor/MetaEditor.js
  eq-author/src/constants/validationMessages.js
Due: author, api

Add front-end tests and update snapshot
  eq-author/src/App/page/Design/QuestionPageEditor/MetaEditor.test.js
  eq-author/src/App/page/Design/QuestionPageEditor/__snapshots__/MetaEditor.test.js.snap
Due: author

remove tests
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.test.js
Due: author

change fetch policy
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
Due: author

EAR-822 changes - validation for question description
  eq-author-api/src/validation/index.test.js
  eq-author-api/src/validation/schemas/entities.json
  eq-author/src/App/page/Design/QuestionPageEditor/MetaEditor.js
  eq-author/src/App/page/Design/QuestionPageEditor/MetaEditor.test.js
  eq-author/src/constants/validationMessages.js
Due: author, api

Removed Skip logic on first question
  eq-author/src/App/page/Logic/index.js
Due: author

Refactor shared error message generation -> validationUtils.js
  eq-author/src/App/page/Design/QuestionPageEditor/AdditionalInfo.js
  eq-author/src/App/page/Design/QuestionPageEditor/MetaEditor.js
  eq-author/src/App/page/Design/QuestionPageEditor/validationUtils.js
Due: author

EAR 884 changes - validation for empty additional information label & content
  eq-author-api/src/validation/index.test.js
  eq-author-api/src/validation/schemas/entities.json
  eq-author/src/App/page/Design/QuestionPageEditor/AdditionalInfo.test.js
  eq-author/src/App/page/Design/QuestionPageEditor/__snapshots__/AdditionalInfo.test.js.snap
  eq-author/src/App/page/Design/QuestionPageEditor/__snapshots__/MetaEditor.test.js.snap
  eq-author/src/App/page/Design/QuestionPageEditor/validationUtils.js
  eq-author/src/constants/validationMessages.js
Due: author, api

add qCodeError to Q resolver
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/src/validation/schemas/entities.json
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/App/QuestionnaireDesignPage/__snapshots__/index.test.js.snap
  eq-author/src/App/QuestionnaireDesignPage/index.js
  eq-author/src/App/qcodes/QCodesTable/index.js
  eq-author/src/App/qcodes/QCodesTable/index.test.js
Due: author, api

Add prop types
  eq-author/src/App/page/Logic/index.js
Due: author

Fixed tests
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/resolvers/pages/index.js
  eq-author-api/schema/resolvers/pages/questionPage.js
  eq-author-api/schema/tests/page.test.js
  eq-author-api/schema/typeDefs.js
Due: api

Path conditions:
  author: any of: eq-author/, but not: eq-author/src/stories
  api: any of: eq-author-api/, but not: eq-author/src/stories
  publisher: any of: eq-publisher/, but not: eq-author/src/stories
