Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

✅ Fix prop types
  eq-author/src/App/metadata/MetadataTable/Controls/Select.js
Due: author

✅ Fix tests & update snapshots
  eq-author/src/App/metadata/MetadataTable/Controls/Select.test.js
  eq-author/src/App/metadata/MetadataTable/__snapshots__/Row.test.js.snap
Due: author

🧹 Lint
  eq-author/src/App/metadata/MetadataTable/Controls/Select.js
Due: author

fix: eq-author-api/package.json & eq-author-api/yarn.lock to reduce vulnerabilities
  eq-author-api/package.json
  eq-author-api/yarn.lock
Due: api

♻️ Autocomplete: useCallback -> useMemo
  eq-author/src/components/Autocomplete/index.js
Due: author

🛠 Autocomplete: clear invalid queries on blur
  eq-author/src/components/Autocomplete/index.js
Due: author

💄 Autocomplete: make drop-down floaty
  eq-author/src/components/Autocomplete/index.style.js
Due: author

✨ Add fallback column to metadata table
  eq-author/src/App/metadata/MetadataTable/index.js
Due: author

💄 Autocomplete: Add borderless option
  eq-author/src/components/Autocomplete/index.js
  eq-author/src/components/Autocomplete/index.style.js
Due: author

✨ Add fallback select autocomplete to metadata tab
  eq-author/src/App/metadata/MetadataTable/Controls/FallbackSelect.js
  eq-author/src/App/metadata/MetadataTable/Controls/index.js
  eq-author/src/App/metadata/MetadataTable/Row.js
  eq-author/src/App/metadata/MetadataTable/index.js
Due: author

✅ UI: Fix existing tests
  eq-author/src/App/metadata/MetadataTable/Controls/FallbackSelect.js
  eq-author/src/App/metadata/MetadataTable/Row.js
  eq-author/src/App/metadata/MetadataTable/Row.test.js
  eq-author/src/App/metadata/MetadataTable/__snapshots__/Row.test.js.snap
Due: author

✨ Persist & fetch fallbackKey to/from DB
  eq-author-api/schema/typeDefs.js
  eq-author-api/src/businessLogic/updateMetadata.js
  eq-author/src/App/metadata/MetadataTable/Controls/FallbackSelect.js
  eq-author/src/App/metadata/MetadataTable/Row.js
  eq-author/src/App/metadata/withUpdateMetadata.js
  eq-author/src/graphql/fragments/available-metadata.graphql
  eq-author/src/graphql/fragments/metadata.graphql
Due: author, api

✅ UI/API: Tests for coverage
  eq-author/src/App/metadata/MetadataTable/Controls/FallbackSelect.test.js
  eq-author/src/App/metadata/MetadataTable/Controls/KeySelect.js
  eq-author/src/App/metadata/MetadataTable/Row.js
  eq-author/src/App/metadata/MetadataTable/Row.test.js
  eq-author/src/components/Autocomplete/index.js
Due: author

🧹 Lint
  eq-author/src/App/metadata/MetadataTable/Controls/KeySelect.js
Due: author

✨ Add fallbackKey support to publisher v2
  eq-publisher/src/getQuestionnaire/queries.js
  eq-publisher/src/utils/convertPipes.js
  eq-publisher/src/utils/convertPipes.test.js
Due: publisher

🛠 Autocomplete: fix not updating w/ options array
  eq-author/src/components/Autocomplete/index.js
Due: author

🛠 Metadata page: refetch on updates
  eq-author/src/App/metadata/MetadataPage.js
  eq-author/src/App/metadata/withUpdateMetadata.js
Due: author

✨ API: Delete fallbackKeys when ref deleted
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/tests/metadata.test.js
  eq-author-api/tests/utils/contextBuilder/metadata/queryMetadata.js
Due: api

🛠 Metadata: refetch on create/delete
  eq-author/src/App/metadata/withCreateMetadata.js
  eq-author/src/App/metadata/withDeleteMetadata.js
Due: author

✅ MetadataPage: update test re: loading
  eq-author/src/App/metadata/MetadataPage.test.js
Due: author

🛠 Autocomplete: allow changing defaultValue
  eq-author/src/App/metadata/MetadataTable/Controls/FallbackSelect.test.js
  eq-author/src/App/metadata/withUpdateMetadata.test.js
  eq-author/src/components/Autocomplete/index.js
Due: author

♻️ Refactor out Logic, NoRouting pages
  eq-author/src/App/page/Logic/Routing/RoutingPage/NoRouting.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/fragment.graphql
  eq-author/src/App/page/Logic/Routing/RoutingPage/index.js
  eq-author/src/App/page/Logic/Routing/index.js
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/NoSkipConditions.js
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/icon-routing.svg
  eq-author/src/App/page/Logic/SkipLogic/icon-add-rule.svg
  eq-author/src/App/page/Logic/SkipLogic/icon-route.svg
  eq-author/src/App/page/Logic/SkipLogic/index.js
  eq-author/src/App/questionConfirmation/Logic/Routing/index.js
  eq-author/src/App/shared/Logic/Routing/NoRouting.js
  eq-author/src/App/shared/Logic/Routing/NoRouting.test.js
  eq-author/src/App/shared/Logic/index.js
  eq-author/src/App/shared/Logic/index.test.js
  eq-author/src/assets/icon-add-rule.svg
  eq-author/src/assets/icon-route.svg
  eq-author/src/assets/icon-routing.svg
Due: author

✨ QConf: enable "Logic" tab
  eq-author/src/App/questionConfirmation/Design/index.js
  eq-author/src/App/questionConfirmation/Preview/index.js
  eq-author/src/App/questionConfirmation/index.js
  eq-author/src/components/EditorLayout/Tabs/index.js
  eq-author/src/utils/UrlUtils.js
Due: author

✅ Fix existing Routing / No Routing post-refactor
  eq-author/src/App/page/Logic/Routing/RoutingPage/index.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/index.test.js
  eq-author/src/App/questionConfirmation/Logic/Routing/index.js
  eq-author/src/App/shared/Logic/Routing/NoRouting.js
  eq-author/src/App/shared/Logic/Routing/NoRouting.test.js
Due: author

✅ UI: Fix existing tests post-NoRouting refactor
  eq-author/src/App/QuestionnaireDesignPage/__snapshots__/index.test.js.snap
  eq-author/src/App/questionConfirmation/Design/__snapshots__/index.test.js.snap
  eq-author/src/App/questionConfirmation/Logic/Routing/__snapshots__/index.test.js.snap
  eq-author/src/App/questionConfirmation/Logic/Routing/index.test.js
  eq-author/src/App/questionConfirmation/Preview/__snapshots__/index.test.js.snap
  eq-author/src/App/shared/Logic/__snapshots__/index.test.js.snap
  eq-author/src/App/shared/Logic/index.js
  eq-author/src/utils/UrlUtils.test.js
Due: author

♻️ Refactor SkipLogicRoute
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/fragment.graphql
  eq-author/src/App/page/Logic/SkipLogic/index.js
Due: author

fix: eq-author/package.json & eq-author/yarn.lock to reduce vulnerabilities
  eq-author/package.json
  eq-author/yarn.lock
Due: author

✅ Add coverage for SkipLogic route
  eq-author/src/App/page/Logic/SkipLogic/index.js
  eq-author/src/App/page/Logic/SkipLogic/index.test.js
  eq-author/src/App/page/Logic/SkipLogic/query.js
Due: author

fixing the tests
  eq-author-api/schema/tests/questionnaireIntroduction.test.js
  eq-author-api/tests/utils/contextBuilder/questionnaireIntroduction/query.js
  eq-author-api/tests/utils/contextBuilder/questionnaireIntroduction/update.js
  eq-author/src/App/introduction/Design/IntroductionEditor/withUpdateQuestionnaireIntroduction.test.js
Due: author, api

removed the rogue .only
  eq-author/src/App/introduction/Design/IntroductionEditor/withUpdateQuestionnaireIntroduction.test.js
Due: author

removing the console I had in
  eq-author/src/App/introduction/Design/IntroductionEditor/withUpdateQuestionnaireIntroduction.test.js
Due: author

💩 Broken graphql query - fragment not in data
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/fragment.graphql
  eq-author/src/App/page/Logic/SkipLogic/fragment.graphql
  eq-author/src/App/page/Logic/SkipLogic/index.js
  eq-author/src/App/page/Logic/SkipLogic/query.js
Due: author, api

fixing publisher tests
  eq-publisher/src/eq_schema/block-types/Introduction.js
  eq-publisher/src/eq_schema/block-types/Introduction.test.js
Due: publisher

♻️ Fix existing SkipLogic nested query
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/index.js
  eq-author/src/App/page/Logic/SkipLogic/fragment.graphql
  eq-author/src/App/page/Logic/SkipLogic/index.js
Due: author

🧹 Delete unused file SkipLogic/query.js
  eq-author/src/App/page/Logic/SkipLogic/query.js
Due: author

addeded a bit more test coverage
  eq-author/src/App/introduction/Design/IntroductionEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/introduction/Design/IntroductionEditor/index.js
  eq-author/src/App/introduction/Design/IntroductionEditor/index.test.js
Due: author

added in one more test
  eq-publisher/src/eq_schema/block-types/Introduction.test.js
Due: publisher

more tests to keep the codecov a happy bunny
  eq-author/src/App/introduction/Design/IntroductionEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/introduction/Design/IntroductionEditor/index.test.js
Due: author

remeoved docker changes
  eq-author-api/docker-compose.yml
Due: api

Add option to select operator for numeric answer logic
  eq-author-api/constants/routingConditions.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/src/businessLogic/answerTypeToConditions.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/NumberAnswerSelector.js
Due: author, api

Path conditions:
  author: any of: eq-author/, but not: eq-author/src/stories
  api: any of: eq-author-api/, but not: eq-author/src/stories
  publisher: any of: eq-publisher/, but not: eq-author/src/stories
