Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

Only check for duplication when values not empty
  eq-author-api/src/validation/schemas/entities.json
Due: api

fix conflict
  eq-author/yarn.lock
Due: author

Fixed disabling button for S2Q1
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/NoSkipConditions.js
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/index.js
  eq-author/src/App/page/Logic/SkipLogic/index.js
Due: author

Prevent confirmation errors propagating to parent
  eq-author-api/schema/resolvers/pages/questionPage.js
Due: api

Fixed merge conflict tests
  eq-author-api/schema/tests/multipleChoiceAnswer.test.js
  eq-author-api/schema/tests/page.test.js
  eq-author-api/src/validation/index.test.js
Due: api

Fix linting errors
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/resolvers/pages/calculatedSummaryPage.js
  eq-author-api/schema/resolvers/pages/questionPage.js
  eq-author-api/schema/tests/page.test.js
Due: api

Remove timeout
  eq-author-api/schema/tests/validation.test.js
Due: api

Increase timeout period
  eq-author-api/schema/tests/validation.test.js
Due: api

Double timeout period
  eq-author-api/schema/tests/validation.test.js
Due: api

Add original text code
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/tests/utils/contextBuilder/history/index.js
  eq-author/src/App/history/HistoryPage.js
  eq-author/src/App/history/cancelHistoryNoteMutation.graphql
Due: author, api

Add untracked file
  eq-author-api/tests/utils/contextBuilder/history/cancelHistoryNote.js
Due: api

Modify test expect
  eq-author-api/schema/tests/validation.test.js
Due: api

bump timeout to 40 seconds
  eq-author-api/schema/tests/validation.test.js
Due: api

remove timeout from validation.test
  eq-author-api/schema/tests/validation.test.js
Due: api

change timeout for failed test
  eq-author-api/schema/tests/validation.test.js
Due: api

Correct spelling on migration test
  eq-author-api/migrations/addFolders.test.js
Due: api

API changes - add collapsibleSummary to GraphQL
  eq-author-api/schema/typeDefs.js
  eq-author/src/graphql/fragments/questionnaire.graphql
Due: author, api

Add "summary page" heading & collapsible toggle
  eq-author/src/App/settings/SettingsPage.js
Due: author

Implement history note cancel button
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/tests/utils/contextBuilder/history/cancelHistoryNote.js
  eq-author-api/tests/utils/contextBuilder/history/index.js
  eq-author/src/App/history/HistoryItem.js
  eq-author/src/App/history/HistoryPage.js
  eq-author/src/App/history/cancelHistoryNoteMutation.graphql
Due: author, api

update utils
  eq-author-api/schema/resolvers/utils.js
Due: api

Updated No Skip text
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/NoSkipConditions.js
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/index.js
Due: author

Updated test with first question parameter
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/NoSkipCondtions.test.js
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/__snapshots__/NoSkipCondtions.test.js.snap
Due: author

Add support in publisher v2
  eq-publisher/src/eq_schema/Questionnaire.js
  eq-publisher/src/eq_schema/block-types/Summary.js
  eq-publisher/src/getQuestionnaire/queries.js
Due: publisher

Fix not saving in DB
  eq-author-api/db/models/DynamoDB.js
Due: api

Toggle collapsible off when summary off
  eq-author/src/App/settings/SettingsPage.js
Due: author

Remove comments and fix minor issues
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/resolvers/pages/index.js
  eq-author-api/schema/resolvers/pages/questionPage.js
  eq-author-api/src/businessLogic/availableRoutingDestinations.js
  eq-author-api/src/businessLogic/getNextDestination.js
  eq-author-api/src/businessLogic/onFolderDeleted.js
  eq-author-api/tests/utils/contextBuilder/page/questionPage/createQuestionPage.js
Due: api

Fix tests for publisher v2
  eq-publisher/src/eq_schema/block-types/Summary.test.js
Due: publisher

Fix tests for API / front end
  eq-author/src/App/QuestionnaireDesignPage/__snapshots__/index.test.js.snap
  eq-author/src/App/section/Design/index.test.js
  eq-author/src/App/settings/SettingsPage.test.js
Due: author

Refactored and updated tests
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/NoSkipConditions.js
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/NoSkipCondtions.test.js
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/__snapshots__/NoSkipCondtions.test.js.snap
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/index.js
Due: author

Added tests for CSS
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/NoSkipCondtions.test.js
Due: author

Removed commented out code
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/NoSkipCondtions.test.js
Due: author

Fix and add front-end tests
  eq-author/src/App/settings/SettingsPage.js
  eq-author/src/App/settings/SettingsPage.test.js
Due: author

Add cancel button tests
  eq-author/src/App/history/HistoryPage.test.js
Due: author

Fixed linting issues
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/NoSkipConditions.js
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/NoSkipCondtions.test.js
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/index.test.js
Due: author

Add text back to div to pass linting
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/index.js
Due: author

Update eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/NoSkipConditions.js
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/NoSkipConditions.js
Due: author

Implement reusable action button
  eq-author/src/App/history/HistoryItem.js
Due: author

Change cancel button styling to secondary
  eq-author/src/App/history/HistoryItem.js
Due: author

fix for tooltip focus
  eq-author/src/components/Forms/Tooltip/index.js
Due: author

Change history item button positions
  eq-author/src/App/history/HistoryItem.js
Due: author

Path conditions:
  author: any of: eq-author/, but not: eq-author/src/stories
  api: any of: eq-author-api/, but not: eq-author/src/stories
  publisher: any of: eq-publisher/, but not: eq-author/src/stories
