Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

test build into aws
  .github/workflows/awsAuthorBuild.yml
Due: none

fix: tests
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/index.test.js
Due: author

🛠 Fix delete folder bugs
  eq-author-api/schema/resolvers/pages/index.js
  eq-author/src/App/page/Design/withDeletePage.js
Due: author, api

fixed
  .github/workflows/awsAuthorBuild.yml
Due: none

fixed typo
  .github/workflows/awsAuthorBuild.yml
Due: none

fix: refetch query not needed
  eq-author/src/App/page/Design/withDeletePage.js
Due: author

switched to live repo
  .github/workflows/awsAuthorBuild.yml
Due: none

🛠 withDeletePage: fix redirect for last QP
  eq-author/src/App/page/Design/withDeletePage.js
Due: author

✅ withDeletePage: fix existing tests
  eq-author/src/App/page/Design/withDeletePage.test.js
Due: author

fix: remove test that uses props onAdd
  eq-author/src/App/section/Design/index.test.js
Due: author

fix: check pageType
  eq-author/src/App/page/Design/index.js
Due: author

fix: remove unnecessary async
  eq-author/src/App/folder/Design/index.test.js
Due: author

✅ useCreateFolder: add tests
  eq-author/src/App/page/Design/withDeletePage.js
  eq-author/src/hooks/useCreateFolder.js
  eq-author/src/hooks/useCreateFolder.test.js
  eq-author/src/hooks/useRedirects.js
Due: author

feat: add tests to support inside outside qp adding
  eq-author/src/App/folder/Design/index.test.js
Due: author

refactor: remove exta useQueries
  eq-author/src/App/folder/Design/index.test.js
Due: author

added app version
  .github/workflows/awsAuthorBuild.yml
Due: none

tweaked
  .github/workflows/awsAuthorBuild.yml
Due: none

✅ useCreateQuestionPage: add tests
  eq-author/src/hooks/useCreateQuestionPage.test.js
Due: author

feat: add test for set navigation
  eq-author/src/App/folder/Design/index.test.js
Due: author

fix: inside/outside background full-width
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu/FolderSubMenu.js
Due: author

fix: appease the lint gods
  eq-author/src/App/folder/Design/index.test.js
Due: author

fix: readd fdp ids
  eq-author/src/App/folder/Design/index.js
Due: author

Create initial settings tabs
  eq-author/src/App/settings/SettingsPage.js
  eq-author/src/components/VerticalTabs/index.js
Due: author

updated tagging
  .github/workflows/awsAuthorBuild.yml
Due: none

fix tagging
  .github/workflows/awsAuthorBuild.yml
Due: none

tagging again
  .github/workflows/awsAuthorBuild.yml
Due: none

Design update
  eq-author/src/App/settings/SettingsPage.js
Due: author

✅ NavigationCallbacks: add tests
  eq-author/src/components/NavigationCallbacks.js
  eq-author/src/components/NavigationCallbacks.test.js
Due: author

switch to run no
  .github/workflows/awsAuthorBuild.yml
Due: none

new pipeline
  .github/workflows/buildAuthorStaging.yml
Due: none

fic
  .github/workflows/buildAuthorStaging.yml
Due: none

second fix
  .github/workflows/buildAuthorStaging.yml
Due: none

remove whitespace
  .github/workflows/buildAuthorStaging.yml
Due: none

♻️ NavigationHeader: remove redundant functions
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/NavigationHeader.js
Due: author

merged update latest in staging build
  .github/workflows/buildAuthorStaging.yml
  .github/workflows/updateDockerHubLatest.yml
Due: none

deleted aws build
  .github/workflows/awsAuthorBuild.yml
Due: none

fix: add mutually exclusive option field to query
  eq-author/src/App/QuestionnaireDesignPage/getQuestionnaireQuery.graphql
Due: author

Add settings container with vertical line
  eq-author/src/App/settings/SettingsPage.js
Due: author

Change VerticalTabs components to use props
  eq-author/src/App/settings/SettingsPage.js
  eq-author/src/components/VerticalTabs/index.js
Due: author

Add default props
  eq-author/src/App/settings/SettingsPage.js
  eq-author/src/components/VerticalTabs/index.js
Due: author

Path conditions:
  author: any of: eq-author/, but not: eq-author/src/stories
  api: any of: eq-author-api/, but not: eq-author/src/stories
  publisher: any of: eq-publisher/, but not: eq-author/src/stories
