Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher

ignore:
  - "eq-author/src/stories"

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/

comment: off

move duplicates func into getAllAnswersFlatMap
  eq-author/src/App/QuestionnaireDesignPage/index.js
  eq-author/src/App/QuestionnaireDesignPage/index.test.js
  eq-author/src/utils/getAllAnswersFlatMap.js
Due: author

Update snapshots
  eq-author/src/App/shared/Logic/__snapshots__/index.test.js.snap
  eq-author/src/components/EditorLayout/Tabs/__snapshots__/tabs.test.js.snap
Due: author

UPGRADE prettier -> 2.2.1
  package.json
  yarn.lock
Due: none

Add badges to storybook
  eq-author/src/storybook/Components/Badge.stories.mdx
Due: author

Remove unused style code
  eq-author/src/storybook/Components/Badge.stories.mdx
Due: author

❌ Don't check for 'sharedErrors' serverside
  eq-author-api/schema/resolvers/base.js
Due: api

♻ displayName resolver: just use cheerio once
  eq-author-api/utils/getName.js
  eq-author-api/utils/html.js
  eq-author-api/utils/html.test.js
Due: api

✨ Add answer type/field to nav bar query
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/PageNavItem.js
Due: author

♻ QuestionPage: calculate prev. answers on client
  eq-author/src/App/page/Design/Validation/AvailablePreviousAnswersQuery.js
  eq-author/src/App/page/Design/Validation/GroupValidations/TotalValidation/TotalValidationEditor/PreviousAnswerEditor.js
  eq-author/src/App/page/Design/Validation/PreviousAnswerContentPicker.js
  eq-author/src/App/page/Design/Validation/PreviousAnswerEditor.js
  eq-author/src/components/ContentPickerv2/Menu.js
  eq-author/src/components/ContentPickerv2/SectionMenu.js
  eq-author/src/components/RouterContext/index.js
  eq-author/src/utils/getContentBeforePage.js
  eq-author/src/utils/getContentBeforePage.test.js
Due: author

✅ getContentBeforePage: fix file path in test
  eq-author/src/utils/getContentBeforePage.test.js
Due: author

❌ totalValidation UI: remove gql prev answer refs
  eq-author/src/App/page/Design/QuestionPageEditor/index.js
  eq-author/src/App/page/Design/Validation/GroupValidations/TotalValidation/TotalValidationEditor/PreviousAnswerEditor.js
  eq-author/src/graphql/createAnswer.graphql
  eq-author/src/graphql/deleteAnswer.graphql
Due: author

Fix main navigation badge not displaying in storybook
  eq-author/src/storybook/Components/Badge.stories.mdx
Due: author

Updated tests 1 failing
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/UpdateQuestionnaireSettingsModal/index.js
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.test.js
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector.test.js
  eq-author/src/App/page/Design/MovePageModal/index.test.js
  eq-author/src/App/page/Design/QuestionPageEditor/AnswerTypeSelector/index.test.js
  eq-author/src/App/page/Design/answers/Date/index.test.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MultipleChoiceAnswerOptionsSelector.test.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/RoutingAnswerContentPicker.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/__snapshots__/MultipleChoiceAnswerOptionsSelector.test.js.snap
  eq-author/src/App/page/Logic/BinaryExpressionEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Logic/BinaryExpressionEditor/checkboxRouting.test.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.test.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.test.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/index.test.js
  eq-author/src/App/page/Logic/Routing/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Logic/Routing/index.test.js
  eq-author/src/App/qcodes/QCodesTable/index.test.js
  eq-author/src/App/shared/Logic/SkipLogic/SkipLogicPage/SkipLogicEditor/SkipConditionEditor/index.test.js
  eq-author/src/App/shared/Logic/SkipLogic/SkipLogicPage/SkipLogicEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/shared/Logic/SkipLogic/SkipLogicPage/SkipLogicEditor/index.test.js
  eq-author/src/App/shared/Logic/SkipLogic/index.test.js
  eq-author/src/components/CommentAccordion/index.js
  eq-author/src/components/CommentAccordion/index.test.js
  eq-author/src/components/CommentsPanel/CommentSection.js
  eq-author/src/components/CommentsPanel/CommentSection.test.js
Due: author

Fix linting
  eq-author/src/App/page/Logic/Routing/RoutingPage/index.test.js
Due: author

Revert to previous commit
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
Due: author

Fix tests
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.test.js
Due: author

Run prettier v2 on changed files
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.test.js
  eq-author/src/App/QuestionnaireDesignPage/index.js
  eq-author/src/App/QuestionnaireDesignPage/index.test.js
  eq-author/src/App/qcodes/QCodesTable/index.test.js
  eq-author/src/utils/getAllAnswersFlatMap.js
Due: author

✅ Update snapshots
  eq-author/src/App/QuestionnaireDesignPage/__snapshots__/index.test.js.snap
Due: author

Fix merge issues
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.test.js
Due: author

♻ Comp. previous answers clientside for RTE
  eq-author-api/utils/html.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/PageNavItem.js
  eq-author/src/App/QuestionnaireDesignPage/index.js
  eq-author/src/components/ContentPicker/shapeTree.js
  eq-author/src/components/ContentPicker/shapeTree.test.js
  eq-author/src/components/RichTextEditor/AvailablePipingContentQuery.js
  eq-author/src/components/RichTextEditor/AvailablePipingContentQuery.test.js
  eq-author/src/components/RichTextEditor/PipingMenu.js
  eq-author/src/graphql/createQuestionPage.graphql
  eq-author/src/graphql/duplicatePage.graphql
  eq-author/src/graphql/duplicateSection.graphql
  eq-author/src/utils/getContentBeforePage.js
Due: author, api

🛠 Fix duplicating sections
  eq-author/src/graphql/duplicateSection.graphql
Due: author

Deploying to gh-pages from @ cbd25006230b6471967b10f16d2f8eaed62dbe2b 🚀
  iframe.html
  main.c000713193069dd7bd3d.bundle.js
  main.c000713193069dd7bd3d.bundle.js.map
  main.f2aa12ccb6b5070d6a8c.bundle.js
  main.f2aa12ccb6b5070d6a8c.bundle.js.map
  runtime~main.c000713193069dd7bd3d.bundle.js
  runtime~main.c000713193069dd7bd3d.bundle.js.map
  runtime~main.f2aa12ccb6b5070d6a8c.bundle.js.map
  vendors~main.c000713193069dd7bd3d.bundle.js
  vendors~main.c000713193069dd7bd3d.bundle.js.LICENSE.txt
  vendors~main.c000713193069dd7bd3d.bundle.js.map
  vendors~main.f2aa12ccb6b5070d6a8c.bundle.js.map
Due: none

Fixed tests after merge
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.test.js
  eq-author/src/App/QuestionnaireDesignPage/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.js
  eq-author/src/App/questionConfirmation/Design/Editor.test.js
  eq-author/src/App/questionConfirmation/Design/__snapshots__/index.test.js.snap
  eq-author/src/App/questionConfirmation/Design/index.test.js
  eq-author/src/App/questionConfirmation/Preview/index.test.js
Due: author

Removed commented out console.log
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.js
Due: author

🛠 Fixes post-merge
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/PageNavItem.js
  eq-author/src/App/page/Design/Validation/GroupValidations/TotalValidation/TotalValidationEditor/PreviousAnswerEditor.js
  eq-author/src/components/RichTextEditor/PipingMenu.js
Due: author

Fixed test after merge
  eq-author/src/App/shared/Logic/SkipLogic/index.test.js
Due: author

Merge
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
  eq-author/src/App/QuestionnaireDesignPage/index.test.js
  eq-author/src/App/folder/Design/index.js
  eq-author/src/components/Collapsible/index.js
  eq-author/src/components/CollapsibleNavItem/index.js
  eq-author/src/components/Panel/index.js
  eq-author/src/components/ShortCodeEditor/index.js
  eq-author/src/components/buttons/Button/index.js
  eq-author/src/enhancers/withCreateFolder.js
Due: author

Remove rogue file
  0
Due: none

Remove rogue file
  eq-publisher/0
Due: publisher

🛠 Fix not fetching answers' displayName
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/PageNavItem.js
Due: author

Update eq-author/src/components/NavItem/index.test.js
  eq-author/src/components/NavItem/index.test.js
Due: author

Update eq-author/src/App/folder/Design/index.test.js
  eq-author/src/App/folder/Design/index.test.js
Due: author

Update eq-author/src/App/folder/Design/index.js
  eq-author/src/App/folder/Design/index.js
Due: author

Deploying to gh-pages from @ 5479a32374b005e8d683a8fb433521d590f9ef00 🚀
  iframe.html
  main.5cf90865728ddbe0f29c.bundle.js
  main.5cf90865728ddbe0f29c.bundle.js.map
  main.c000713193069dd7bd3d.bundle.js
  main.c000713193069dd7bd3d.bundle.js.map
  runtime~main.5cf90865728ddbe0f29c.bundle.js
  runtime~main.5cf90865728ddbe0f29c.bundle.js.map
  runtime~main.c000713193069dd7bd3d.bundle.js.map
  vendors~main.5cf90865728ddbe0f29c.bundle.js
  vendors~main.5cf90865728ddbe0f29c.bundle.js.LICENSE.txt
  vendors~main.5cf90865728ddbe0f29c.bundle.js.map
  vendors~main.c000713193069dd7bd3d.bundle.js
  vendors~main.c000713193069dd7bd3d.bundle.js.map
Due: none

🛠 Fix piping answers on all other page types
  eq-author/src/App/page/Design/Validation/PreviousAnswerContentPicker.js
  eq-author/src/App/page/Design/Validation/PreviousAnswerContentPicker.test.js
  eq-author/src/components/RichTextEditor/PipingMenu.js
  eq-author/src/utils/getContentBeforeEntity.js
  eq-author/src/utils/getContentBeforeEntity.test.js
  eq-author/src/utils/getContentBeforePage.js
Due: author

Updated error badge to reuse existing component
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/NavLink.js
  eq-author/src/components/CollapsibleNavItem/index.js
  eq-author/src/components/NavItem/index.js
Due: author

Refactoring
  eq-author/src/App/QuestionnaireDesignPage/index.js
Due: author

Updated proptype
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu.js
Due: author

Added tooltip to duplicate questionnaire button
  eq-author/src/components/buttons/DuplicateButton/__snapshots__/index.spec.js.snap
  eq-author/src/components/buttons/DuplicateButton/index.js
Due: author
