Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher

ignore:
  - "eq-author/src/stories"

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/

comment: off

work in progress
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/UpdateQuestionnaireSettingsModal/index.js
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/App/qcodes/QCodesTable/index.js
  eq-author/src/utils/getAllAnswersFlatMap.js
Due: author

♻️ WIP: Use context to pass down answers
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/App/QuestionnaireDesignPage/index.js
Due: author

Updated inprogress text and test
  eq-author/src/components/CommentAccordion/index.js
  eq-author/src/components/CommentsPanel/CommentSection.test.js
Due: author

Removed unused const in test
  eq-author/src/components/CommentsPanel/CommentSection.test.js
Due: author

Removed optional fields for Cal Sum page
  eq-author/src/App/page/Design/index.js
Due: author

💄 Add tooltips to add / remove condition buttons
  eq-author/src/App/page/Logic/BinaryExpressionEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.js
Due: author

Fix error when min/max value entered without unit
  eq-author/src/App/page/Design/Validation/AnswerValidation.js
Due: author

Fix unit type selection
  eq-author/src/components/Autocomplete/index.js
  eq-author/src/components/Autocomplete/index.test.js
Due: author

Update eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/resolvers/base.js
Due: api

Deploying to gh-pages from @ ee675ec1eae540f095bf11d28b9ec80a5517dc04 🚀
  iframe.html
  main.01ee18b7e7499c9614c4.bundle.js
  main.01ee18b7e7499c9614c4.bundle.js.map
  main.0b7e0e998dc290bebaf1.bundle.js
  main.0b7e0e998dc290bebaf1.bundle.js.map
  runtime~main.01ee18b7e7499c9614c4.bundle.js.map
  runtime~main.0b7e0e998dc290bebaf1.bundle.js
  runtime~main.0b7e0e998dc290bebaf1.bundle.js.map
  vendors~main.01ee18b7e7499c9614c4.bundle.js.map
  vendors~main.0b7e0e998dc290bebaf1.bundle.js
  vendors~main.0b7e0e998dc290bebaf1.bundle.js.LICENSE.txt
  vendors~main.0b7e0e998dc290bebaf1.bundle.js.map
Due: none

context now handling all flattened answers
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/App/QuestionnaireDesignPage/__snapshots__/index.test.js.snap
  eq-author/src/App/QuestionnaireDesignPage/index.js
  eq-author/src/App/qcodes/QCodesTable/index.js
  eq-author/src/App/qcodes/QCodesTable/index.test.js
Due: author

Rename and rejig from review
  eq-author/src/components/CommentAccordion/index.js
  eq-author/src/components/CommentsPanel/CommentHeader.js
  eq-author/src/components/CommentsPanel/CommentSection.js
  eq-author/src/components/CommentsPanel/Replies.js
  eq-author/src/components/CommentsPanel/index.js
Due: author

♻ Tidy up BinaryExpressionEditor
  eq-author/src/App/page/Logic/BinaryExpressionEditor/components.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.js
  eq-author/src/App/shared/Logic/SkipLogic/SkipLogicPage/SkipLogicEditor/SkipConditionEditor/index.js
  eq-author/src/components/transitions/BounceTransition/index.js
  eq-author/src/components/transitions/BounceTransition/index.test.js
Due: author

♻ Other logic components: use BounceTransition
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/index.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/index.js
  eq-author/src/App/page/Logic/Routing/Transition.js
  eq-author/src/App/page/Logic/Routing/Transition.test.js
  eq-author/src/App/page/Logic/Routing/__snapshots__/Transition.test.js.snap
  eq-author/src/App/shared/Logic/SkipLogic/SkipLogicPage/SkipLogicEditor/SkipConditionEditor/index.js
  eq-author/src/App/shared/Logic/SkipLogic/SkipLogicPage/SkipLogicEditor/index.js
Due: author

Deploying to gh-pages from @ b0a7337ca583205fa9b6b3a4f7f0169b14e37af0 🚀
  iframe.html
  main.0b7e0e998dc290bebaf1.bundle.js
  main.0b7e0e998dc290bebaf1.bundle.js.map
  main.a78894eafaa907d2288d.bundle.js
  main.a78894eafaa907d2288d.bundle.js.map
  runtime~main.0b7e0e998dc290bebaf1.bundle.js.map
  runtime~main.a78894eafaa907d2288d.bundle.js
  runtime~main.a78894eafaa907d2288d.bundle.js.map
  vendors~main.0b7e0e998dc290bebaf1.bundle.js.map
  vendors~main.a78894eafaa907d2288d.bundle.js
  vendors~main.a78894eafaa907d2288d.bundle.js.LICENSE.txt
  vendors~main.a78894eafaa907d2288d.bundle.js.map
Due: none

Implement unit type min/max fix
  eq-author/src/App/page/Design/Validation/AnswerValidation.js
Due: author

fix for section title
  eq-publisher/src/eq_schema/Section.js
Due: publisher

fix test
  eq-publisher/src/eq_schema/Section.test.js
Due: publisher

bugs galore
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/resolvers/pages/questionPage.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/src/validation/schemas/answer.json
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/App/QuestionnaireDesignPage/__snapshots__/index.test.js.snap
  eq-author/src/App/QuestionnaireDesignPage/index.js
  eq-author/src/App/qcodes/QCodesTable/graphql/getAllAnswers.graphql
  eq-author/src/App/qcodes/QCodesTable/index.js
  eq-author/src/App/qcodes/QCodesTable/index.test.js
Due: author, api

small issue in geAllAnswers
  eq-author/src/App/QuestionnaireDesignPage/index.js
  eq-author/src/App/qcodes/QCodesTable/graphql/getAllAnswers.graphql
Due: author

Add validation to subscription
  eq-author/src/App/QuestionnaireDesignPage/index.js
Due: author

💄 Move expressionGroup operator select out
  eq-author/src/App/page/Logic/BinaryExpressionEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.test.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/index.js
  eq-author/src/App/shared/Logic/SkipLogic/SkipLogicPage/SkipLogicEditor/__snapshots__/index.test.js.snap
  eq-author/src/components/transitions/BounceTransition/__snapshots__/index.test.js.snap
Due: author

🛠 Fix shared AND errors not displaying
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.js
Due: author

✅ Fix existing tests
  eq-author-api/src/validation/schemas/logic.json
  eq-author/src/App/page/Logic/BinaryExpressionEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Logic/BinaryExpressionEditor/checkboxRouting.test.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.test.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.test.js
  eq-author/src/components/ValidationError/index.js
  eq-author/src/components/transitions/BounceTransition/index.js
Due: author, api

🧹 Lint
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.test.js
Due: author

yolo
  eq-author-api/app.js
Due: api

yolo pt2
  eq-author-api/app.js
Due: api

update author tag
  .github/workflows/authorPullRequest.yml
Due: none

Fix all the things!
  .github/workflows/apiPullRequest.yml
  .github/workflows/publisherPullRequest.yml
Due: none

✨ Don't pre-set expressionGroup.operator (routing)
  eq-author-api/src/businessLogic/createExpressionGroup.js
Due: api

✨ Add validation for null group operator
  eq-author-api/src/validation/index.test.js
  eq-author-api/src/validation/schemas/logic.json
  eq-author/src/App/page/Logic/BinaryExpressionEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Logic/BinaryExpressionEditor/components.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/fragment.graphql
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.test.js
  eq-author/src/constants/validationMessages.js
Due: author, api

Use ternary operator
  eq-author/src/App/page/Design/Validation/AnswerValidation.js
  eq-author/src/App/page/Design/Validation/AnswerValidation.test.js
Due: author

Implement test
  eq-author/src/App/page/Design/Validation/AnswerValidation.test.js
  eq-author/src/App/page/Design/Validation/__snapshots__/AnswerValidation.test.js.snap
Due: author

Update test
  eq-author/src/App/page/Design/Validation/AnswerValidation.test.js
  eq-author/src/App/page/Design/Validation/__snapshots__/AnswerValidation.test.js.snap
Due: author

most tests working - sections broken
  eq-author-api/schema/resolvers/base.js
  eq-author-api/src/validation/index.test.js
  eq-author-api/src/validation/schemas/confirmationPage.json
  eq-author/src/App/QuestionnaireDesignPage/__snapshots__/index.test.js.snap
  eq-author/src/App/QuestionnaireDesignPage/index.js
  eq-author/src/App/qcodes/QCodesTable/index.js
  eq-author/src/graphql/fragments/question-confirmation.graphql
  eq-author/src/graphql/updateAnswer.graphql
Due: author, api

🛠 Fix skip logic page
  eq-author/src/App/page/Logic/BinaryExpressionEditor/components.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.js
  eq-author/src/App/shared/Logic/SkipLogic/SkipLogicPage/SkipLogicEditor/SkipConditionEditor/fragment.graphql
Due: author

✨ When only one expression, clear group operator
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/withDeleteBinaryExpression.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/index.js
Due: author, api

updated pageNavItem
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/PageNavItem.js
  eq-author/src/App/QuestionnaireDesignPage/__snapshots__/index.test.js.snap
  eq-author/src/App/QuestionnaireDesignPage/index.js
Due: author

✅ BinaryExpressionEditor: Update snapshot
  eq-author/src/App/page/Logic/BinaryExpressionEditor/__snapshots__/index.test.js.snap
Due: author

all qcodes working?
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/PageNavItem.js
  eq-author/src/graphql/createAnswer.graphql
  eq-author/src/graphql/createSection.graphql
  eq-author/src/graphql/questionConfirmation/create.graphql
Due: author
