Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher

ignore:
  - "eq-author/src/stories"

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/

comment: off

OK the UI look and feel done
  eq-author/src/App/settings/ThemesPage.js
Due: author

Introduction pages now use new comments
  eq-author/src/App/introduction/Preview/index.js
  eq-author/src/components/Comments_v2/Comment/index.js
  eq-author/src/components/Comments_v2/graphql/commentSubscription.graphql
  eq-author/src/components/Comments_v2/graphql/commentsQuery.graphql
  eq-author/src/components/Comments_v2/graphql/createNewComment.graphql
  eq-author/src/components/Comments_v2/graphql/createNewReply.graphql
  eq-author/src/components/Comments_v2/graphql/deleteComment.graphql
  eq-author/src/components/Comments_v2/graphql/deleteReply.graphql
  eq-author/src/components/Comments_v2/graphql/updateComment.graphql
  eq-author/src/components/Comments_v2/graphql/updateReply.graphql
  eq-author/src/components/Comments_v2/index.js
Due: author

Setup subscription
  eq-author/src/components/Comments_v2/index.js
Due: author

Added 'add comment' box, button and 'comments' header
  eq-author/src/components/Comments_v2/index.js
Due: author

moved create methods into business logic
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/resolvers/pages/calculatedSummaryPage.js
  eq-author-api/schema/resolvers/pages/index.js
  eq-author-api/schema/resolvers/pages/questionPage.js
  eq-author-api/schema/resolvers/utils.js
  eq-author-api/src/businessLogic/createCalculatedSummary.js
  eq-author-api/src/businessLogic/createFolder.js
  eq-author-api/src/businessLogic/createQuestionPage.js
  eq-author-api/src/businessLogic/createSection.js
  eq-author-api/src/businessLogic/index.js
Due: api

EAR-1220 Fix the qCode page (#1876)
  eq-author/src/App/QuestionnaireDesignPage/getQuestionnaireQuery.graphql
  eq-author/src/App/qcodes/QCodesTable/graphql/getAllAnswers.graphql
  eq-author/src/App/qcodes/QCodesTable/graphql/updateCalculatedSummary.graphql
  eq-author/src/App/qcodes/QCodesTable/graphql/updateConfirmationQCode.graphql
  eq-author/src/App/qcodes/QCodesTable/index.js
  eq-author/src/App/qcodes/QCodesTable/index.test.js
  eq-author/src/App/qcodes/QcodesPage.js
  eq-author/src/App/qcodes/index.js
  eq-author/src/utils/getAllAnswersFlatMap.js
Due: author

Made 'add comment' component
  eq-author/src/components/Comments_v2/AddComment/index.js
  eq-author/src/components/Comments_v2/Comment/index.js
  eq-author/src/components/Comments_v2/index.js
Due: author

Can now add and delete comments and replies
  eq-author/src/components/Comments_v2/AddComment/index.js
  eq-author/src/components/Comments_v2/Comment/index.js
  eq-author/src/components/Comments_v2/index.js
Due: author

Updated storybook
  eq-author/src/components/Comments_v2/Comment/index.js
  eq-author/src/storybook/Components/Comment.stories.mdx
Due: author

You can now update a comment
  eq-author/package.json
  eq-author/src/components/Comments_v2/AddComment/index.js
  eq-author/src/components/Comments_v2/Comment/index.js
  eq-author/src/components/Comments_v2/index.js
  eq-author/yarn.lock
Due: author

move utils into own folder - add sep files
  eq-author-api/migrations/addDefaultTheme.js
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/resolvers/logic/binaryExpression2/index.js
  eq-author-api/schema/resolvers/logic/routing2/expressionGroup2/index.js
  eq-author-api/schema/resolvers/logic/routing2/index.js
  eq-author-api/schema/resolvers/logic/routing2/routing2/index.js
  eq-author-api/schema/resolvers/logic/routing2/routingRule2/index.js
  eq-author-api/schema/resolvers/pages/calculatedSummaryPage.js
  eq-author-api/schema/resolvers/pages/index.js
  eq-author-api/schema/resolvers/pages/questionPage.js
  eq-author-api/schema/resolvers/utils/helpers.js
  eq-author-api/schema/resolvers/utils/utils.js
  eq-author-api/schema/tests/duplication.test.js
  eq-author-api/schema/tests/folder.test.js
  eq-author-api/schema/tests/page.test.js
  eq-author-api/schema/tests/skipConditions.test.js
  eq-author-api/src/businessLogic/availableRoutingDestinations.js
  eq-author-api/src/businessLogic/getNextDestination.js
  eq-author-api/src/businessLogic/getPreviousAnswersForSection.js
  eq-author-api/src/businessLogic/onAnswerDeleted.js
  eq-author-api/src/businessLogic/onPageDeleted.js
  eq-author-api/src/businessLogic/onSectionDeleted.js
  eq-author-api/src/validation/customKeywords/calculatedSummaryUnitConsistency.js
  eq-author-api/src/validation/customKeywords/idExists.js
  eq-author-api/src/validation/customKeywords/idPreceedsCurrentEntity.js
  eq-author-api/src/validation/customKeywords/validateExpression.js
  eq-author-api/src/validation/customKeywords/validateLeftHandSide.js
  eq-author-api/src/validation/customKeywords/validateMultipleChoiceCondition.js
  eq-author-api/src/validation/customKeywords/validateRoutingLogicalAND.js
  eq-author-api/src/validation/customKeywords/validateRoutingRules.js
  eq-author-api/tests/utils/contextBuilder/index.js
Due: api

Swapped to comments V2
  eq-author/src/App/introduction/Preview/index.js
  eq-author/src/components/CommentsPanel/AddComment/index.js
  eq-author/src/components/CommentsPanel/Comment/index.js
  eq-author/src/components/CommentsPanel/CommentHeader.js
  eq-author/src/components/CommentsPanel/CommentSection.js
  eq-author/src/components/CommentsPanel/CommentSection.test.js
  eq-author/src/components/CommentsPanel/EditComment.js
  eq-author/src/components/CommentsPanel/EditComment.test.js
  eq-author/src/components/CommentsPanel/EditReply.js
  eq-author/src/components/CommentsPanel/EditReply.test.js
  eq-author/src/components/CommentsPanel/Replies.js
  eq-author/src/components/CommentsPanel/Replies.test.js
  eq-author/src/components/CommentsPanel/icon-delete.svg
  eq-author/src/components/CommentsPanel/icon-edit.svg
  eq-author/src/components/CommentsPanel/index.js
  eq-author/src/components/CommentsPanel/index.test.js
  eq-author/src/components/CommentsPanel/setupTests.js
  eq-author/src/components/Comments_v2/graphql/commentSubscription.graphql
  eq-author/src/components/Comments_v2/graphql/commentsQuery.graphql
  eq-author/src/components/Comments_v2/graphql/createNewComment.graphql
  eq-author/src/components/Comments_v2/graphql/createNewReply.graphql
  eq-author/src/components/Comments_v2/graphql/deleteComment.graphql
  eq-author/src/components/Comments_v2/graphql/deleteReply.graphql
  eq-author/src/components/Comments_v2/graphql/updateComment.graphql
  eq-author/src/components/Comments_v2/graphql/updateReply.graphql
  eq-author/src/components/Comments_v2/index.js
  eq-author/src/storybook/Components/Comment.stories.mdx
Due: author

Revert "move utils into own folder - add sep files"
  eq-author-api/migrations/addDefaultTheme.js
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/resolvers/logic/binaryExpression2/index.js
  eq-author-api/schema/resolvers/logic/routing2/expressionGroup2/index.js
  eq-author-api/schema/resolvers/logic/routing2/index.js
  eq-author-api/schema/resolvers/logic/routing2/routing2/index.js
  eq-author-api/schema/resolvers/logic/routing2/routingRule2/index.js
  eq-author-api/schema/resolvers/pages/calculatedSummaryPage.js
  eq-author-api/schema/resolvers/pages/index.js
  eq-author-api/schema/resolvers/pages/questionPage.js
  eq-author-api/schema/resolvers/utils.js
  eq-author-api/schema/resolvers/utils/helpers.js
  eq-author-api/schema/tests/duplication.test.js
  eq-author-api/schema/tests/folder.test.js
  eq-author-api/schema/tests/page.test.js
  eq-author-api/schema/tests/skipConditions.test.js
  eq-author-api/src/businessLogic/availableRoutingDestinations.js
  eq-author-api/src/businessLogic/getNextDestination.js
  eq-author-api/src/businessLogic/getPreviousAnswersForSection.js
  eq-author-api/src/businessLogic/onAnswerDeleted.js
  eq-author-api/src/businessLogic/onPageDeleted.js
  eq-author-api/src/businessLogic/onSectionDeleted.js
  eq-author-api/src/validation/customKeywords/calculatedSummaryUnitConsistency.js
  eq-author-api/src/validation/customKeywords/idExists.js
  eq-author-api/src/validation/customKeywords/idPreceedsCurrentEntity.js
  eq-author-api/src/validation/customKeywords/validateExpression.js
  eq-author-api/src/validation/customKeywords/validateLeftHandSide.js
  eq-author-api/src/validation/customKeywords/validateMultipleChoiceCondition.js
  eq-author-api/src/validation/customKeywords/validateRoutingLogicalAND.js
  eq-author-api/src/validation/customKeywords/validateRoutingRules.js
  eq-author-api/tests/utils/contextBuilder/index.js
Due: api

remaned utils
  eq-author-api/schema/resolvers/utils/getters.js
  eq-author-api/schema/resolvers/utils/index.js
Due: api

Added collapsible proptypes and storybook documentation
  eq-author/src/components/Collapsible/index.js
  eq-author/src/storybook/Components/Collapsible.stories.mdx
Due: author

Added 'AddComment' proptypes
  eq-author/src/components/CommentsPanel/AddComment/index.js
  eq-author/src/components/CommentsPanel/Comment/index.js
Due: author

Added remaining proptypes
  eq-author/src/components/CommentsPanel/Comment/index.js
  eq-author/src/components/CommentsPanel/index.js
Due: author

Updated snapshots
  eq-author/src/components/buttons/Button/__snapshots__/LinkButton.test.js.snap
  eq-author/src/components/buttons/TextButton/__snapshots__/index.test.js.snap
  eq-author/src/components/datatable/Controls/__snapshots__/AddRowButton.test.js.snap
Due: author

asdd theme file and strip out
  eq-author-api/schema/resolvers/utils/getters.js
  eq-author-api/schema/resolvers/utils/index.js
  eq-author-api/schema/resolvers/utils/theme.js
Due: api

add helper file
  eq-author-api/schema/resolvers/utils/getters.js
  eq-author-api/schema/resolvers/utils/helpers.js
  eq-author-api/schema/resolvers/utils/index.js
Due: api

strip out validation into own file
  eq-author-api/schema/resolvers/utils/getters.js
  eq-author-api/schema/resolvers/utils/index.js
  eq-author-api/schema/resolvers/utils/validation.js
Due: api

more stripping!
  eq-author-api/schema/resolvers/utils/folderGetters.js
  eq-author-api/schema/resolvers/utils/getters.js
  eq-author-api/schema/resolvers/utils/index.js
  eq-author-api/schema/resolvers/utils/pageGetters.js
  eq-author-api/schema/resolvers/utils/sectionGetters.js
Due: api

Started tests
  eq-author/src/components/CommentsPanel/AddComment/index.test.js
Due: author

fix val import
  eq-author-api/schema/resolvers/utils/validation.js
Due: api

all done
  eq-author-api/schema/resolvers/utils/answerGetters.js
  eq-author-api/schema/resolvers/utils/getters.js
  eq-author-api/schema/resolvers/utils/helpers.js
  eq-author-api/schema/resolvers/utils/index.js
  eq-author-api/schema/resolvers/utils/logicGetters.js
  eq-author-api/schema/resolvers/utils/pageGetters.js
  eq-author-api/schema/resolvers/utils/validation.js
Due: api

Moved create theme into bus logic
  eq-author-api/migrations/addDefaultTheme.js
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/resolvers/utils/theme.js
  eq-author-api/src/businessLogic/createTheme.js
  eq-author-api/src/businessLogic/index.js
Due: api

Stuff
  eq-author/src/components/CommentsPanel/AddComment/index.js
  eq-author/src/components/CommentsPanel/Comment/index.js
Due: author

removed redundant Ids
  eq-author-api/schema/resolvers/pages/index.js
  eq-author-api/schema/resolvers/pages/questionPage.js
  eq-author-api/src/businessLogic/createCalculatedSummary.js
  eq-author-api/src/businessLogic/createFolder.js
  eq-author-api/src/businessLogic/createQuestionPage.js
Due: api

Refactoring
  eq-author/src/components/Collapsible/index.js
  eq-author/src/components/CommentsPanel/AddComment/index.js
  eq-author/src/components/CommentsPanel/Comment/index.js
  eq-author/src/components/CommentsPanel/Replies/index.js
Due: author

✨ EAR 1208 - Add previewTheme support to publisher
  eq-publisher/src/constants/legalBases.js
  eq-publisher/src/eq_schema/Questionnaire.js
  eq-publisher/src/eq_schema/Questionnaire.test.js
  eq-publisher/src/getQuestionnaire/queries.js
Due: publisher

🛠 Themes: migrate social surveys to "social" theme
  eq-author-api/migrations/addDefaultTheme.js
  eq-author-api/migrations/addDefaultTheme.test.js
  eq-author-api/schema/typeDefs.js
Due: api

🛠 Create social questionnaires with "social" theme
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/tests/questionnaire.test.js
Due: api

Refactoring
  eq-author/.storybook/main.js
  eq-author/.storybook/preview.js
  eq-author/package.json
  eq-author/src/App/Comments/graphql/commentSubscription.graphql
  eq-author/src/App/Comments/graphql/commentsQuery.graphql
  eq-author/src/App/Comments/graphql/createNewComment.graphql
  eq-author/src/App/Comments/graphql/createNewReply.graphql
  eq-author/src/App/Comments/graphql/deleteComment.graphql
  eq-author/src/App/Comments/graphql/deleteReply.graphql
  eq-author/src/App/Comments/graphql/updateComment.graphql
  eq-author/src/App/Comments/graphql/updateReply.graphql
  eq-author/src/App/Comments/index.js
  eq-author/src/App/page/Preview/CalculatedSummaryPreview.js
  eq-author/src/App/page/Preview/QuestionPagePreview.js
  eq-author/src/App/questionConfirmation/Preview/index.js
  eq-author/src/App/section/Preview/index.js
  eq-author/src/components/CommentAccordion/index.js
  eq-author/src/components/CommentAccordion/index.test.js
  eq-author/src/components/Comments/Comment/index.js
  eq-author/src/components/Comments/CommentEditor/index.js
  eq-author/src/components/Comments/PureComment/index.js
  eq-author/src/components/CommentsPanel/AddComment/index.js
  eq-author/src/components/CommentsPanel/AddComment/index.test.js
  eq-author/src/components/CommentsPanel/Replies/index.js
  eq-author/src/storybook/Patterns/Comments/Comment.stories.js
  eq-author/src/storybook/Patterns/Comments/CommentEditor.stories.js
  eq-author/src/storybook/Patterns/Comments/PureComment.stories.js
  eq-author/yarn.lock
Due: author

Refactoring
  eq-author/src/App/introduction/Preview/index.js
  eq-author/src/components/Comments/PureComment/index.js
  eq-author/src/storybook/Components/Comment.stories.mdx
Due: author

Proptypes
  eq-author/src/App/page/Preview/CalculatedSummaryPreview.test.js
  eq-author/src/App/page/Preview/QuestionPagePreview.test.js
  eq-author/src/components/Comments/Comment/index.js
  eq-author/src/components/Comments/PureComment/index.js
Due: author

Pure comment tests
  eq-author/src/components/Comments/CommentEditor/index.js
  eq-author/src/components/Comments/PureComment/index.js
  eq-author/src/components/Comments/PureComment/index.test.js
  eq-author/src/storybook/Patterns/Comments/Comment.stories.js
  eq-author/src/storybook/Patterns/Comments/PureComment.stories.js
Due: author

Tests added
  eq-author/src/components/Comments/CommentEditor/index.js
  eq-author/src/components/Comments/CommentEditor/index.test.js
Due: author

Tests added
  eq-author/src/components/Comments/Comment/index.js
  eq-author/src/components/Comments/Comment/index.test.js
Due: author

✅ jest: add global mock for SVGR
  eq-author/__mocks__/svgrMock.js
  eq-author/package.json
  eq-author/src/App/page/Design/QuestionPageEditor/AnswerTypeSelector/__snapshots__/AnswerTypeButton.test.js.snap
  eq-author/src/App/page/Design/answers/dummy/TextInput/__snapshots__/index.test.js.snap
  eq-author/src/App/questionConfirmation/Design/__snapshots__/index.test.js.snap
  eq-author/src/App/section/Design/SectionEditor/__snapshots__/SectionEditor.test.js.snap
  eq-author/src/components/buttons/ToggleSwitch/__snapshots__/index.test.js.snap
  eq-author/src/components/datatable/Controls/__snapshots__/TableSelect.test.js.snap
Due: author
