Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher

ignore:
  - "eq-author/src/stories"

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/

comment: off

Routing rule 'Match x the following rules' now defaults to 'Any of'
  eq-author-api/0
  eq-author-api/src/businessLogic/createExpressionGroup.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.js
Due: author, api

Routing rule 'Match [All of]' does not error if only mutually exclusive option selected
  eq-author-api/0
  eq-author-api/src/validation/customKeywords/validateExclusiveCheckbox.js
Due: api

Mixing 'or' and standard checkbox options in 'and' routing rule errors
  eq-author-api/constants/validationErrorCodes.js
  eq-author-api/src/validation/customKeywords/validateExclusiveCheckbox.js
  eq-author/src/constants/validationMessages.js
Due: author, api

Mixing 'or' and standard checkbox options in 'any of' rule and 'all of' group errors
  eq-author-api/constants/validationErrorCodes.js
  eq-author-api/src/validation/customKeywords/validateExclusiveCheckbox.js
  eq-author/src/constants/validationMessages.js
Due: author, api

Added test for missing unit in preview
  eq-author/src/components/preview/Answers/AnswerTrailingUnit.test.js
Due: author

Updated test and snap for type property
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/UnitProperties.test.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/__snapshots__/UnitProperties.test.js.snap
Due: author

fix: eq-author-api/package.json & eq-author-api/yarn.lock to reduce vulnerabilities
  eq-author-api/package.json
  eq-author-api/yarn.lock
Due: api

Refactored backend for validating multiple choice conditions
  eq-author-api/constants/validationErrorCodes.js
  eq-author-api/src/validation/customKeywords/index.js
  eq-author-api/src/validation/customKeywords/validateExclusiveCheckbox.js
  eq-author-api/src/validation/customKeywords/validateExpressionGroupOperator.js
  eq-author-api/src/validation/customKeywords/validateMultipleChoiceCondition.js
  eq-author-api/src/validation/schemas/entities.json
  eq-author/src/constants/validationMessages.js
Due: author, api

Linting
  eq-author-api/src/validation/customKeywords/validateExpressionGroupOperator.js
Due: api

Fed errors through to front end
  eq-author-api/schema/resolvers/logic/routing2/expressionGroup2/index.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/src/validation/createValidationError.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/fragment.graphql
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.js
Due: author, api

Refactoring
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/fragment.graphql
Due: author

Frontend
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MultipleChoiceAnswerOptionsSelector.js
Due: author

Refactoring
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MultipleChoiceAnswerOptionsSelector.js
Due: author

Updated backend, added error state for select
  eq-author-api/src/validation/customKeywords/index.js
  eq-author-api/src/validation/customKeywords/validateExpression.js
  eq-author-api/src/validation/customKeywords/validateExpressionGroupOperator.js
  eq-author-api/src/validation/schemas/entities.json
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MultipleChoiceAnswerOptionsSelector.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.js
  eq-author/src/components/Forms/Select/index.js
  eq-author/src/storybook/Components/Select.stories.mdx
Due: author, api

working - needs tidy up and tests
  eq-author-api/src/validation/schemas/entities.json
  eq-author/src/App/page/Design/Validation/AnswerValidation.js
  eq-author/src/App/page/Design/Validation/DateValidation.js
  eq-author/src/App/page/Design/Validation/Duration.js
Due: author, api

fixed test and missing key on map
  eq-author/src/App/page/Design/Validation/AnswerValidation.js
  eq-author/src/App/page/Design/Validation/AnswerValidation.test.js
Due: author

Completed front end
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MultipleChoiceAnswerOptionsSelector.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.js
  eq-author/src/constants/validationMessages.js
Due: author

Refactor validationTypes.reduce to shorter forEach when generating array of duration/range buttons
  eq-author/src/App/page/Design/Validation/AnswerValidation.js
Due: author

Use getValidationsForType directly - probably not much performance hit and logic is more clear
  eq-author/src/App/page/Design/Validation/AnswerValidation.js
Due: author

fixes for tests
  eq-author/src/App/page/Design/Validation/AnswerValidation.test.js
  eq-author/src/App/page/Design/Validation/DateValidation.test.js
  eq-author/src/App/page/Design/Validation/__snapshots__/DateValidation.test.js.snap
Due: author

remove hasError from duration
  eq-author/src/App/page/Design/Validation/Duration.js
Due: author

Begin moving logic into render()
  eq-author/src/App/page/Design/Validation/AnswerValidation.js
Due: author

Revert last change to functional version
  eq-author/src/App/page/Design/Validation/AnswerValidation.js
Due: author

Convert to function-style component
  eq-author/src/App/page/Design/Validation/AnswerValidation.js
Due: author

small fixes
  eq-author/src/App/page/Design/Validation/AnswerValidation.js
  eq-author/src/App/page/Design/Validation/DateValidation.test.js
  eq-author/src/App/page/Design/Validation/Duration.js
  eq-author/src/App/page/Design/Validation/Duration.test.js
  eq-author/src/App/page/Design/Validation/DurationValidation.js
  eq-author/src/App/page/Design/Validation/DurationValidation.test.js
  eq-author/src/App/page/Design/Validation/__snapshots__/Duration.test.js.snap
Due: author

hasError proptype should not be required
  eq-author/src/App/page/Design/Validation/DateValidation.test.js
  eq-author/src/App/page/Design/Validation/Duration.js
  eq-author/src/App/page/Design/Validation/Duration.test.js
  eq-author/src/App/page/Design/Validation/__snapshots__/Duration.test.js.snap
Due: author

coverage should be good now
  eq-author/src/App/page/Design/Validation/Duration.test.js
  eq-author/src/App/page/Design/Validation/__snapshots__/Duration.test.js.snap
Due: author

lint
  eq-author/src/App/page/Design/Validation/Duration.test.js
Due: author

Fixed front end tests
  eq-author/src/App/page/Logic/BinaryExpressionEditor/__snapshots__/MultipleChoiceAnswerOptionsSelector.test.js.snap
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.js
  eq-author/src/components/datatable/Controls/__snapshots__/TableSelect.test.js.snap
Due: author

Fixed back end tests
  eq-author-api/src/validation/index.test.js
Due: api

Merge refactoring changes
  eq-author/src/App/page/Design/Validation/AnswerValidation.js
Due: author

Fix duplication of validation messages
  eq-author/src/App/page/Design/Validation/AnswerValidation.js
Due: author

Update tests to check for side-effects rather than state owing to change away from class component
  eq-author/src/App/page/Design/Validation/AnswerValidation.test.js
Due: author

Move titleText() out to be top-level function; not needed as closure
  eq-author/src/App/page/Design/Validation/AnswerValidation.js
Due: author

Fix incorrect CSS error highlighting of disabled elements
  eq-author/src/App/page/Design/Validation/AnswerValidation.js
Due: author

Added test
  eq-author-api/schema/resolvers/logic/routing2/expressionGroup2/index.js
  eq-author-api/schema/tests/routing.test.js
  eq-author-api/tests/utils/contextBuilder/page/queryPage.js
Due: api

Added test
  eq-author-api/schema/tests/routing.test.js
Due: api

Added test
  eq-author-api/schema/resolvers/logic/routing2/expressionGroup2/index.js
  eq-author-api/schema/tests/routing.test.js
Due: api
