Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

tidy up
  eq-author/src/App/QuestionnaireSettingsModal/QuestionnaireMeta/index.js
  eq-author/src/App/QuestionnairesPage/QuestionnairesView/QuestionnairesTable/Row/index.js
  eq-author/src/App/QuestionnairesPage/QuestionnairesView/QuestionnairesTable/Row/index.test.js
Due: author

update snapshot
  eq-author/src/App/QuestionnaireSettingsModal/QuestionnaireMeta/__snapshots__/QuestionnaireMeta.test.js.snap
Due: author

💥 withUpdateValidationRule: remove refetchQuery
  eq-author/src/App/page/Design/Validation/withUpdateValidationRule.js
Due: author

fix for focus
  eq-author/src/App/QuestionnairesPage/QuestionnairesView/QuestionnairesTable/Row/index.js
Due: author

linter fix
  eq-author/src/App/QuestionnairesPage/QuestionnairesView/QuestionnairesTable/Row/index.js
Due: author

more linter stuff
  eq-author/src/App/QuestionnairesPage/QuestionnairesView/QuestionnairesTable/Row/index.js
Due: author

remove commented code
  eq-author/src/App/QuestionnairesPage/QuestionnairesView/QuestionnairesTable/Row/index.js
Due: author

✨ AnswerValidation: UI changes (prevAnswer errors)
  eq-author/src/App/page/Design/Validation/AnswerValidation.js
  eq-author/src/App/page/Design/Validation/NumericValidation/PreviousAnswerEditor.js
  eq-author/src/constants/validationMessages.js
Due: author

✨ DateValidation: add errors for prev. answer
  eq-author/src/App/page/Design/Validation/AnswerValidation.js
  eq-author/src/App/page/Design/Validation/DateValidation/PreviousAnswerEditor.js
  eq-author/src/App/page/Design/Validation/DateValidation/__snapshots__/PreviousAnswerEditor.test.js.snap
  eq-author/src/App/page/Design/Validation/DateValidation/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Design/Validation/DateValidation/index.js
  eq-author/src/App/page/Design/Validation/NumericValidation/PreviousAnswerEditor.test.js
  eq-author/src/App/page/Design/Validation/NumericValidation/index.js
  eq-author/src/App/page/Design/Validation/PreviousAnswerEditor.js
  eq-author/src/App/page/Design/Validation/PreviousAnswerEditor.test.js
  eq-author/src/App/page/Design/Validation/__snapshots__/AnswerValidation.test.js.snap
  eq-author/src/App/page/Design/Validation/__snapshots__/PreviousAnswerEditor.test.js.snap
Due: author

✨ TotalValidation: add errors for prev. answer
  eq-author/src/App/page/Design/Validation/AlignedColumn.js
  eq-author/src/App/page/Design/Validation/GroupValidations/TotalValidation/TotalValidationEditor/PreviousAnswerEditor.js
  eq-author/src/App/page/Design/Validation/GroupValidations/TotalValidation/TotalValidationEditor/__snapshots__/PreviousAnswerEditor.test.js.snap
  eq-author/src/App/page/Design/Validation/GroupValidations/TotalValidation/TotalValidationEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Design/Validation/GroupValidations/TotalValidation/TotalValidationEditor/index.js
  eq-author/src/App/page/Design/Validation/GroupValidations/TotalValidation/index.js
  eq-author/src/App/page/Design/Validation/GroupValidations/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Design/Validation/GroupValidations/index.js
  eq-author/src/App/page/Design/Validation/GroupValidations/index.test.js
  eq-author/src/App/page/Design/Validation/withUpdateValidationRule.test.js
  eq-author/src/constants/validationMessages.js
Due: author

🛠 totalValidation/customEditor -> fix errors
  eq-author/src/App/page/Design/Validation/GroupValidations/TotalValidation/TotalValidationEditor/CustomEditor.js
  eq-author/src/App/page/Design/Validation/GroupValidations/TotalValidation/TotalValidationEditor/CustomEditor.test.js
  eq-author/src/App/page/Design/Validation/GroupValidations/TotalValidation/TotalValidationEditor/__snapshots__/CustomEditor.test.js.snap
  eq-author/src/constants/validationMessages.js
Due: author

✅ TotalValidation/previousAnswerEditor: add test
  eq-author/src/App/page/Design/Validation/GroupValidations/TotalValidation/TotalValidationEditor/PreviousAnswerEditor.test.js
  eq-author/src/App/page/Design/Validation/GroupValidations/TotalValidation/TotalValidationEditor/__snapshots__/PreviousAnswerEditor.test.js.snap
Due: author

♻️ AnswerValidation: use ValidationError component
  eq-author/src/App/page/Design/Validation/AnswerValidation.js
  eq-author/src/App/page/Design/Validation/GroupValidations/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Design/Validation/GroupValidations/index.js
Due: author

🧹 AnswerValidation: Lint
  eq-author/src/App/page/Design/Validation/AnswerValidation.js
Due: author

♻️ AnswerValidation: tidy up error processing
  eq-author/src/App/page/Design/Validation/AnswerValidation.js
Due: author

🛠 PreviousAnswerEditor: put error under toggle
  eq-author/src/App/page/Design/Validation/PreviousAnswerEditor.js
  eq-author/src/App/page/Design/Validation/__snapshots__/PreviousAnswerEditor.test.js.snap
Due: author

🛠 totalValidation/customEditor: fix errors
  eq-author/src/App/page/Design/Validation/GroupValidations/TotalValidation/TotalValidationEditor/CustomEditor.js
  eq-author/src/App/page/Design/Validation/GroupValidations/TotalValidation/TotalValidationEditor/CustomEditor.test.js
  eq-author/src/App/page/Design/Validation/GroupValidations/TotalValidation/TotalValidationEditor/__snapshots__/CustomEditor.test.js.snap
Due: author

✅ totalValidation/CustomEditor: update proptypes
  eq-author/src/App/page/Design/Validation/GroupValidations/TotalValidation/TotalValidationEditor/CustomEditor.js
Due: author

💄 Fix margin styling of validation buttons
  eq-author/src/App/page/Design/Validation/AnswerValidation.js
  eq-author/src/components/buttons/SidebarButton/index.js
Due: author

✅ AJV: test date prev answer deleted / moved
  eq-author-api/src/validation/index.test.js
Due: api

Update eq-author-api/src/validation/customKeywords/idPreceedsCurrentEntity.js
  eq-author-api/src/validation/customKeywords/idPreceedsCurrentEntity.js
Due: api

💄 Change moved answer error text
  eq-author/src/constants/validationMessages.js
Due: author

Updated tests
  eq-author-api/schema/resolvers/base.js
  eq-author/src/components/CommentAccordion/index.js
  eq-author/src/components/CommentAccordion/index.test.js
  eq-author/src/components/CommentsPanel/CommentHeader.js
  eq-author/src/components/CommentsPanel/CommentSection.js
  eq-author/src/components/CommentsPanel/CommentSection.test.js
  eq-author/src/components/CommentsPanel/EditComment.js
  eq-author/src/components/CommentsPanel/EditComment.test.js
  eq-author/src/components/CommentsPanel/EditReply.js
  eq-author/src/components/CommentsPanel/EditReply.test.js
  eq-author/src/components/CommentsPanel/Replies.js
  eq-author/src/components/CommentsPanel/Replies.test.js
  eq-author/src/components/CommentsPanel/graphql/commentSubscription.graphql
  eq-author/src/components/CommentsPanel/graphql/commentsQuery.graphql
  eq-author/src/components/CommentsPanel/graphql/createNewComment.graphql
  eq-author/src/components/CommentsPanel/graphql/createNewReply.graphql
  eq-author/src/components/CommentsPanel/graphql/deleteComment.graphql
  eq-author/src/components/CommentsPanel/graphql/deleteReply.graphql
  eq-author/src/components/CommentsPanel/graphql/updateComment.graphql
  eq-author/src/components/CommentsPanel/graphql/updateReply.graphql
  eq-author/src/components/CommentsPanel/index.js
  eq-author/src/components/CommentsPanel/index.test.js
  eq-author/src/components/CommentsPanel/setupTests.js
  eq-author/src/components/buttons/Button/index.js
Due: author, api

Fixed tests from graphql refactor
  eq-author/src/App/page/Preview/CalculatedSummaryPreview.test.js
  eq-author/src/App/page/Preview/QuestionPagePreview.test.js
  eq-author/src/components/CommentsPanel/CommentHeader.js
  eq-author/src/components/CommentsPanel/CommentSection.js
  eq-author/src/components/CommentsPanel/EditReply.js
  eq-author/src/components/CommentsPanel/Replies.js
  eq-author/src/components/CommentsPanel/Replies.test.js
  eq-author/src/components/CommentsPanel/index.test.js
Due: author

Code tidyup
  eq-author/src/components/CommentsPanel/CommentHeader.js
  eq-author/src/components/CommentsPanel/CommentSection.js
  eq-author/src/components/CommentsPanel/CommentSection.test.js
  eq-author/src/components/CommentsPanel/Replies.js
  eq-author/src/components/CommentsPanel/index.js
  eq-author/src/components/CommentsPanel/index.test.js
Due: author

Fixed index
  eq-author/src/components/CommentsPanel/index.test.js
Due: author

Replace safeLoad
  eq-author-api/middleware/identification/index.test.js
  eq-author-api/middleware/identification/verifyServiceRequest.js
  eq-author-api/middleware/identification/verifyServiceRequest.test.js
  eq-author-api/utils/jwtHelper.js
  eq-publisher/src/middleware/createAuthToken.js
  eq-publisher/src/middleware/createAuthToken.test.js
Due: api, publisher

Fixed index test
  eq-author/src/components/CommentsPanel/index.test.js
Due: author

Updated sortedComments
  eq-author-api/schema/resolvers/base.js
Due: api

#1692 needs safeLoad -> load
  eq-author-api/middleware/identification/index.test.js
  eq-author-api/middleware/identification/verifyServiceRequest.js
  eq-author-api/middleware/identification/verifyServiceRequest.test.js
  eq-author-api/utils/jwtHelper.js
  eq-publisher/src/middleware/createAuthToken.js
  eq-publisher/src/middleware/createAuthToken.test.js
Due: api, publisher

Update eq-author/src/App/page/Design/Validation/DateValidation/index.js
  eq-author/src/App/page/Design/Validation/DateValidation/index.js
Due: author

Fix autofocus behind modal
  eq-author/src/App/QuestionnairesPage/QuestionnairesView/QuestionnairesTable/Row/index.js
Due: author

Fix hanging test
  eq-author/src/App/QuestionnairesPage/QuestionnairesView/QuestionnairesTable/Row/index.js
  eq-author/src/App/QuestionnairesPage/QuestionnairesView/index.test.js
Due: author

Remove double comment
  eq-author/src/App/QuestionnairesPage/QuestionnairesView/index.test.js
Due: author

🛠 Fix validations not updating properly
  eq-author-api/schema/resolvers/createMutation.js
  eq-author-api/src/validation/schemas/validation.json
Due: api

💄 Fix validation button expanding when value empty
  eq-author/src/App/page/Design/Validation/AnswerValidation.js
Due: author

✅ Fix broken API tests & lint
  eq-author-api/schema/resolvers/createMutation.js
  eq-author/src/App/page/Design/Validation/AnswerValidation.js
Due: author, api

✅ Fix API tests
  eq-author-api/schema/resolvers/createMutation.js
Due: api

Updated styling of Accordion and Reply in progress
  eq-author/src/components/CommentAccordion/index.js
Due: author

Path conditions:
  author: any of: eq-author/, but not: eq-author/src/stories
  api: any of: eq-author-api/, but not: eq-author/src/stories
  publisher: any of: eq-publisher/, but not: eq-author/src/stories
