Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher

ignore:
  - "eq-author/src/stories"

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/

comment: off

removing the label content
  eq-author/src/App/introduction/Design/IntroductionEditor/index.js
Due: author

Remove display of number input if no operator is selected
  eq-author/src/App/page/Logic/BinaryExpressionEditor/NumberAnswerSelector.js
Due: author

✅ SkipLogic: fix existing test for route
  eq-author/src/App/page/Logic/SkipLogic/index.test.js
Due: author

removed the highlight as not required
  eq-author/src/App/introduction/Design/IntroductionEditor/index.js
Due: author

🛠 Fix 'skippable' interface resolver & add test
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/tests/skippable.test.js
  eq-author-api/schema/typeDefs.js
Due: api

Add destination required validation message
  eq-author-api/src/validation/schemas/entities.json
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.js
  eq-author/src/constants/validationMessages.js
Due: author, api

fix for mongo incorrect ordering
  eq-author-api/db/datastore/datastore-mongodb.js
Due: api

♻️ Use Skippable in resolvers for skipConditions
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/resolvers/utils.js
  eq-author-api/schema/tests/skippable.test.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/tests/utils/contextBuilder/skipConditions/createSkipCondition.js
  eq-author-api/tests/utils/contextBuilder/skipConditions/deleteSkipConditions.js
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/SkipLogicEditor/SkipConditionEditor/deleteSkipCondition.graphql
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/SkipLogicEditor/SkipConditionEditor/deleteSkipConditions.graphql
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/SkipLogicEditor/SkipConditionEditor/withDeleteSkipConditions.js
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/SkipLogicEditor/SkipConditionEditor/withDeleteSkipConditions.test.js
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/SkipLogicEditor/createSkipCondition.graphql
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/SkipLogicEditor/withCreateSkipCondition.js
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/SkipLogicEditor/withCreateSkipCondition.test.js
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/createSkipCondition.graphql
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/withCreateSkipLogic.js
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/withCreateSkipLogic.test.js
Due: author, api

♻️ Refactor Logic page pending decoupling from QP
  eq-author/src/App/page/Logic/Routing/index.js
  eq-author/src/App/page/Logic/SkipLogic/index.js
  eq-author/src/App/page/Logic/SkipLogic/index.test.js
  eq-author/src/App/shared/Logic/index.js
  eq-author/src/App/shared/Logic/index.test.js
Due: author

Fix validation error tests expecting no dest err
  eq-author-api/schema/tests/routing.test.js
Due: api

✅ SkipLogic: Fix existing tests
  eq-author/src/App/page/Logic/Routing/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Logic/SkipLogic/index.js
  eq-author/src/App/page/Logic/SkipLogic/index.test.js
  eq-author/src/App/questionConfirmation/Logic/Routing/__snapshots__/index.test.js.snap
  eq-author/src/App/shared/Logic/__snapshots__/index.test.js.snap
Due: author

🧹 Lint
  eq-author/src/App/page/Logic/Routing/index.js
  eq-author/src/App/page/Logic/SkipLogic/index.js
Due: author

🛠 Clear fallbackKey when metadata type changed
  eq-author-api/schema/tests/metadata.test.js
  eq-author-api/src/businessLogic/updateMetadata.js
  eq-author-api/tests/utils/contextBuilder/metadata/createMetadata.js
  eq-author-api/tests/utils/contextBuilder/metadata/updateMetadata.js
Due: api

Deploying to gh-pages from @ a0163862a3aa00e686202a05d50f9fa809a41b23 🚀
  iframe.html
  main.69232f0181198f24a280.bundle.js
  main.69232f0181198f24a280.bundle.js.map
  runtime~main.69232f0181198f24a280.bundle.js
  runtime~main.69232f0181198f24a280.bundle.js.map
  vendors~main.69232f0181198f24a280.bundle.js
  vendors~main.69232f0181198f24a280.bundle.js.LICENSE.txt
  vendors~main.69232f0181198f24a280.bundle.js.map
Due: none

Adjust padding left
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.js
Due: author

♻️ SkipLogicPage: refactor / tidy up
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/index.js
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/index.test.js
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/withCreateSkipLogic.js
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/withCreateSkipLogic.test.js
  eq-author/src/App/page/Logic/SkipLogic/index.js
Due: author

♻️ Move out mutations into own file
  eq-author/src/App/page/Logic/SkipLogic/mutations.js
Due: author

Update tests
  eq-author/src/App/page/Logic/BinaryExpressionEditor/__snapshots__/NumberAnswerSelector.test.js.snap
Due: author

Update API tests
  eq-author-api/src/businessLogic/answerTypeToCondition.test.js
Due: api

♻️ SkipLogicEditor: refactor mutation passing
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/SkipLogicEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/SkipLogicEditor/createSkipCondition.graphql
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/SkipLogicEditor/index.js
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/SkipLogicEditor/index.test.js
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/SkipLogicEditor/withCreateSkipCondition.js
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/SkipLogicEditor/withCreateSkipCondition.test.js
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/index.js
  eq-author/src/App/page/Logic/SkipLogic/mutations.js
Due: author

♻️ Move file createSkipCondition.graphql
  eq-author/src/App/page/Logic/SkipLogic/createSkipCondition.graphql
Due: author

🧹 Fix spelling
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/NoSkipConditions.js
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/NoSkipCondtions.test.js
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/index.js
Due: author

♻️ SkipConditionsEditor: refactor w/ mutation hook
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/SkipLogicEditor/SkipConditionEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/SkipLogicEditor/SkipConditionEditor/index.js
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/SkipLogicEditor/SkipConditionEditor/index.test.js
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/SkipLogicEditor/SkipConditionEditor/withDeleteSkipCondition.js
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/SkipLogicEditor/SkipConditionEditor/withDeleteSkipCondition.test.js
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/SkipLogicEditor/SkipConditionEditor/withDeleteSkipConditions.js
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/SkipLogicEditor/SkipConditionEditor/withDeleteSkipConditions.test.js
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/SkipLogicEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/index.test.js
  eq-author/src/App/page/Logic/SkipLogic/deleteSkipCondition.graphql
  eq-author/src/App/page/Logic/SkipLogic/deleteSkipConditions.graphql
  eq-author/src/App/page/Logic/SkipLogic/mutations.js
Due: author

✅ SkipLogicPage: extra coverage
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/index.js
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/index.test.js
Due: author

✨ Add skip conditions to qconf - draft working UI
  eq-author-api/schema/resolvers/utils.js
  eq-author-api/src/businessLogic/getPreviousAnswersForPage.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/RoutingAnswerContentPicker.js
  eq-author/src/App/questionConfirmation/index.js
Due: author, api

Reorder imports
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.js
Due: author

✨ Add skipConditions to qconf in AJV schema
  eq-author-api/src/validation/schemas/entities.json
  eq-author/src/App/page/Logic/SkipLogic/fragment.graphql
Due: author, api

Refactor rule editor into Fun Component
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.js
Due: author

Move destination validation error to destination selector
  eq-author/src/App/page/Logic/Routing/DestinationSelector/index.js
Due: author

Fix broken tests
  eq-author/src/App/page/Logic/Routing/DestinationSelector/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.test.js
Due: author

Implement start of null changes
  eq-author-api/constants/routingConditions.js
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/NumberAnswerSelector.js
Due: author, api

🛠 Fix confirmation skipcondition error creation
  eq-author-api/src/validation/createValidationError.js
Due: api

Remove blue ban from preview & adjust height
  eq-author/src/App/introduction/Preview/__snapshots__/index.test.js.snap
  eq-author/src/App/introduction/Preview/index.js
  eq-author/src/components/buttons/ToggleSwitch/__snapshots__/index.test.js.snap
  eq-author/src/components/buttons/ToggleSwitch/index.js
Due: author

Add test for coverage
  eq-author/src/App/introduction/Preview/index.test.js
Due: author

Update eq-author/src/components/buttons/ToggleSwitch/index.js
  eq-author/src/components/buttons/ToggleSwitch/index.js
Due: author

🛠 Fix getPreviousAnswersForPage
  eq-author-api/src/businessLogic/getPreviousAnswersForPage.js
Due: api

update page title to wrap title in header
  eq-author/src/components/EditorLayout/Header/PageTitle.js
  eq-author/yarn.lock
Due: author

clean up
  eq-author/src/components/EditorLayout/Header/PageTitle.js
Due: author

Add spacing when addguidancepanel is closed
  eq-author/src/App/introduction/Design/IntroductionEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/introduction/Design/IntroductionEditor/index.js
Due: author

🛠 getPreviousAnswersForPage: use lodash flatMap
  eq-author-api/src/businessLogic/getPreviousAnswersForPage.js
Due: api
