Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher

ignore:
  - "eq-author/src/stories"

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/

comment: off

✅ Add more API tests for coverage
  eq-author-api/src/validation/index.test.js
Due: api

Add tests for move and delete for page and section
  eq-author-api/schema/tests/skipConditions.test.js
Due: api

Update eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/index.test.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/index.test.js
Due: author

Fixed linting
  eq-author-api/schema/tests/skipConditions.test.js
Due: api

✨ Add UI changes to routing & skip logic pages
  eq-author-api/schema/resolvers/logic/routing2/expressionGroup2/index.js
  eq-author-api/src/validation/customKeywords/validateRoutingLogicalAND.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MultipleChoiceAnswerOptionsSelector.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/NumberAnswerSelector.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/fragment.graphql
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.js
  eq-author/src/constants/validationMessages.js
Due: author, api

fix: eq-author/package.json & eq-author/yarn.lock to reduce vulnerabilities
  eq-author/package.json
  eq-author/yarn.lock
Due: author

🛠 Fix reporting only first invalid answerId
  eq-author-api/src/validation/customKeywords/validateRoutingLogicalAND.js
Due: api

✅ Fix & add front-end tests
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MultipleChoiceAnswerOptionsSelector.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MultipleChoiceAnswerOptionsSelector.test.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/NumberAnswerSelector.test.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/__snapshots__/MultipleChoiceAnswerOptionsSelector.test.js.snap
  eq-author/src/App/page/Logic/BinaryExpressionEditor/__snapshots__/NumberAnswerSelector.test.js.snap
  eq-author/src/App/page/Logic/BinaryExpressionEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.test.js
Due: author

🛠 Fix validation not updating on expression delete
  eq-author/src/App/page/Logic/BinaryExpressionEditor/deleteBinaryExpression.graphql
Due: author

Error now shows only when answer is used at least once in expression group
  eq-author-api/src/validation/customKeywords/validateExpression.js
Due: api

✅ Add missing test for BinaryExpressionEditor
  eq-author-api/src/validation/customKeywords/validateRoutingLogicalAND.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.test.js
Due: author, api

Implement start of radio button design
  eq-author/src/App/introduction/Design/IntroductionEditor/LegalBasisField.js
  eq-author/src/components/Forms/Input/RadioButton.js
Due: author

Place text in centre of legal options
  eq-author/src/components/Forms/Input/RadioButton.js
Due: author

Move radio button background colour to centre
  eq-author/src/App/introduction/Design/IntroductionEditor/LegalBasisField.js
  eq-author/src/components/Forms/Input/RadioButton.js
Due: author

Refactor code into one index file
  eq-author/src/App/introduction/Design/IntroductionEditor/LegalBasisField.js
  eq-author/src/components/Forms/Input/index.js
Due: author

🛠 Fix 'qCode' being required for additionalAnswer
  eq-author-api/src/validation/schemas/entities.json
Due: api

Add styling to story
  eq-author/src/components/Forms/Input/RadioButton.js
  eq-author/src/storybook/Components/Radio.stories.mdx
Due: author

Fix issue preventing radio label from being clicked in story
  eq-author/src/components/Forms/Input/index.js
  eq-author/src/storybook/Components/Radio.stories.mdx
Due: author

Add description and styling to title
  eq-author/src/storybook/Components/Radio.stories.mdx
Due: author

Change variant name and reformat code
  eq-author/src/App/introduction/Design/IntroductionEditor/LegalBasisField.js
  eq-author/src/components/Forms/Input/index.js
  eq-author/src/storybook/Components/Radio.stories.mdx
Due: author

Update tests to fix failed tests
  eq-author/src/App/introduction/Design/IntroductionEditor/__snapshots__/LegalBasisField.test.js.snap
Due: author

✨ Add "insert link" button to RTE toolbar
  eq-author/src/components/RichTextEditor/LinkPlugin/ToolbarButton.js
  eq-author/src/components/RichTextEditor/LinkPlugin/icon-link.svg
  eq-author/src/components/RichTextEditor/LinkPlugin/index.js
  eq-author/src/components/RichTextEditor/Toolbar.js
  eq-author/src/components/RichTextEditor/index.js
  eq-author/src/components/RichTextEditor/utils/createFormatStripper.js
Due: author

🛠 Fix not being able to focus on modal's inputs
  eq-author/src/components/RichTextEditor/index.js
Due: author

💡 Changes for clarity & add comments
  eq-author-api/src/validation/customKeywords/validateRoutingLogicalAND.js
Due: api

♻️ Allow fromHTML to process multiple entities
  eq-author/src/components/RichTextEditor/entities/PipedValue.js
  eq-author/src/components/RichTextEditor/index.js
  eq-author/src/components/RichTextEditor/utils/convert.js
Due: author

Convert px to em
  eq-author/src/App/introduction/Design/IntroductionEditor/LegalBasisField.js
  eq-author/src/components/Forms/Input/index.js
  eq-author/src/storybook/Components/Radio.stories.mdx
Due: author

🛠 Add / fix link conversion from HTML
  eq-author/src/components/RichTextEditor/LinkPlugin/index.js
  eq-author/src/components/RichTextEditor/index.js
Due: author

🛠 Fix selection oddities post link insertion
  eq-author/src/components/RichTextEditor/LinkPlugin/index.js
Due: author

Disabled add routing button
  eq-author/src/App/page/Logic/Routing/RoutingPage/NoRouting.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/NoRouting.test.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/index.js
  eq-author/src/App/page/Logic/Routing/index.js
Due: author

Fix issue preventing radio button being checked and implement tests
  eq-author/src/App/introduction/Design/IntroductionEditor/LegalBasisField.js
  eq-author/src/App/introduction/Design/IntroductionEditor/__snapshots__/LegalBasisField.test.js.snap
  eq-author/src/components/Forms/Input/Input.test.js
Due: author

Updated test
  eq-author/src/App/page/Logic/Routing/RoutingPage/NoRouting.test.js
Due: author

Fixed test
  eq-author/src/App/page/Logic/Routing/RoutingPage/NoRouting.test.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/__snapshots__/NoRouting.test.js.snap
Due: author

🛠 Fix deleting answers/pages breaking author API
  eq-author-api/src/validation/customKeywords/validateRoutingLogicalAND.js
Due: api

Add autocomplete file to storybook
  eq-author/src/storybook/Components/Autocomplete.stories.mdx
Due: author

🛠 Bug fix - only validate AND operator
  eq-author-api/src/validation/schemas/entities.json
Due: api

Add component template
  eq-author/src/components/Autocomplete/index.js
  eq-author/src/components/Autocomplete/index.test.js
  eq-author/src/storybook/Components/Autocomplete.stories.mdx
Due: author

Add test conditions for autocomplete
  eq-author/src/components/Autocomplete/index.test.js
Due: author

Add a11y to help with accessibility
  eq-author/.storybook/main.js
  eq-author/package.json
  eq-author/yarn.lock
Due: author

✨ Add selection behaviour - replace text w/ link
  eq-author/src/components/RichTextEditor/LinkPlugin/ToolbarButton.js
  eq-author/src/components/RichTextEditor/LinkPlugin/index.js
  eq-author/src/components/RichTextEditor/Toolbar.js
Due: author
