Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

Deploying to gh-pages from @ 1aa8c338fe0cbf0cdf9803e3383d2c202757c98c 🚀
  iframe.html
  main.12e51b081cbf5d958933.bundle.js
  main.12e51b081cbf5d958933.bundle.js.map
  main.d47fcf65b5134ab6f5ab.bundle.js
  main.d47fcf65b5134ab6f5ab.bundle.js.map
  runtime~main.12e51b081cbf5d958933.bundle.js
  runtime~main.12e51b081cbf5d958933.bundle.js.map
  runtime~main.d47fcf65b5134ab6f5ab.bundle.js.map
  vendors~main.12e51b081cbf5d958933.bundle.js
  vendors~main.12e51b081cbf5d958933.bundle.js.LICENSE.txt
  vendors~main.12e51b081cbf5d958933.bundle.js.map
  vendors~main.d47fcf65b5134ab6f5ab.bundle.js.map
Due: none

needs client data
  eq-author/src/App/folder/Design/deleteFolder.graphql
  eq-author/src/App/folder/Design/index.js
  eq-author/src/App/folder/Design/onCompleteDelete.js
  eq-author/src/App/folder/Design/withDeleteFolder.js
  eq-author/src/App/page/Design/withDeletePage.js
  eq-author/src/App/section/Design/index.js
  eq-author/src/components/EditorToolbar/index.js
Due: author

Fix enter in wrong place
  eq-author-api/schema/resolvers/pages/questionPage.js
Due: api

Add todo
  eq-author/src/enhancers/withCreateQuestionPage.js
Due: author

Add constants
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
Due: author

Readd calculated summary pages
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/resolvers/pages/calculatedSummaryPage.js
  eq-author-api/schema/resolvers/utils.js
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu/AddMenu.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/NavigationHeader.js
  eq-author/src/App/QuestionnaireDesignPage/index.js
  eq-author/src/hooks/useCreateQuestionPage.js
Due: author, api

Update eq-author/src/components/NavItem/index.js
  eq-author/src/components/NavItem/index.js
Due: author

Update eq-author/src/components/CollapsibleNavItem/index.js
  eq-author/src/components/CollapsibleNavItem/index.js
Due: author

Update eq-author/src/components/Badge/index.js
  eq-author/src/components/Badge/index.js
Due: author

Refactoring as per review comments
  eq-author/src/components/CollapsibleNavItem/index.js
  eq-author/src/components/NavItem/index.js
Due: author

Separate questionnaire utils
  eq-author/src/App/QuestionnaireDesignPage/index.js
  eq-author/src/utils/questionnaireUtils/index.js
Due: author

Refactoring as per review comments
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
  eq-author/src/components/CollapsibleNavItem/index.js
Due: author

Move add menu to navigation header
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/NavigationHeader.js
Due: author

Remove add entity logic
  eq-author/src/App/QuestionnaireDesignPage/index.js
Due: author

Remove unused props and tidy up
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/NavigationHeader.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
  eq-author/src/App/QuestionnaireDesignPage/index.js
Due: author

Remove
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
Due: author

Remove to align with matt pr
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/NavigationHeader.js
Due: author

Remove useParams
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu/AddMenu.js
Due: author

delete working well - needs icon, toast and tests
  eq-author/src/App/folder/Design/getFolderQuery.graphql
  eq-author/src/App/folder/Design/index.js
  eq-author/src/App/folder/Design/onCompleteDelete.js
  eq-author/src/App/folder/Design/withDeleteFolder.js
  eq-author/src/App/page/Design/withDeletePage.js
  eq-author/src/App/section/Design/withDeleteSection.js
  eq-author/src/components/EditorToolbar/index.js
Due: author

💄 EAR-1181: Add on hover styling to chevrons
  eq-author/src/components/CollapsibleNavItem/index.js
Due: author

EAR-1170, EAR-1171, EAR-1173: Various style fixes for folders. (#1822)
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/NavigationHeader.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/__snapshots__/NavigationHeader.test.js.snap
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
  eq-author/src/components/Badge/index.js
  eq-author/src/components/CollapsibleNavItem/index.js
  eq-author/src/components/NavItem/index.js
Due: author

Deploying to gh-pages from @ 0cd6394f4fbfa45d4660e5f8f3bfe071c018a4c9 🚀
  iframe.html
  main.12e51b081cbf5d958933.bundle.js
  main.12e51b081cbf5d958933.bundle.js.map
  main.326e57673c3aa0b37537.bundle.js
  main.326e57673c3aa0b37537.bundle.js.map
  runtime~main.12e51b081cbf5d958933.bundle.js.map
  runtime~main.326e57673c3aa0b37537.bundle.js
  runtime~main.326e57673c3aa0b37537.bundle.js.map
  vendors~main.12e51b081cbf5d958933.bundle.js.map
  vendors~main.326e57673c3aa0b37537.bundle.js
  vendors~main.326e57673c3aa0b37537.bundle.js.LICENSE.txt
  vendors~main.326e57673c3aa0b37537.bundle.js.map
Due: none

linter fix
  eq-author/src/components/EditorToolbar/index.js
Due: author

missed linter
  eq-author/src/App/section/Design/index.js
Due: author

🛠 EAR 1185 - Add addt. guidance panel migration
  eq-author-api/middleware/runQuestionnaireMigrations.js
  eq-author-api/migrations/addGuidancePanelSwitch.js
  eq-author-api/migrations/addGuidancePanelSwitch.test.js
  eq-author-api/migrations/index.js
Due: api

💄 EAR-1181: Add on hover styling to chevrons (#1830)
  eq-author/src/components/CollapsibleNavItem/index.js
Due: author

Deploying to gh-pages from @ 9a492182e50764ebe7c4067178f09f3ec3baa091 🚀
  iframe.html
  main.098276ab7dbe06378f24.bundle.js
  main.098276ab7dbe06378f24.bundle.js.map
  main.326e57673c3aa0b37537.bundle.js
  main.326e57673c3aa0b37537.bundle.js.map
  runtime~main.098276ab7dbe06378f24.bundle.js
  runtime~main.098276ab7dbe06378f24.bundle.js.map
  runtime~main.326e57673c3aa0b37537.bundle.js.map
  vendors~main.098276ab7dbe06378f24.bundle.js
  vendors~main.098276ab7dbe06378f24.bundle.js.LICENSE.txt
  vendors~main.098276ab7dbe06378f24.bundle.js.map
  vendors~main.326e57673c3aa0b37537.bundle.js.map
Due: none

🛠 EAR 1185 - Add addt. guidance panel migration (#1831)
  eq-author-api/middleware/runQuestionnaireMigrations.js
  eq-author-api/migrations/addGuidancePanelSwitch.js
  eq-author-api/migrations/addGuidancePanelSwitch.test.js
  eq-author-api/migrations/index.js
Due: api

🛠 EAR 1190 - Fix metadata piping
  eq-author/src/App/QuestionnaireDesignPage/__snapshots__/index.test.js.snap
  eq-author/src/App/QuestionnaireDesignPage/getQuestionnaireQuery.graphql
Due: author

Toggle now doesn't move section
  eq-author/src/components/CollapsibleNavItem/index.js
Due: author

🛠 EAR 1190 - Fix metadata piping (#1832)
  eq-author/src/App/QuestionnaireDesignPage/__snapshots__/index.test.js.snap
  eq-author/src/App/QuestionnaireDesignPage/getQuestionnaireQuery.graphql
Due: author

Toggle now doesn't move section (#1833)
  eq-author/src/components/CollapsibleNavItem/index.js
Due: author

Deploying to gh-pages from @ 0fe99bee25b90d736125d79851a64df220a60eb1 🚀
  iframe.html
  main.098276ab7dbe06378f24.bundle.js
  main.098276ab7dbe06378f24.bundle.js.map
  main.8f27742e2fc41303135f.bundle.js
  main.8f27742e2fc41303135f.bundle.js.map
  runtime~main.098276ab7dbe06378f24.bundle.js.map
  runtime~main.8f27742e2fc41303135f.bundle.js
  runtime~main.8f27742e2fc41303135f.bundle.js.map
  vendors~main.098276ab7dbe06378f24.bundle.js.map
  vendors~main.8f27742e2fc41303135f.bundle.js
  vendors~main.8f27742e2fc41303135f.bundle.js.LICENSE.txt
  vendors~main.8f27742e2fc41303135f.bundle.js.map
Due: none

Initial duplicate folder
  eq-author-api/tests/utils/contextBuilder/folder/duplcateFolder.js
  eq-author/src/App/folder/Design/getFolderQuery.graphql
  eq-author/src/App/folder/Design/index.js
  eq-author/src/App/folder/Design/onCompleteDuplicate.js
  eq-author/src/graphql/duplicateFolder.graphql
Due: author, api

Fix missing position value error
  eq-author/src/App/folder/Design/index.js
Due: author

Folder is now in line with rest of section items
  eq-author/src/components/CollapsibleNavItem/index.js
  eq-author/src/components/NavItem/index.js
Due: author

added icon and displayName
  eq-author/src/App/folder/Design/getFolderQuery.graphql
  eq-author/src/App/folder/Design/icon-dialog-folder.svg
  eq-author/src/App/folder/Design/index.js
  eq-author/src/App/folder/Design/onCompleteDelete.js
  eq-author/src/components/EditorToolbar/index.js
Due: author

Fix query errors
  eq-author-api/tests/utils/contextBuilder/folder/duplicateFolder.js
  eq-author/src/App/folder/Design/index.js
  eq-author/src/App/folder/Design/onCompleteDuplicate.js
  eq-author/src/components/EditorToolbar/index.js
  eq-author/src/graphql/duplicateFolder.graphql
Due: author, api

Path conditions:
  author: any of: eq-author/, but not: eq-author/src/stories
  api: any of: eq-author-api/, but not: eq-author/src/stories
  publisher: any of: eq-publisher/, but not: eq-author/src/stories
