Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

update definitions and entities
  eq-author-api/schema/resolvers/base.js
  eq-author-api/src/validation/index.js
  eq-author-api/src/validation/schemas/definitions.json
  eq-author-api/src/validation/schemas/entities.json
  eq-author/src/App/qcodes/QCodesTable/graphql/getAllAnswers.graphql
  eq-author/src/App/qcodes/QCodesTable/graphql/updateCalculatedSummary.graphql
  eq-author/src/App/qcodes/QCodesTable/graphql/updateConfirmationQCode.graphql
  eq-author/src/App/qcodes/QCodesTable/graphql/updateOptionMutation.graphql
  eq-author/src/App/qcodes/QCodesTable/index.js
  eq-author/src/components/EditorLayout/Tabs/index.js
  eq-author/src/graphql/createCalculatedSummaryPage.graphql
Due: author, api

small updates to graphql
  eq-author-api/src/validation/schemas/entities.json
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/index.js
  eq-author/src/App/qcodes/QCodesTable/graphql/getAllAnswers.graphql
  eq-author/src/App/qcodes/QCodesTable/index.js
  eq-author/src/graphql/createAnswer.graphql
Due: author, api

Add AJV validation for CalculatedSummaryPage qCode
  eq-author-api/src/validation/schemas/entities.json
Due: api

Fix inaccurate error on calcsum title when qCode error present
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/index.js
Due: author

Remove 'error dot' from Design tab when only errors are QCode errors
  eq-author/src/components/EditorLayout/Tabs/index.js
Due: author

Add parentheses to keep codacy happy
  eq-author-api/schema/resolvers/pages/calculatedSummaryPage.js
Due: api

Revert & remove calculated summary pages from QCodes validation - not required after discussion w/ Martyn
  eq-author-api/schema/resolvers/pages/calculatedSummaryPage.js
  eq-author-api/src/validation/schemas/entities.json
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/index.js
  eq-author/src/App/qcodes/QCodesTable/index.js
Due: author, api

update jest timeout and tests
  eq-author-api/schema/tests/validation.test.js
  eq-author/src/App/qcodes/QCodesTable/graphql/updateCalculatedSummary.graphql
  eq-author/src/App/qcodes/QCodesTable/index.test.js
Due: author, api

Force AJV validation for qcode in confirmation question
  eq-author-api/src/validation/schemas/entities.json
Due: api

Display confirmation question errors in QCodesTable, update resolver to hide qcode errors as per current approach
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/resolvers/pages/questionPage.js
  eq-author/src/App/qcodes/QCodesTable/index.js
Due: author, api

Add serverside generation of validationErrorInfo for MultipleChoiceAnswer type
  eq-author-api/schema/resolvers/base.js
Due: api

fix for checkbox options
  eq-author-api/src/validation/schemas/entities.json
Due: api

Add validation for qcodes in DateRange (add validation logic for secondary QCodes)
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/resolvers/pages/questionPage.js
  eq-author-api/src/validation/index.js
  eq-author-api/src/validation/schemas/entities.json
  eq-author/src/App/qcodes/QCodesTable/index.js
  eq-author/src/components/EditorLayout/Tabs/index.js
Due: author, api

Fix duplicated error messages in qcode table for DateRange
  eq-author/src/App/qcodes/QCodesTable/index.js
Due: author

fix for api tests
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/tests/multipleChoiceAnswer.test.js
  eq-author-api/schema/tests/page.test.js
  eq-author-api/src/validation/index.js
  eq-author-api/src/validation/index.test.js
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/App/qcodes/QCodesTable/index.js
Due: author, api

fixed update issue on qCode options
  eq-author-api/schema/resolvers/base.js
  eq-author/src/App/qcodes/QCodesTable/graphql/updateAnswerMutation.graphql
  eq-author/src/App/qcodes/QCodesTable/graphql/updateConfirmationQCode.graphql
  eq-author/src/App/qcodes/QCodesTable/graphql/updateOptionMutation.graphql
  eq-author/src/App/qcodes/QCodesTable/index.js
Due: author, api

fix broken tests
  eq-author-api/src/validation/index.test.js
Due: api

add coverage for validation tests
  eq-author-api/src/validation/index.test.js
Due: api

fix QCodesTable tests
  eq-author/src/App/qcodes/QCodesTable/index.js
  eq-author/src/App/qcodes/QCodesTable/index.test.js
Due: author

tidy up
  eq-author/src/App/qcodes/QCodesTable/index.js
  eq-author/src/App/qcodes/QCodesTable/index.test.js
Due: author

jest timeout issue
  eq-author-api/schema/tests/validation.test.js
Due: api

EAR 922 changes - disable qCode entry for checkbox questions (only options should get qCodes)
  eq-author-api/schema/resolvers/pages/questionPage.js
  eq-author-api/src/validation/schemas/entities.json
  eq-author/src/App/qcodes/QCodesTable/graphql/updateAnswerMutation.graphql
  eq-author/src/App/qcodes/QCodesTable/index.js
Due: author, api

Refactored buildRouting
  eq-author-api/tests/utils/contextBuilder/buildRouting.js
Due: api

removed type ===page and fixed tests
  eq-author-api/schema/resolvers/pages/questionPage.js
  eq-author-api/schema/tests/multipleChoiceAnswer.test.js
  eq-author-api/schema/tests/page.test.js
  eq-author-api/src/validation/schemas/entities.json
Due: api

Disable Skip tab
  eq-author/src/App/page/Logic/Routing/RoutingPage/fragment.graphql
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/NoSkipConditions.js
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/fragment.graphql
  eq-author/src/App/page/Logic/index.js
Due: author

fix: eq-author-api/package.json & eq-author-api/yarn.lock to reduce vulnerabilities
  eq-author-api/package.json
  eq-author-api/yarn.lock
Due: api

fixed conflict
  eq-author/package.json
  eq-author/yarn.lock
Due: author

Add visual cancel button to interface
  eq-author/src/App/history/HistoryItem.js
Due: author

added the cancel button
  eq-author/src/App/history/HistoryItem.js
Due: author

EAR 954 - remove employment_date as default metadata in business surveys
  eq-author-api/migrations/addBusinessQuestionnaireIntroduction.test.js
  eq-author-api/utils/defaultMetadata.js
Due: api

Fix test
  eq-author-api/schema/tests/questionnaire.test.js
Due: api

Moved the disabling from the tab to the panel button
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/NoSkipConditions.js
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/index.js
  eq-author/src/App/page/Logic/index.js
Due: author

Restored index file from TAB changes
  eq-author/src/App/page/Logic/index.js
Due: author

Fix Radio/Checkbox label validation in UI
  eq-author/src/App/page/Design/answers/BasicAnswer/index.js
  eq-author/src/enhancers/withValidationError.js
Due: author

Fix routing tests
  eq-author-api/schema/tests/routing.test.js
  eq-author-api/tests/utils/contextBuilder/buildRouting.js
Due: api

Include folder into destination typedef
  eq-author-api/schema/typeDefs.js
Due: api

Add start code for cancel button logic
  eq-author/src/App/history/HistoryItem.js
  eq-author/src/App/history/HistoryPage.js
  eq-author/src/App/history/cancelHistoryNoteMutation.graphql
Due: author

Add folder migration (need to import into index)
  eq-author-api/migrations/addFolders.js
  eq-author-api/migrations/addFolders.test.js
Due: api

include addFolders in migration imports
  eq-author-api/migrations/index.js
Due: api

Path conditions:
  author: any of: eq-author/, but not: eq-author/src/stories
  api: any of: eq-author-api/, but not: eq-author/src/stories
  publisher: any of: eq-publisher/, but not: eq-author/src/stories
