Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

🧹 Lint
  eq-author/src/components/preview/Answers/index.test.js
  eq-author/src/tests/utils/createMockQuestionnaire.js
Due: author

✅ The final snapshot?
  eq-author/src/components/preview/Answers/__snapshots__/index.test.js.snap
  eq-author/src/components/preview/Answers/index.test.js
Due: author

✅ Add UI tests, do empty checks in utility fn
  eq-author/src/App/page/Logic/BinaryExpressionEditor/RoutingAnswerContentPicker.js
  eq-author/src/components/RichTextEditor/PipingMenu.js
  eq-author/src/utils/getContentBeforeEntity.js
  eq-author/src/utils/getContentBeforeEntity.test.js
Due: author

✅ Add tests for answer preprocessing functions
  eq-author/src/App/page/Logic/BinaryExpressionEditor/RoutingAnswerContentPicker.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/RoutingAnswerContentPicker.test.js
  eq-author/src/components/RichTextEditor/PipingMenu.test.js
Due: author

Fixed spacing on nav panel
  eq-author/src/components/CollapsibleNavItem/index.js
Due: author

resolver fix for sorting comment dates
  eq-author-api/schema/resolvers/base.js
  eq-author/src/components/CommentsPanel/index.js
Due: author, api

✅ Add tests for pageContext & getContentBeforeEnt.
  eq-author/src/App/page/Design/Validation/PreviousAnswerContentPicker.js
  eq-author/src/components/QuestionnaireContext/index.test.js
  eq-author/src/utils/getContentBeforeEntity.test.js
Due: author

🛠 Fix routing prev. answers AJV validation
  eq-author-api/src/validation/customKeywords/validateRoutingRules.js
Due: api

tidy up
  eq-author-api/schema/resolvers/base.js
  eq-author/src/components/CommentsPanel/index.js
Due: author, api

🛠 Fix UI group errors for min/max validation
  eq-author/src/App/page/Design/Validation/AnswerValidation.js
Due: author

Add shortcode & title to contentPickerSelect
  eq-author/src/App/page/Design/Validation/__snapshots__/MetadataContentPicker.test.js.snap
  eq-author/src/App/page/Design/Validation/__snapshots__/PreviousAnswerContentPicker.test.js.snap
  eq-author/src/App/page/Logic/BinaryExpressionEditor/RoutingAnswerContentPicker.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/RoutingAnswerContentPicker.test.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/__snapshots__/RoutingAnswerContentPicker.test.js.snap
  eq-author/src/App/page/Logic/BinaryExpressionEditor/fragment.graphql
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.js
  eq-author/src/components/ContentPickerSelect/__snapshots__/index.test.js.snap
  eq-author/src/components/ContentPickerSelect/index.js
  eq-author/src/components/ContentPickerSelect/index.test.js
  eq-author/src/components/ContentPickerSelect/useTruncation.js
  eq-author/src/utils/stripHTML.js
Due: author

Add stripHTML test
  eq-author/src/utils/stripHTML.test.js
Due: author

Fix y-axis text cut off
  eq-author/src/components/ContentPickerSelect/index.js
Due: author

✅ Fix test for routing
  eq-author-api/src/validation/index.test.js
Due: api

Fixed error dot caused by multiple choice options
  eq-author/src/App/page/Design/QuestionPageEditor/withUpdateQuestionPage.js
  eq-author/src/graphql/createAnswer.graphql
  eq-author/src/graphql/fragments/option.graphql
Due: author

Confirmation pages now do not replace the page they belong to
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
Due: author

fix tests and add sort comments to frontend
  eq-author-api/schema/resolvers/base.js
  eq-author/src/components/CommentsPanel/index.js
  eq-author/src/components/CommentsPanel/index.test.js
Due: author, api

Code review suggestions
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector.js
  eq-author/src/components/QuestionnaireContext/index.test.js
Due: author

Update eq-author/src/App/folder/Design/index.js
  eq-author/src/App/folder/Design/index.js
Due: author

remove resolver sorting
  eq-author-api/schema/resolvers/base.js
Due: api

fix calc summary
  eq-author/src/graphql/createCalculatedSummaryPage.graphql
Due: author

Fixed spacing
  eq-author/src/components/CollapsibleNavItem/index.js
Due: author

fix for calc summary
  eq-author/src/graphql/createFolder.graphql
  eq-author/src/graphql/createQuestionPage.graphql
Due: author

fix for duplcate section
  eq-author/src/graphql/duplicateSection.graphql
Due: author

Fix test
  eq-author/src/App/page/Design/QuestionPageEditor/withUpdateQuestionPage.test.js
Due: author

fix for confirmation error count
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
Due: author

Deploying to gh-pages from @ 1f1c295cf44a64358fb01dcaddc835fe7d9ee778 🚀
  iframe.html
  main.5cf90865728ddbe0f29c.bundle.js.map
  main.fb03210c50440caf8dd3.bundle.js
  main.fb03210c50440caf8dd3.bundle.js.map
  runtime~main.5cf90865728ddbe0f29c.bundle.js.map
  runtime~main.fb03210c50440caf8dd3.bundle.js
  runtime~main.fb03210c50440caf8dd3.bundle.js.map
  vendors~main.5cf90865728ddbe0f29c.bundle.js.map
  vendors~main.fb03210c50440caf8dd3.bundle.js
  vendors~main.fb03210c50440caf8dd3.bundle.js.LICENSE.txt
  vendors~main.fb03210c50440caf8dd3.bundle.js.map
Due: none

Updated snaps
  eq-author/src/App/QuestionnaireDesignPage/__snapshots__/index.test.js.snap
Due: author

Deploying to gh-pages from @ dbe86b4188e94c350997c15f918e494e548ee942 🚀
  iframe.html
  main.d47fcf65b5134ab6f5ab.bundle.js
  main.d47fcf65b5134ab6f5ab.bundle.js.map
  main.fb03210c50440caf8dd3.bundle.js
  main.fb03210c50440caf8dd3.bundle.js.map
  runtime~main.d47fcf65b5134ab6f5ab.bundle.js
  runtime~main.d47fcf65b5134ab6f5ab.bundle.js.map
  runtime~main.fb03210c50440caf8dd3.bundle.js.map
  static/media/icon-chevron-down-blue.4a6a0ab1.svg
  static/media/icon-chevron-right-blue.8da6df9e.svg
  static/media/icon-chevron.5bd0d16b.svg
  vendors~main.d47fcf65b5134ab6f5ab.bundle.js
  vendors~main.d47fcf65b5134ab6f5ab.bundle.js.LICENSE.txt
  vendors~main.d47fcf65b5134ab6f5ab.bundle.js.map
  vendors~main.fb03210c50440caf8dd3.bundle.js
  vendors~main.fb03210c50440caf8dd3.bundle.js.map
Due: none

fix for duplicates and radios
  eq-author/src/graphql/duplicatePage.graphql
  eq-author/src/graphql/duplicateSection.graphql
Due: author

Enable duplicate button
  eq-author/src/components/EditorToolbar/index.js
Due: author

Add inside/outside folder buttons
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.test.js
  eq-author/src/tests/utils/createMockQuestionnaire.js
Due: author

This as well
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu.test.js
Due: author

Convert add menu tests
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu.test.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/__snapshots__/AddMenu.test.js.snap
Due: author

Revert add menu
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu.js
Due: author

Remove params
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu.js
Due: author

Remove logs
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
Due: author

Path conditions:
  author: any of: eq-author/, but not: eq-author/src/stories
  api: any of: eq-author-api/, but not: eq-author/src/stories
  publisher: any of: eq-publisher/, but not: eq-author/src/stories
